<P class="text_predict">PREDICTION FOR <span class="pred_year_q">Q1 - FY23</span></P>
<span class="col">
    <span class="legends">
        <span class="span_color_green">
            <div class="color_green"></div>&nbsp;Low(Predicted Percentage Attrition<=60)
        </span>
        <span>
            <div class="color_red"></div>&nbsp;High(Predicted Percentage Attrition>60)
        </span>
    </span>
</span>  

<div class="row prediction_row">
    <div class="col-6 col-lg-6 col-md-3 col-sm-6">
        <div class="ma-default-card ma-default-card-sm">
            <h2>Attrition No</h2>
            <div class="ma-default-card-sm-content-box">
                <h1>{{percent_achivement.a}}%</h1>
            </div>
        </div>
    </div>
    <div class="col-6 col-lg-6 col-md-3 col-sm-6">
        <div class="ma-default-card ma-default-card-sm">
            <h2>Attrition Yes</h2>
            <div class="ma-default-card-sm-content-box">
                <h1>{{percent_achivement.b}}%</h1>
            </div>
        </div>
    </div>
</div>

<div class="row ">

  
    <div class="col-lg-12 col-md-12 col-12 mb-3 mt-3">
        <app-predictive-ngx-treemap [filter_data_tree_map]="treeMapData" (predic_perf)="pred_perfom_data($event)" ></app-predictive-ngx-treemap>
        <!-- <app-predictive-tree-map [filter_data_tree_map]="treeMapData" (predic_perf)="pred_perfom_data($event)" (filter_values)="temp_function($event)">
        </app-predictive-tree-map> -->

    </div>
     
    <div class="col-lg-12 col-12 mb-3 download-wrap">
        <div class=" parameter_card">
            <p id="parameters_heading">Parameters</p>
            <img title="Download csv" class="svgDownload" src="../../../assets/img/icons8-csv.svg"
          (click)="download_parameters_data($event)">
            <img src="../../../assets/img/jpg (1).svg" title="Download Image" class="jpegDownload"
                (click)="dom_to_image_non_stack($event,'parameter_bar_chart')">
            <app-parameters-bar-chart [data]="parameters_data"></app-parameters-bar-chart>
            <!-- <app-horizontal-stacked [data]="parameters_data"></app-horizontal-stacked> -->
            
        </div>
    </div>
    <div class="col-12 mb-3 download-wrap">
        <div class="parameter_card">
            <p id="parameters_heading">Partial Dependence Plot</p>
            <img src="../../../assets/img/jpg (1).svg" title="Download Image" class="jpegDownload"
                (click)="dom_to_image_non_stack($event,'partial_dependency_chart')">
            <app-pdb-curve ></app-pdb-curve>
        </div>
    </div>
    <div class="col-12 mb-3">
        <app-predict-emp-table (filter_values)="pred_emp_temp($event)" [filter]="emp_table_filters">
        </app-predict-emp-table>
    </div>
</div>
