
.text_predict{
    color: black;
    margin:20px 0px;
    font-family: openSans_bold;
    font-size: 20px;
    padding-left: 10px;
    border-left: #E51C39 solid 5px;
}
  
.pred_year_q{
    color:#E51C39;
}

.sfilter {
    width: 100% !important;   
    border-radius: 50px;
    font-family:openSans_regular;
  }
rect.blur{
    opacity: 0.6;
  }
rect.active{
    opacity: 1.0;
  }

.ma-default-card h1 {
    font-size: 30px;
    font-weight: bold;
    color: #333;
}

  .btn-class {
    border-radius: 50px;
    margin-bottom: -20px;
    width: 100%;
    background-color: #e51c39;
    color: white;
    font-family:openSans_regular;
  }
.card_prediction{
    border: 1px solid rgba(0,0,0,.125);
    text-align: center;
    padding: 8px 0px 20px 0px;
    font-family: openSans_semibold;
    height: 109px;
    color: #00000096;
    font-size: 16px;
    background: #fff;
}

.card_prediction p{
    margin-bottom:0 !important; 
    font-family: openSans_bold;
    font-size: 25px;
}

.heading-text{
    padding-bottom: 2px;
}

.card_body_prediction .a_color,
.card_body_prediction .c_color,
.card_body_prediction .d_color,
.card_body_prediction .b_color{
    font-size: 29px;
    margin: 0px !important;
    font-family: openSans_semibold;
}

.a_color{
    color: #4ed54e
}

.b_color{
    color: #FFD700
}
.c_color{
    color: #FF8C00
}
.d_color{
    color: #ff2828;
}


.parameter_card{
    border: 1px solid rgba(0,0,0,.125);
    width: 100%;
    min-height: 400px;
    height: auto;
    position: relative;
    border-radius:4px;
    background: #fff;
}

.parameter_card #parameters_heading{
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 15px;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 2px solid #e31837;
}

.jpegDownload{
    position: absolute;
    right: 9px;
    top: 10px;
    cursor: pointer;
    height: 18px;
}

/* .svgDownload{

} */

.col .jpegDownload{
    position: absolute;
    right: 42px;
    top: 52px;
    cursor: pointer;
    height: 18px;
}

.svgDownload{
    position: absolute;
    right: 26px;
    top: 10px;
    font-size: 18px;
    cursor: pointer;
    height: 18px;
}

.col h6{
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-family: openSans_semibold;
    color: #00000096;
    font-size: 14px;
    left: 0px;
}
.simulation-header{
    margin:20px 0px;
    font-family: openSans_bold;
    font-size: 20px;
    padding-left: 10px;
    border-left: #E51C39 solid 5px;
  }    

.filter-form{
    width:100%
} 
.col {
    position: relative;
    min-height: 348px;
    height: auto;
}    


.col .legends {
    text-align: center;
    width: 100%;
    margin-top: 1px;
    font-size: 15px;
    position: relative;
    float: right;
}

.col .legends div {
    margin-left: 10px;
    height:12px;
    width:12px;
    border-radius: 50%;
}


.legends .color_green{
    background: #4ed54e,

}

.span_color_green{

    float: left;
}

.legends .color_yellow{
    background: #FFD700
}

.legends .color_amber{
    background: #FF8C00
}

.legends .color_red{
    background: #ff2828
}

.legends div{
    display: inline-block
}


/* switch */

.switch_criteria{
    height:38px;
    line-height: 38px;
    border: 1px solid rgba(0,0,0,.125);
    text-align: center;
    font-family:openSans_regular;
    font-size:15px;
    margin-bottom:7px;
}

.switch_criteria_kpi{
    height:35px;
    line-height: 35px;
    margin-bottom: -10px;
}

.switch_criteria .criteria{
    font-family:openSans_semibold;
    margin-right: 15px 
}

.switch_criteria .form-check-inline{
    margin-right: 15px 
}

/* The container */
.form-check-label {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.form-check-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 8px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border:1px solid #e51c39;
}

.switch_criteria_kpi .checkmark{
    position: absolute;
    top: 8px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border:1px solid #e51c39;
}


/* On mouse-over, add a grey background color */
.form-check-label:hover input ~ .checkmark {
    background-color: #e51c3a25;
}

/* When the radio button is checked, add a blue background */
.form-check-label input:checked ~ .checkmark {
    background-color: #fff;
    border:1px solid #e51c39;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.form-check-label input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.form-check-label .checkmark:after {
    top: 3px;
    left: 3px;
    width: 12px;
    height: 12px;
    background: #e51c39;
}
