<!-- 
<div class="form-data mb-4">
    <form (ngSubmit)="filterSubmit()">
      <div class="row filter">
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
          <div class="form-group">
            <select class="custom-select table_filter" name="table_filter" [(ngModel)]="table_filter.limit"
              id="inputGroupSelect01">
              <option value="10" >10</option>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
              <option value="all" selected>>100</option>
            </select>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
          <div class="form-group">
            <button class="btn btn-class" type="submit">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div> -->
  
  <div id="predictive_emp_data">
    <h4 class="page-header">Employee Details</h4>
    <img title="Download csv" class="svgDownload" src="../../../assets/img/icons8-csv.svg" (click)="download($event)">
    <div class="box-content">
        <div class="loading">
          <div class="status">
            <img class="loading-img" src="assets/img/loadericon.svg" />
            <p class="no-data" hidden>No Data Available</p>
          </div>
        </div>
        <table id="audits" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
  
        class="row-border hover table-striped table-bordered table-hover table-capital" id="manager_data" width="100%" #chartContainer>
        <thead class="thead-dark">
          <!-- <tr>
            <th *ngFor="let title of tabTitreColonnesXLS" data-field="title">{{title}}</th>
          </tr> -->
        </thead>
      </table>
      </div>
  </div>
  