.svgDownload{
    height: 18px;
    margin-left:11%;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right:15px;
}

.page-header{
  font-size: 16px;
    font-weight: bold;
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 2px solid #e31837;
}


.btn-class {
    border-radius: 50px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #e51c39;
    color: white;
    font-family:  openSans_regular;
  }
  .table_filter{
    padding: 0px 20px;
    width: 100%;
    height: 40px;
    border-radius: 50px;
    margin-right: 10px;
  }

#predictive_emp_data {
  padding: 15px;
  background: #fff;
  position: relative;
}