<div class="comparison-container">
    <div class="row" style="margin: 0;">
    <div class="col-md-6">
        <div class="ma-default-card ma-default-card-sm">
            <h2>Left Total Employees Left</h2>
            <div class="ma-default-card-sm-content-box">
                <h1>{{ mainDashboardData.left_side_emp_left }}</h1>
            </div>
        </div>
        <div class="ma-default-card ma-default-card-sm">
            <h2>Left Attrition Percentage</h2>
            <div class="ma-default-card-sm-content-box">
                <h1>{{ mainDashboardData.left_side_attrition_percentage }}</h1>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="ma-default-card ma-default-card-sm">
            <h2>Right Total Employees Left</h2>
            <div class="ma-default-card-sm-content-box">
                <h1>{{ mainDashboardData.right_side_emp_left }}</h1>
            </div>
        </div>
        <div class="ma-default-card ma-default-card-sm">
            <h2>Right Attrition Percentage</h2>
            <div class="ma-default-card-sm-content-box">
                <h1>{{ mainDashboardData.right_side_attrition_percentage }}</h1>
            </div>
        </div>
    </div>
</div>
    <div class="row" style="margin: 0;">
        <div class="col-md-12">
            <div class="ma-default-card ma-default-card-lg">
                <h2>Attrition By Level Of Areas ( Left comparison )</h2>
                <div class="treemap-breadcrumb" *ngIf="left_breadcrumb !== undefined">
                    <div *ngIf="left_breadcrumb">
                        <button class="breadcrumb-list" *ngFor="let val of left_breadcrumb">{{ dropdownTypeArr[val] }}></button>
                    </div>
                </div>
                <div class="ma-default-card-lg-content-box">
                    <div class="error-msg" *ngIf="left_treemap_error_msg.error_msg !== undefined">
                        <h3 *ngIf="left_treemap_error_msg.error_msg.key">
                            {{ left_treemap_error_msg.error_msg.value }}
                        </h3>
                    </div>
                    <app-treemap [mainGraphData]="leftTreemapData" (click)="returnDiv(1)"></app-treemap>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin: 0;">
        <div class="col-md-12">
            <div class="ma-default-card ma-default-card-lg">
                <h2>Attrition By Level Of Areas ( Right comparison )</h2>
                <div class="treemap-breadcrumb" *ngIf="right_breadcrumb !== undefined">
                    <div *ngIf="right_breadcrumb.key">
                        <button class="breadcrumb-list" *ngFor="let val of right_breadcrumb.val">{{ dropdownTypeArr[val] }}></button>
                    </div>
                </div>
                <div class="ma-default-card-lg-content-box">
                    <div class="error-msg" *ngIf="right_treemap_error_msg.error_msg !== undefined">
                        <h3 *ngIf="right_treemap_error_msg.error_msg.key">
                            {{ right_treemap_error_msg.error_msg.value }}
                        </h3>
                    </div>
                    <app-treemap [mainGraphData]="rightTreemapData" (click)="returnDiv(2)"></app-treemap>
                </div>
            </div>
        </div>
    </div>
    <div>
        <app-comparison-filter [mainData]="mainDashboardData" [leftSideFilters]='left_filters'  [rightsideFilters]='right_filters'></app-comparison-filter>
    </div>
</div>
<div class="right-sidebar-container" [@rightOpenClose]="rightSide">
    <div class="right-sidebar-container-loader" *ngIf="loaderactive">
        <mat-spinner class="loader-spinner" color="warn"></mat-spinner>
    </div>
    <div class="row" style="margin:0;">
        <div class="col-md-12">
            <div class="date-group-container">
                <i class="fa fa-exchange date-both-ways-symbol" aria-hidden="true"></i>
                <div class="sidebar-date-container">
                    <input class="form-control input-default-style" matInput [matDatepicker]="startdate" 
                    [min]="minDate" [max]="maxDate" [(ngModel)]="startDate" (dateChange)="getCustomStartDate($event.value)" placeholder="Start Date">
                    <mat-datepicker-toggle matSuffix [for]="startdate"></mat-datepicker-toggle>
                    <mat-datepicker #startdate></mat-datepicker>
                </div>
                <div class="sidebar-date-container">
                    <input class="form-control input-default-style" matInput [matDatepicker]="enddate" 
                    [min]="minDate" [max]="maxDate" [(ngModel)]="endDate" (dateChange)="getCustomEndDate($event.value)" placeholder="End Date">
                    <mat-datepicker-toggle matSuffix [for]="enddate"></mat-datepicker-toggle>
                    <mat-datepicker #enddate></mat-datepicker>
                </div>
            </div>
            <div class="sidebar-select-container" *ngFor="let select of sidebarDropdownSelectList; let i = index;">
                <div>
                    <mat-select-autocomplete 
                    class="autocomplete-select"
                    id="{{i}}"
                    [placeholder]="select.main_display_name"
                    [options]="select.main_data"
                    [multiple]='true'
                    [display]="'display'"
                    [value]="'value'"
                    [selectedOptions]="selectedOptions"
                    (selectionChange)="getSelectedOptions($event)"
                    (click)="getTypeOfDropdown(i)"
                    >
                    </mat-select-autocomplete>
                    <i class="fa fa-angle-down alternate-select-icon" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
    <button class="dropdown-reset-container-btn" title="Reset dropdown" (click)="resetDropdown()"><i class="fa fa-refresh dropdown-reset-btn" aria-hidden="true"></i></button>
    <button class="right-sidebar-submit-btn" (click)="rightSidebarSubmit()">SUBMIT</button>
</div>