/* rightsidebar */
.right-sidebar-container {
    position: fixed;
    top:120px;
    right:0;
    width: 250px;
    min-height: calc(100% - 120px);
    max-height: calc(100% - 120px);
    overflow: auto;
    background: #fff;
    box-shadow: -7px 0 10px -5px #c9c9c9;
    padding: 15px 0px 65px 0px;
    z-index:100;
}

.right-sidebar-container::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.right-sidebar-container::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.right-sidebar-container::-webkit-scrollbar-thumb
{
    background-color: rgba(0, 0, 0, 0.54);
    border-radius: 10px;
}

.right-sidebar-container-loader {
    position: fixed;
    top:120px;
    right:0px;
    width: 250px;
    min-height: calc(100% - 120px);
    max-height: calc(100% - 120px);
    background: rgba(0,0,0,0.3);
    text-align: center;
    z-index:1001;
}

.comparison-container {
    width: calc(100% - 250px);
}

.right-sidebar-submit-btn {
    position: fixed;
    bottom: 0;
    right: 70px;
    background: #e31837;
    font-size: 14px;
    font-weight: bold;
    padding: 0px 0px;
    height: 50px;
    width: 180px;
    border: none;
    color: #fff;
    -webkit-transition: 1s;
    transition: 1s;
}

.right-sidebar-submit-btn i {
    -webkit-transition: 1s;
    transition: 1s;
    margin-left: 10px;
}

.right-sidebar-submit-btn:hover i {
    transform: translateX(10px);
}

.loader-spinner {
    width: 40px !important;
    height: 40px !important;
    position: absolute;
    top: 50%;
    left: calc(50% - 20px);
    transform: translate(-50%, -50%);
}

.right-sidebar-container input {
    margin-bottom: 10px;
}

.date-group-container {
    position: relative;
}

.date-both-ways-symbol {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    padding: 12px 12px;
    border: 1px solid #ced4da;
    background: #fff;
    color:#e31837;
    z-index:1000;
    border-radius: 50%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.sidebar-date-container {
    position: relative;
}

.ma-default-card-sm-content-box {
    height: 100px;
    width: 100%;
    overflow: hidden;
}

.ma-default-card-sm-content-box h1 {
    line-height: 100px;
    font-size: 30px;
    font-weight: bold;
    color:#333;
}

.ma-default-card-sm-content-box h1 span {
    font-size: 15px;
}

.ma-default-card-lg-content-box {
    position: relative;
    margin-top: 10px;
    height: 400px;
    width: 100%;
    overflow: hidden;
}

.sidebar-select-container {
    position: relative;
    margin-bottom: 10px;
    height: 50px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.alternate-select-icon {
    position: absolute;
    right:23px;
    top:15px;
    color:rgba(0, 0, 0, 0.54);
}

.dropdown-reset-container-btn {
    position: fixed;
    bottom: 0;
    right: 0;
    background: #333;
    font-size: 14px;
    font-weight: bold;
    padding: 0px 0px;
    height: 50px;
    width: 70px;
    border: none;
    color: #fff;
    -webkit-transition: 1s;
    transition: 1s;
    z-index: 1000;
}

.dropdown-reset-container-btn i {
    -webkit-transition: 1s;
    transition: 1s;
}

.dropdown-reset-container-btn:hover i {
    transform: rotate(180deg);
}

.error-msg {
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
}