p{
    text-align: center;
    margin-bottom: -20px;
    font-family: openSans_semibold;
    color: rgb(24, 24, 24)
}

.chart{
    background: #fff
}

.loading {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 90%;
    background-color: #fff;
    z-index: 1000;
    top: 10%;
    left: 0px;
}

.loading .status {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    opacity: 0.7;
}

.text-center{
    font-family: openSans_semibold;
}
