<div class="row" style="margin: 0;">
    <div class="col-md-4">
        <div class="ma-default-card ma-default-card-sm">
            <h2>Total Employees Left</h2>
            <span class="download-btn">
            <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_consolidate_csv('employment_details_last_working_date')"></i>
        </span>
            <div class="ma-default-card-sm-content-box">
                <h1>{{ mainData.total_emp_left }}</h1>
            </div>
        </div>
        <div class="ma-default-card ma-default-card-sm">
            <h2>Attrition Percentage</h2>
            <div class="ma-default-card-sm-content-box">
                <h1>{{ mainData.attrition_percentage }}</h1>
            </div>
        </div>
        <div class="ma-default-card ma-default-card-sm">
            <h2>Average Tenure - Left (Years)</h2>
            <div class="ma-default-card-sm-content-box">
                <h1>{{ mainData.tenure_data }}</h1>
            </div>
        </div>
    </div>
    <div class="col-md-8" id="image-download-1">
        <div class="ma-default-card ma-default-card-lg" style="height: 382px;">
            <h2>Attrition Trend </h2>
            <span class="download-btn">
                <i class="fa fa-file-image-o" aria-hidden="true" title="Download as image" (click)="downloadAsImage('image-download-1', mainData.attrition_trend.data, ['year', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="exportToCsv('attrition_trend', mainData.attrition_trend.data, ['year', 'Attrition Percentage'])"></i>
            </span>
            <div class="ma-default-card-lg-content-box">
                <app-basic-line-chart [mainGraphData]="mainData.attrition_trend"></app-basic-line-chart>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin: 0;">
    <div class="col-md-12">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Attrition By Level Of Areas</h2>
            <div class="ma-default-card-lg-content-box">
                <div class="treemap-breadcrumb" *ngIf="mainData.breadcrumb !== undefined">
                    <div *ngIf="mainData.breadcrumb.key">
                        <button class="breadcrumb-list" *ngFor="let val of mainData.breadcrumb.val">{{ dropdownTypeArr[val] }}></button>
                    </div>
                </div>
                <div class="error-msg" *ngIf="mainData.error_msg !== undefined">
                    <h3 *ngIf="mainData.error_msg.key">
                        {{ mainData.error_msg.value }}
                    </h3>
                </div>
                <app-treemap [mainGraphData]="mainData.treemap_data" ></app-treemap>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin: 0;">
    <div class="col-md-6" id="image-download-2">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Attrition VS Compensation</h2>
             
                <button mat-icon-button [matMenuTriggerFor]="compMenu" class="color-def" aria-label="Example icon-button with a menu">Attrition Formula
                </button>
                <mat-menu #compMenu="matMenu" class="color-def-mat-menu">
                    <button mat-menu-item>
                        <div class="nav-table-container">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Attrition Formula</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Average =</td>
                                        <td> (Count of active employees as on start Date in particular compensation range category + Count of active employees as on end Date in particular compensation range category) / 2</td>
                                    </tr>
                                    <tr>
                                        <td>Number of employees left =</td>
                                        <td> Count of employees left between  start Date and end date in particular compensation range category</td>
                                    </tr>
                                    <tr>
                                        <td>Attrition percentage = </td>
                                        <td>(Number of employees left/Average)*100</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </button>
                </mat-menu> 
                <span class="download-btn">
                    
                    <!-- <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                        Tooltip on top
                      </button> -->
                <i class="fa fa-file-image-o" aria-hidden="true" title="Download as image" (click)="downloadAsImage('image-download-2', mainData.compensate_data.value, ['Annual compensation(fixed)', 'Attrition Percentage'])"></i>
                <!-- <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="exportToCsv('compensate_data', mainData.compensate_data.value,  ['Annual compensation(fixed)', 'Attrition Percentage'])"></i> -->
                <!-- EmpDetails<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_employee_csv('annual_compensation_range')"></i>
                Consolidate<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_consolidate_csv('annual_compensation_range')"></i>
                Contribution<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_contribution_csv('annual_compensation_range')"></i> -->
                <div class="float-right">
                    <mat-slide-toggle color="warn" [(ngModel)]="compensation_toggle" (change)="toggle_contribution($event.checked,'annual_compensation_range')">CON</mat-slide-toggle>
                 </div>
            </span>
            <div class="ma-default-card-lg-content-box">
                <app-bar-chart [mainGraphData]="mainData.compensate_data"></app-bar-chart>
            </div>
        </div>
    </div>
    <div class="col-md-6 no-padding-left" id="image-download-3">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Cohert Analysis</h2> <button mat-icon-button [matMenuTriggerFor]="expmenu" class="color-def" aria-label="Example icon-button with a menu">Attrition Formula
            </button>
            <mat-menu #expmenu="matMenu" class="color-def-mat-menu">
                <button mat-menu-item>
                    <div class="nav-table-container">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Attrition Formula</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Average =</td>
                                    <td> (Count of active employees as on start Date in particular experience range category + Count of active employees as on end Date in particular experience range category) / 2</td>
                                </tr>
                                <tr>
                                    <td>Number of employees left =</td>
                                    <td> Count of employees left between  start Date and end date in particular experience range category</td>
                                </tr>
                                <tr>
                                    <td>Attrition percentage = </td>
                                    <td>(Number of employees left/Average)*100</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </button>
            </mat-menu> 
            <span class="download-btn">
               
                <i class="fa fa-file-image-o" aria-hidden="true" title="Download as image" (click)="downloadAsImage('image-download-3', mainData.cohert_data.value, ['Total experience in months', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="exportToCsv('cohert_data', mainData.cohert_data.value, ['Total experience in months', 'Attrition Percentage'])"></i>
                EmpDetails<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_employee_csv('total_experience_months_in_mf_range')"></i>
                Consolidate<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_consolidate_csv('total_experience_months_in_mf_range')"></i>
                Contribution<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_contribution_csv('total_experience_months_in_mf_range')"></i>
            </span> <div class="float-right">
                <mat-slide-toggle color="warn"  [(ngModel)]="experience_toggle" (change)="toggle_contribution($event.checked,'total_experience_months_in_mf_range')">CON</mat-slide-toggle>
             </div>
            
            <div class="ma-default-card-lg-content-box">
                <app-bar-chart [mainGraphData]="mainData.cohert_data"></app-bar-chart>
                <!-- <app-bar-chart [mainGraphData]="toggleDashboardData.total_experience_months_in_mf_range" *ngIf='showCohertToggle'></app-bar-chart> -->

            </div>
        </div>
    </div>
</div>
<div class="row" style="margin: 0;">
    <div class="col-md-6" id="image-download-4">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Hiring Channel</h2> <button mat-icon-button [matMenuTriggerFor]="hiringmenu" class="color-def" aria-label="Example icon-button with a menu">Attrition Formula
            </button>
            <mat-menu #hiringmenu="matMenu" class="color-def-mat-menu">
                <button mat-menu-item>
                    <div class="nav-table-container">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Attrition Formula</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Average =</td>
                                    <td> (Count of active employees as on start Date in particular hiring channel category  + Count of active employees as on end Date in particular hiring channel category ) / 2</td>
                                </tr>
                                <tr>
                                    <td>Number of employees left =</td>
                                    <td> Count of employees left between  start Date and end date in particular hiring channel category </td>
                                </tr>
                                <tr>
                                    <td>Attrition percentage = </td>
                                    <td>(Number of employees left/Average)*100</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </button>
            </mat-menu> 
            <span class="download-btn">
              
                <button class='backButton' *ngIf="showHiringCategory" (click)="backHiringChannel()" >Back</button>
                
                <i class="fa fa-file-image-o" aria-hidden="true" title="Download as image"  *ngIf="showHiring" (click)="downloadAsImage('image-download-4', mainData.hiring_data.value, ['Hiring channel', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV"  *ngIf="showHiring" (click)="exportToCsv('hiring_data', mainData.hiring_data.value, ['Hiring channel', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-image-o" aria-hidden="true" title="Download as image" *ngIf="showHiringCategory" (click)="downloadAsImage('image-download-4', mainData.hiring_data_category.value, ['Hiring channel', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" *ngIf="showHiringCategory" (click)="exportToCsv('hiring_data', mainData.hiring_data_category.value, ['Hiring channel', 'Attrition Percentage'])"></i>
                EmpDetails<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_employee_csv('recruitement_data')"></i>
                Consolidate<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_consolidate_csv('recruitement_data')"></i>
                Contribution<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_contribution_csv('recruitement_data')"></i>
            </span>
            <div class="float-right">
                <mat-slide-toggle color="warn" [(ngModel)]="recruitement_toggle_category" (change)="toggle_contribution($event.checked,'recruitement_data_category')" *ngIf="showHiring">CON</mat-slide-toggle>
                <mat-slide-toggle color="warn" [(ngModel)]="recruitement_toggle" (change)="toggle_contribution($event.checked,'recruitement_data')" *ngIf="showHiringCategory">CON</mat-slide-toggle>

             </div>
            <div class="ma-default-card-lg-content-box">
                <app-bar-chart [mainGraphData]="mainData.hiring_data" (emitGraphData)="graphBarClick($event)" *ngIf="showHiring"></app-bar-chart>
                <app-bar-chart [mainGraphData]="mainData.hiring_data_category" *ngIf="showHiringCategory"></app-bar-chart>

            </div>
        </div>
    </div>
    <div class="col-md-6 no-padding-left" id="image-download-5">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Rating vs Attrition</h2>
            <button mat-icon-button [matMenuTriggerFor]="ratingmenu" class="color-def" aria-label="Example icon-button with a menu">Attrition Formula
            </button>
            <mat-menu #ratingmenu="matMenu" class="color-def-mat-menu">
                <button mat-menu-item>
                    <div class="nav-table-container">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Attrition Formula</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Average =</td>
                                    <td> (Count of active employees as on start Date in particular  rating category + Count of active employees as on end Date in particular rating category) / 2</td>
                                </tr>
                                <tr>
                                    <td>Number of employees left =</td>
                                    <td> Count of employees left between  start Date and end date in particular rating category</td>
                                </tr>
                                <tr>
                                    <td>Attrition percentage = </td>
                                    <td>(Number of employees left/Average)*100</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </button>
            </mat-menu> 
            <span class="download-btn rating-download-btn">
                <i class="fa fa-file-image-o" aria-hidden="true" title="Download as image" (click)="downloadAsImage('image-download-5', mainData.rating_data.value, ['Rating', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="exportToCsv('rating_data', mainData.rating_data.value, ['Rating', 'Attrition Percentage'])"></i>
                EmpDetails<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_employee_csv('rating')"></i>
                Consolidate<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_consolidate_csv('rating')"></i>
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_contribution_csv('rating')"></i>
            </span>
            <div class="float-right">
                <mat-radio-group aria-label="Select an option" color="warn" [(ngModel)]="ratingFilterVal" (change)="ratingFilter()">
                    <mat-radio-button [value]="1" checked>Avg</mat-radio-button>
                    <mat-radio-button [value]="2">Last Year</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="float-right">
                <mat-slide-toggle color="warn" [(ngModel)]="rating_toggle" (change)="toggle_contribution($event.checked,'rating')" [(ngModel)]="selected_toggle">CON</mat-slide-toggle>
             </div>
           
            <div class="ma-default-card-lg-content-box">
                <app-pie-chart [mainGraphData]="mainData.rating_data"></app-pie-chart>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin: 0;">
    <div class="col-md-12">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Factors</h2>
            <div class="sidebar-select-container">
                <mat-select-autocomplete 
                        class="autocomplete-select"
                        [placeholder]="'Select Factor'"
                        [multiple]='true'
                        [options]="factorOptions"
                        [display]="'display'"
                        [value]="'value'"
                        [selectedOptions]="selectedOptions"
                        (selectionChange)="getSelectedOptions($event)"
                        >
                </mat-select-autocomplete>
                <i class="fa fa-angle-down alternate-select-icon" aria-hidden="true"></i>
            </div>
        </div>
        <span class="loading-message" *ngIf="hideFilterLoader"><mat-spinner class="loader-spinner" color="warn"></mat-spinner></span>
    </div>
</div>

<div class="row" style="margin: 0;">
    <div class="col-md-6" *ngIf="showAgeGraph" id="image-download-6">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Age Group</h2> <button mat-icon-button [matMenuTriggerFor]="agemenu" class="color-def" aria-label="Example icon-button with a menu">Attrition Formula
            </button>
            <mat-menu #agemenu="matMenu" class="color-def-mat-menu">
                <button mat-menu-item>
                    <div class="nav-table-container">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Attrition Formula</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Average =</td>
                                    <td> (Count of active employees as on start Date in particular age group category + Count of active employees as on end Date in particular age group category) / 2</td>
                                </tr>
                                <tr>
                                    <td>Number of employees left =</td>
                                    <td> Count of employees left between  start Date and end date in particular age group category</td>
                                </tr>
                                <tr>
                                    <td>Attrition percentage = </td>
                                    <td>(Number of employees left/Average)*100</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </button>
            </mat-menu> 
            <span class="download-btn">
                <i class="fa fa-file-image-o" aria-hidden="true" title="Download as image" (click)="downloadAsImage('image-download-6', mainData.age_group_data.value, ['Age group', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="exportToCsv('age_group_data', mainData.age_group_data.value, ['Age group', 'Attrition Percentage'])"></i>
                EmpDetails<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_employee_csv('age_group')"></i>
                Consolidate<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_consolidate_csv('age_group')"></i>
                Contribution<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_contribution_csv('age_group')"></i>
            </span>
            <div class="float-right">
                <mat-slide-toggle color="warn"  [(ngModel)]="age_group_toggle" (change)="toggle_contribution($event.checked,'age_group')">CON</mat-slide-toggle>
             </div>
            <div class="ma-default-card-lg-content-box">
                <app-bar-chart [mainGraphData]="mainData.age_group_data"></app-bar-chart>
            </div>
        </div>
    </div>
    <div class="col-md-6" id="image-download-7" *ngIf="showRewardGraph">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Rewards (gem)</h2> <button mat-icon-button [matMenuTriggerFor]="rewardsmenu" class="color-def" aria-label="Example icon-button with a menu">Attrition Formula
            </button>
            <mat-menu #rewardsmenu="matMenu" class="color-def-mat-menu">
                <button mat-menu-item>
                    <div class="nav-table-container">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Attrition Formula</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Average =</td>
                                    <td> (Count of active employees as on start Date in particular reward category + Count of active employees as on end Date in particular reward category) / 2</td>
                                </tr>
                                <tr>
                                    <td>Number of employees left =</td>
                                    <td> Count of employees left between  start Date and end date in particular reward category</td>
                                </tr>
                                <tr>
                                    <td>Attrition percentage = </td>
                                    <td>(Number of employees left/Average)*100</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </button>
            </mat-menu> 
            <span class="download-btn">
                <i class="fa fa-file-image-o" aria-hidden="true" title="Download as image" (click)="downloadAsImage('image-download-7', mainData.rewards_gem_data.value, ['Rewards (gem)', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="exportToCsv('rewards_gem_data', mainData.rewards_gem_data.value, ['Rewards (gem)', 'Attrition Percentage'])"></i>
                EmpDetails<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_employee_csv('gem_performe')"></i>
                Consolidate<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_consolidate_csv('gem_performe')"></i>
                Contribution<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_contribution_csv('gem_performe')"></i>


            </span>
            <div class="float-right">
                <mat-slide-toggle color="warn"  [(ngModel)]="gem_performe_toggle" (change)="toggle_contribution($event.checked,'gem_performe')">CON</mat-slide-toggle>
             </div>
            <div class="ma-default-card-lg-content-box">
                <app-bar-chart [mainGraphData]="mainData.rewards_gem_data"></app-bar-chart>
            </div>
        </div>
    </div>
    <div class="col-md-6" id="image-download-8" *ngIf="showRewardGraph">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Rewards (star)</h2> <button mat-icon-button [matMenuTriggerFor]="rewardsstarmenu" class="color-def" aria-label="Example icon-button with a menu">Attrition Formula
            </button>
            <mat-menu #rewardsstarmenu="matMenu" class="color-def-mat-menu">
                <button mat-menu-item>
                    <div class="nav-table-container">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Attrition Formula</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Average =</td>
                                    <td> (Count of active employees as on start Date in particular reward category + Count of active employees as on end Date in particular reward category) / 2</td>
                                </tr>
                                <tr>
                                    <td>Number of employees left =</td>
                                    <td> Count of employees left between  start Date and end date in particular reward category</td>
                                </tr>
                                <tr>
                                    <td>Attrition percentage = </td>
                                    <td>(Number of employees left/Average)*100</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </button>
            </mat-menu> 
            <span class="download-btn">
                <i class="fa fa-file-image-o" aria-hidden="true" title="Download as image" (click)="downloadAsImage('image-download-8', mainData.rewards_star_data.value, ['Rewards (star)', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="exportToCsv('rewards_star_data', mainData.rewards_star_data.value, ['Rewards (star)', 'Attrition Percentage'])"></i>
                EmpDetails<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_employee_csv('star_performer')"></i>
                Consolidate<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_consolidate_csv('star_performer')"></i>
                Contribution<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_contribution_csv('star_performer')"></i>


            </span>
            <div class="float-right">
                <mat-slide-toggle color="warn"  [(ngModel)]="star_performer_toggle" (change)="toggle_contribution($event.checked,'star_performer')">CON</mat-slide-toggle>
             </div>
            <div class="ma-default-card-lg-content-box">
                <app-bar-chart [mainGraphData]="mainData.rewards_star_data"></app-bar-chart>
            </div>
        </div>
    </div>
    <div class="col-md-6" id="image-download-9" *ngIf="showGenderGraph">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Gender</h2>
                <button mat-icon-button [matMenuTriggerFor]="gendermenu" class="color-def" aria-label="Example icon-button with a menu">Attrition Formula
                </button>
                <mat-menu #gendermenu="matMenu" class="color-def-mat-menu">
                    <button mat-menu-item>
                        <div class="nav-table-container">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Attrition Formula</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Average =</td>
                                        <td> (Count of active employees as on start Date in particular gender category + Count of active employees as on end Date in particular gender category) / 2</td>
                                    </tr>
                                    <tr>
                                        <td>Number of employees left =</td>
                                        <td> Count of employees left between  start Date and end date in particular gender category</td>
                                    </tr>
                                    <tr>
                                        <td>Attrition percentage = </td>
                                        <td>(Number of employees left/Average)*100</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </button>
                </mat-menu> 
                <span class="download-btn">

                <i class="fa fa-file-image-o" aria-hidden="true" title="Download as image" (click)="downloadAsImage('image-download-9', mainData.gender_data.value, ['Gender', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="exportToCsv('gender_data', mainData.gender_data.value, ['Gender', 'Attrition Percentage'])"></i>
                EmpDetails<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_employee_csv('gender')"></i>
                Consolidate<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_consolidate_csv('gender')"></i>
                Contribution<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_contribution_csv('gender')"></i>

            </span>
            <div class="float-right">
                <mat-slide-toggle color="warn"  [(ngModel)]="gender_toggle" (change)="toggle_contribution($event.checked,'gender')">CON</mat-slide-toggle>
             </div>
            <div class="ma-default-card-lg-content-box">
                <app-bar-chart [mainGraphData]="mainData.gender_data"></app-bar-chart>
            </div>
        </div>
    </div>
    <div class="col-md-6" id="image-download-10" *ngIf="showGradeGraph">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Grade</h2>
            <button mat-icon-button [matMenuTriggerFor]="grademenu" class="color-def" aria-label="Example icon-button with a menu">Attrition Formula
            </button>
            <mat-menu #grademenu="matMenu" class="color-def-mat-menu">
                <button mat-menu-item>
                    <div class="nav-table-container">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Attrition Formula</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Average =</td>
                                    <td> (Count of active employees as on start Date in particular grade category + Count of active employees as on end Date in particular grade category) / 2</td>
                                </tr>
                                <tr>
                                    <td>Number of employees left =</td>
                                    <td> Count of employees left between  start Date and end date in particular grade category</td>
                                </tr>
                                <tr>
                                    <td>Attrition percentage = </td>
                                    <td>(Number of employees left/Average)*100</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </button>
            </mat-menu> 
            <span class="download-btn">
                <i class="fa fa-file-image-o" aria-hidden="true" title="Download as image" (click)="downloadAsImage('image-download-10', mainData.grade_data.value, ['Grade', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="exportToCsv('grade_data', mainData.grade_data.value, ['Grade', 'Attrition Percentage'])"></i>
                EmpDetails<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_employee_csv('employee_sub_group')"></i>
                Consolidate<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_consolidate_csv('employee_sub_group')"></i>
                Contribution<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_contribution_csv('employee_sub_group')"></i>
            </span>
            <div class="float-right">
                <mat-slide-toggle color="warn"  [(ngModel)]="employee_sub_group_toggle" (change)="toggle_contribution($event.checked,'employee_sub_group')">CON</mat-slide-toggle>
             </div>
            <div class="ma-default-card-lg-content-box">
                <app-bar-chart [mainGraphData]="mainData.grade_data"></app-bar-chart>
            </div>
        </div>
    </div>
    <div class="col-md-6" id="image-download-11" *ngIf="showPipGraph">
        <div class="ma-default-card ma-default-card-lg">
            <h2>PIP/DIS</h2>
            <button mat-icon-button [matMenuTriggerFor]="pipmenu" class="color-def" aria-label="Example icon-button with a menu" *ngIf="showpip">Attrition Formula
            </button >
            <button mat-icon-button [matMenuTriggerFor]="dismenu" class="color-def" aria-label="Example icon-button with a menu" *ngIf="showdis">Attrition Formula
            </button>
            <mat-menu #pipmenu="matMenu" class="color-def-mat-menu">
                <button mat-menu-item>
                    <div class="nav-table-container">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Attrition Formula</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Average =</td>
                                    <td> (Count of active employees as on start Date in particular pip category + Count of active employees as on end Date in particular pip category) / 2</td>
                                </tr>
                                <tr>
                                    <td>Number of employees left =</td>
                                    <td> Count of employees left between  start Date and end date in particular pip category</td>
                                </tr>
                                <tr>
                                    <td>Attrition percentage = </td>
                                    <td>(Number of employees left/Average)*100</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </button>
            </mat-menu> 
            <mat-menu #dismenu="matMenu" class="color-def-mat-menu">
                <button mat-menu-item>
                    <div class="nav-table-container">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Attrition Formula</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Average =</td>
                                    <td> (Count of active employees as on start Date in particular dis category + Count of active employees as on end Date in particular discategory) / 2</td>
                                </tr>
                                <tr>
                                    <td>Number of employees left =</td>
                                    <td> Count of employees left between  start Date and end date in particular dis category</td>
                                </tr>
                                <tr>
                                    <td>Attrition percentage = </td>
                                    <td>(Number of employees left/Average)*100</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </button>
            </mat-menu> 
         
            <span class="download-btn rating-download-btn" *ngIf="showpip">

                <i class="fa fa-file-image-o" aria-hidden="true" title="Download as image" (click)="downloadAsImage('image-download-11', mainData.pip_data.value, ['Pip data', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="exportToCsv('pip_data', mainData.pip_data.value, ['Pip data', 'Attrition Percentage'])"></i>
                EmpDetails<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_employee_csv('pip_data')"></i>
                Consolidate<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_consolidate_csv('pip_data')"></i>
                Contribution<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_contribution_csv('pip_data')"></i>
              
            </span>
            
            <span class="download-btn rating-download-btn" *ngIf="showdis">
                <i class="fa fa-file-image-o" aria-hidden="true" title="Download as image" (click)="downloadAsImage('image-download-11', mainData.dis_data.value, ['Dis data', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="exportToCsv('dis_data', mainData.dis_data.value, ['Dis data', 'Attrition Percentage'])"></i>
                EmpDetails<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_employee_csv('dic_data')"></i>
                Consolidate<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_consolidate_csv('dic_data')"></i>
                Contribution<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_contribution_csv('dic_data')"></i>
            </span>
        <div>
            <mat-slide-toggle color="warn" [(ngModel)]="pip_toggle"  (change)="toggle_contribution($event.checked,'pip_data')" *ngIf="showpip">CON</mat-slide-toggle>

            <mat-slide-toggle color="warn" [(ngModel)]="dis_toggle"  (change)="toggle_contribution($event.checked,'dic_data')"  *ngIf="showdis">CON</mat-slide-toggle>
        </div>
            <div class="float-right">
                PIP&nbsp;<mat-slide-toggle color="warn" (change)="pipordis($event.checked)">DIS</mat-slide-toggle>
            </div>
           
            <div class="ma-default-card-lg-content-box">
                <app-bar-chart [mainGraphData]="mainData.pip_data" *ngIf="showpip"></app-bar-chart>
                <app-bar-chart [mainGraphData]="mainData.dis_data" *ngIf="showdis"></app-bar-chart>

            </div>
        </div>
    </div>
    <div class="col-md-6" id="image-download-12" *ngIf="showMaritalGraph">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Marital Status</h2>
            <button mat-icon-button [matMenuTriggerFor]="maritalstatusmenu" class="color-def" aria-label="Example icon-button with a menu">Attrition Formula
            </button>
            <mat-menu #maritalstatusmenu="matMenu" class="color-def-mat-menu">
                <button mat-menu-item>
                    <div class="nav-table-container">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Attrition Formula</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Average =</td>
                                    <td> (Count of active employees as on start Date in particular marital status category + Count of active employees as on end Date in particular marital status category) / 2</td>
                                </tr>
                                <tr>
                                    <td>Number of employees left =</td>
                                    <td> Count of employees left between  start Date and end date in particular marital status category</td>
                                </tr>
                                <tr>
                                    <td>Attrition percentage = </td>
                                    <td>(Number of employees left/Average)*100</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </button>
            </mat-menu> 
            <span class="download-btn">
                <i class="fa fa-file-image-o" aria-hidden="true" title="Download as image" (click)="downloadAsImage('image-download-12', mainData.marital_data.value, ['Marital status', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="exportToCsv('marital_data', mainData.marital_data.value, ['Marital status', 'Attrition Percentage'])"></i>
                EmpDetails<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_employee_csv('marital_status')"></i>
                Consolidate<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_consolidate_csv('marital_status')"></i>
                Contribution<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_contribution_csv('marital_status')"></i>


            </span>
            <div class="float-right">
                <mat-slide-toggle color="warn" [(ngModel)]="marital_status_toggle"  (change)="toggle_contribution($event.checked,'marital_status')">CON</mat-slide-toggle>
             </div>
            <div class="ma-default-card-lg-content-box">
                <app-bar-chart [mainGraphData]="mainData.marital_data"></app-bar-chart> 
                <!-- <app-pie-chart [mainGraphData]="mainData.marital_data"></app-pie-chart> -->
            </div>
        </div>
    </div>
    <div class="col-md-6" id="image-download-13" *ngIf="showTrainingGraph">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Training</h2>
            <button mat-icon-button [matMenuTriggerFor]="trainingmenu" class="color-def" aria-label="Example icon-button with a menu">Attrition Formula
            </button>
            <mat-menu #trainingmenu="matMenu" class="color-def-mat-menu">
                <button mat-menu-item>
                    <div class="nav-table-container">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Attrition Formula</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Average =</td>
                                    <td> (Count of active employees as on start Date in particular training category + Count of active employees as on end Date in particular training category) / 2</td>
                                </tr>
                                <tr>
                                    <td>Number of employees left =</td>
                                    <td> Count of employees left between  start Date and end date in particular training category</td>
                                </tr>
                                <tr>
                                    <td>Attrition percentage = </td>
                                    <td>(Number of employees left/Average)*100</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </button>
            </mat-menu> 
            <span class="download-btn">
                <i class="fa fa-file-image-o" aria-hidden="true" title="Download as image" (click)="downloadAsImage('image-download-13', mainData.training_data.value, ['Training', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="exportToCsv('training_data', mainData.training_data.value, ['Training', 'Attrition Percentage'])"></i>
                EmpDetails<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_employee_csv('training_data')"></i>
                Consolidate<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_consolidate_csv('training_data')"></i>
                Contribution<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_contribution_csv('training_data')"></i>
            </span>
            <div class="float-right">
                <mat-slide-toggle color="warn" [(ngModel)]="training_data_toggle"  (change)="toggle_contribution($event.checked,'training_data')">CON</mat-slide-toggle>
             </div>
            <div class="ma-default-card-lg-content-box">
                <app-bar-chart [mainGraphData]="mainData.training_data"></app-bar-chart>
            </div>
        </div>
    </div>
    <div class="col-md-6" id="image-download-14" *ngIf="showVoluntaryGraph">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Voluntary / Involuntary</h2>
            <button mat-icon-button [matMenuTriggerFor]="leavingmenu" class="color-def" aria-label="Example icon-button with a menu">Attrition Formula
            </button>
            <mat-menu #leavingmenu="matMenu" class="color-def-mat-menu">
                <button mat-menu-item>
                    <div class="nav-table-container">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Attrition Formula</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Average =</td>
                                    <td> (Count of active employees as on start Date+ Count of active employees as on end Date) / 2</td>
                                </tr>
                                <tr>
                                    <td>Number of employees left =</td>
                                    <td> Count of employees left between  start Date and end date in particular reason of leaving category</td>
                                </tr>
                                <tr>
                                    <td>Attrition percentage = </td>
                                    <td>(Number of employees left/Average)*100</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </button>
            </mat-menu> 
            <span class="download-btn">
                <button class='backButton' *ngIf="showvolInvolCategory" (click)="backVolInvoluntary()" >Back</button>
                <i class="fa fa-file-image-o" aria-hidden="true" *ngIf="showVolInvol" title="Download as image" (click)="downloadAsImage('image-download-14', mainData.voluntary.value, ['Voluntary / Involuntary', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-o" aria-hidden="true"  *ngIf="showVolInvol" title="Download as CSV" (click)="exportToCsv('voluntary_data', mainData.voluntary.value, ['Voluntary / Involuntary', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-image-o" *ngIf="showvolInvolCategory" aria-hidden="true" title="Download as image" (click)="downloadAsImage('image-download-14', mainData.vol_invol_category.value, ['Voluntary / Involuntary', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-o" *ngIf="showvolInvolCategory" aria-hidden="true" title="Download as CSV" (click)="exportToCsv('voluntary_data', mainData.vol_invol_category.value, ['Voluntary / Involuntary', 'Attrition Percentage'])"></i>
                EmpDetails<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_employee_csv('reason_of_leaving_group')"></i>
                Consolidate<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_consolidate_csv('reason_of_leaving_group')"></i>
            </span>
            <div class="ma-default-card-lg-content-box">
                <app-bar-chart [mainGraphData]="mainData.voluntary" (emitGraphData)="graphBarClick($event)" *ngIf="showVolInvol"></app-bar-chart>
                <app-pie-chart [mainGraphData]="mainData.vol_invol_category" *ngIf="showvolInvolCategory"></app-pie-chart>

            </div>
        </div>
    </div>
    <div class="col-md-6" id="image-download-16" *ngIf="showQualificationData">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Highest qualification</h2>
            <button mat-icon-button [matMenuTriggerFor]="highestqualificationmenu" class="color-def" aria-label="Example icon-button with a menu">Attrition Formula
            </button>
            <mat-menu #highestqualificationmenu="matMenu" class="color-def-mat-menu">
                <button mat-menu-item>
                    <div class="nav-table-container">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Attrition Formula</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Average =</td>
                                    <td> (Count of active employees as on start Date in particular highest qualification category + Count of active employees as on end Date in particular highest qualification category ) / 2</td>
                                </tr>
                                <tr>
                                    <td>Number of employees left =</td>
                                    <td> Count of employees left between  start Date and end date in particular highest qualification category </td>
                                </tr>
                                <tr>
                                    <td>Attrition percentage = </td>
                                    <td>(Number of employees left/Average)*100</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </button>
            </mat-menu> 
            <span class="download-btn">
                <i class="fa fa-file-image-o" aria-hidden="true" title="Download as image" (click)="downloadAsImage('image-download-16',  mainData.qualification.value, ['Qualification', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="exportToCsv('qualification', mainData.qualification.value, ['Qualification', 'Attrition Percentage'])"></i>
                EmpDetails<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_employee_csv('higher_qualification_category')"></i>
                Consolidate<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_consolidate_csv('higher_qualification_category')"></i>
                Contribution<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_contribution_csv('higher_qualification_category')"></i>
            </span>
            <div class="float-right">
                <mat-slide-toggle color="warn" [(ngModel)]="higher_qualification_category_toggle"  (change)="toggle_contribution($event.checked,'higher_qualification_category')">CON</mat-slide-toggle>
             </div>
            <div class="ma-default-card-lg-content-box table-filter-card">
                <app-bar-chart [mainGraphData]="mainData.qualification"></app-bar-chart>
            </div>
        </div>
    </div>

    <div class="col-md-6" id="image-download-16" *ngIf="showBusinessServiceFunction">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Business / Service Function</h2>
            <button mat-icon-button [matMenuTriggerFor]="businessservice" class="color-def" aria-label="Example icon-button with a menu">Attrition Formula
            </button>
            <mat-menu #businessservice="matMenu" class="color-def-mat-menu">
                <button mat-menu-item>
                    <div class="nav-table-container">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Attrition Formula</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Average =</td>
                                    <td> (Count of active employees as on start Date in particular business/service function + Count of active employees as on end Date in particular business/service function ) / 2</td>
                                </tr>
                                <tr>
                                    <td>Number of employees left =</td>
                                    <td> Count of employees left between  start Date and end date in particular business/service function </td>
                                </tr>
                                <tr>
                                    <td>Attrition percentage = </td>
                                    <td>(Number of employees left/Average)*100</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </button>
            </mat-menu> 
            <span class="download-btn">
                <button class='backButton' *ngIf="showBusinessServiceCategory" (click)="backBusinessServiceFunction()" >Back</button>
                <i class="fa fa-file-image-o" aria-hidden="true" title="Download as image" (click)="downloadAsImage('image-download-16',  mainData.businsess_service_function.value, ['Business/Service Function', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="exportToCsv('Business/Service Function', mainData.businsess_service_function.value, ['Business/Service Function', 'Attrition Percentage'])"></i>
                EmpDetails<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_employee_csv('business_service_function_cat')"></i>
                Consolidate<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_consolidate_csv('business_service_function_cat')"></i>
                Contribution<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_contribution_csv('business_service_function_cat')"></i>

            </span>
            <div class="float-right">
                <mat-slide-toggle color="warn" [(ngModel)]="business_service_function_cat_toggle"  (change)="toggle_contribution($event.checked,'business_service_function_cat')"  *ngIf="showBusinessService">CON</mat-slide-toggle>
             </div>
             <div class="float-right">
                <mat-slide-toggle color="warn" [(ngModel)]="business_service_function_toggle"  (change)="toggle_contribution($event.checked,'business_service_function')"  *ngIf="showBusinessServiceCategory">CON</mat-slide-toggle>
             </div>
            <div class="ma-default-card-lg-content-box table-filter-card">
                <app-bar-chart [mainGraphData]="mainData.businsess_service_function" (emitGraphData)="graphBarClick($event)" *ngIf="showBusinessService"></app-bar-chart>
                <app-bar-chart [mainGraphData]="mainData.businessservice_category" *ngIf="showBusinessServiceCategory"></app-bar-chart>
            </div>
        </div>
    </div>

    <div class="col-md-6" id="image-download-16" *ngIf="showMajorFunction">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Major Function</h2>
            <button mat-icon-button [matMenuTriggerFor]="majorservice" class="color-def" aria-label="Example icon-button with a menu">Attrition Formula
            </button>
            <mat-menu #majorservice="matMenu" class="color-def-mat-menu">
                <button mat-menu-item>
                    <div class="nav-table-container">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Attrition Formula</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Average =</td>
                                    <td> (Count of active employees as on start Date in particular Major Service function + Count of active employees as on end Date in particular Major Service function ) / 2</td>
                                </tr>
                                <tr>
                                    <td>Number of employees left =</td>
                                    <td> Count of employees left between  start Date and end date in particular Major Service function </td>
                                </tr>
                                <tr>
                                    <td>Attrition percentage = </td>
                                    <td>(Number of employees left/Average)*100</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </button>
            </mat-menu> 
            <span class="download-btn">
                <button class='backButton' *ngIf="showMajorFunctionServiceCategory" (click)="backMajorFunctionService()" >Back</button>
                <i class="fa fa-file-image-o" aria-hidden="true" title="Download as image" (click)="downloadAsImage('image-download-16',  mainData.major_service_function.value, ['MajorFunciton', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="exportToCsv('MajorFunction', mainData.major_service_function.value, ['MajorFunciton', 'Attrition Percentage'])"></i>
                EmpDetails<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_employee_csv('major_service_function_cat')"></i>
                Consolidate<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_consolidate_csv('major_service_function_cat')"></i>
                Contribution<i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="get_contribution_csv('major_service_function_cat')"></i>
            </span>
            <div class="float-right">
                <mat-slide-toggle color="warn" [(ngModel)]="major_service_function_cat_toggle"  (change)="toggle_contribution($event.checked,'major_service_function_cat')"  *ngIf="showMajorFunctionService">CON</mat-slide-toggle>
             </div>
             <div class="float-right">
                <mat-slide-toggle color="warn" [(ngModel)]="major_service_function_toggle"  (change)="toggle_contribution($event.checked,'major_function')"  *ngIf="showMajorFunctionServiceCategory">CON</mat-slide-toggle>
             </div>
            <div class="ma-default-card-lg-content-box table-filter-card">
                <app-bar-chart [mainGraphData]="mainData.major_service_function" (emitGraphData)="graphBarClick($event)" *ngIf="showMajorFunctionService"></app-bar-chart>
                <app-bar-chart [mainGraphData]="mainData.majorfunction_category" *ngIf="showMajorFunctionServiceCategory"></app-bar-chart>
            </div>
        </div>
    </div>
    <div class="col-md-6" id="image-download-15" *ngIf="showWorkContractGraph">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Work contract</h2>
            <button mat-icon-button [matMenuTriggerFor]="workcontractmenu" class="color-def" aria-label="Example icon-button with a menu">Attrition Formula
            </button>
            <mat-menu #workcontractmenu="matMenu" class="color-def-mat-menu">
                <button mat-menu-item>
                    <div class="nav-table-container">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Attrition Formula</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Average =</td>
                                    <td> (Count of active employees as on start Date in particular work contract category + Count of active employees as on end Date in particular work contract category) / 2</td>
                                </tr>
                                <tr>
                                    <td>Number of employees left =</td>
                                    <td> Count of employees left between  start Date and end date in particular work contract category</td>
                                </tr>
                                <tr>
                                    <td>Attrition percentage = </td>
                                    <td>(Number of employees left/Average)*100</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </button>
            </mat-menu> 
            
            <span class="download-btn">
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="exportToCsv('work_contract_data', mainData.work_contract.value, '')"></i>
            </span>
            <div class="ma-default-card-lg-content-box table-filter-card">
                <table #work class="display cell-border" style="width:100%"></table>
            </div>
        </div>
    </div>
    <div class="col-md-6" id="image-download-17" *ngIf="showMcaresDept">
        <div class="ma-default-card ma-default-card-lg">
            <div><h2>Correlation:{{mainData.deptCorrelation}}</h2></div>
            <h2>Mcares department</h2>
            <button mat-icon-button [matMenuTriggerFor]="mcaresdeptmenu" class="color-def" aria-label="Example icon-button with a menu">Attrition Formula
            </button>
            <mat-menu #mcaresdeptmenu="matMenu" class="color-def-mat-menu">
                <button mat-menu-item>
                    <div class="nav-table-container">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Attrition Formula</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Average =</td>
                                    <td> (Count of active employees as on start Date in particular department + Count of active employees as on end Date in particular department) / 2</td>
                                </tr>
                                <tr>
                                    <td>Number of employees left =</td>
                                    <td> Count of employees left between  start Date and end date in particular department</td>
                                </tr>
                                <tr>
                                    <td>Attrition percentage = </td>
                                    <td>(Number of employees left/Average)*100</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </button>
            </mat-menu> 
            <span class="download-btn">
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="exportToCsv('mcares_dept', mainData.mdept.value, '')"></i>
            </span>
            <div class="ma-default-card-lg-content-box table-filter-card">
                <table #mdept class="display cell-border" style="width:100%"></table>
            </div>
        </div>
    </div>
    <div class="col-md-6" id="image-download-18" *ngIf="showReport">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Reporting manager</h2>
            <button mat-icon-button [matMenuTriggerFor]="reportingmanmenu" class="color-def" aria-label="Example icon-button with a menu">Attrition Formula
            </button>
            <mat-menu #reportingmanmenu="matMenu" class="color-def-mat-menu">
                <button mat-menu-item>
                    <div class="nav-table-container">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Attrition Formula</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Average =</td>
                                    <td> (Count of active employees as on start Date under the particular manager + Count of active employees as on end Date under the particular manager) / 2</td>
                                </tr>
                                <tr>
                                    <td>Number of employees left =</td>
                                    <td> Count of employees left between  start Date and end date under the particular manager</td>
                                </tr>
                                <tr>
                                    <td>Attrition percentage = </td>
                                    <td>(Number of employees left/Average)*100</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </button>
            </mat-menu> 
            <span class="download-btn">
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="exportToCsv('reporting_manager', mainData.report.value, '')"></i>
            </span>
            <div class="ma-default-card-lg-content-box table-filter-card">
                <table #report class="display cell-border" style="width:100%"></table>
            </div>
        </div>
    </div>
    <div class="col-md-6" id="image-download-19" *ngIf="showMcaresmanager">

        <div class="ma-default-card ma-default-card-lg">
            <div><h2>Correlation:{{mainData.managerCorrelation}}</h2></div>

            <h2>Mcares manager</h2>
            <button mat-icon-button [matMenuTriggerFor]="mcaresmanagermenu" class="color-def" aria-label="Example icon-button with a menu">Attrition Formula
            </button>
            <mat-menu #mcaresmanagermenu="matMenu" class="color-def-mat-menu">
                <button mat-menu-item>
                    <div class="nav-table-container">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Attrition Formula</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Average =</td>
                                    <td> (Count of active employees as on start Date under particular manager + Count of active employees as on end Date under particular manager) / 2</td>
                                </tr>
                                <tr>
                                    <td>Number of employees left =</td>
                                    <td> Count of employees left between  start Date and end date under particular manager</td>
                                </tr>
                                <tr>
                                    <td>Attrition percentage = </td>
                                    <td>(Number of employees left/Average)*100</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </button>
            </mat-menu> 
            <span class="download-btn">
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="exportToCsv('mcares_manager', mainData.mmcares.value, '')"></i>
            </span>
            <div class="ma-default-card-lg-content-box table-filter-card">
                <table #mmcares class="display cell-border" style="width:100%"></table>
            </div>
        </div>
    </div>
    <div class="col-md-6" id="image-download-19" *ngIf="showFunctionalCompetency">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Functional Competency</h2>
            <button mat-icon-button [matMenuTriggerFor]="functionalcompmenu" class="color-def" aria-label="Example icon-button with a menu">Attrition Formula
            </button>
            <mat-menu #functionalcompmenu="matMenu" class="color-def-mat-menu">
                <button mat-menu-item>
                    <div class="nav-table-container">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Attrition Formula</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Average =</td>
                                    <td> (Count of active employees as on start Date in particular functional competency + Count of active employees as on end Date in particular functional competency) / 2</td>
                                </tr>
                                <tr>
                                    <td>Number of employees left =</td>
                                    <td> Count of employees left between  start Date and end date in particular functional competency</td>
                                </tr>
                                <tr>
                                    <td>Attrition percentage = </td>
                                    <td>(Number of employees left/Average)*100</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </button>
            </mat-menu> 
            <span class="download-btn">
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="exportToCsv('functionalCompetency', mainData.functionalCompetency.value, '')"></i>
            </span>
            <div class="ma-default-card-lg-content-box table-filter-card">
                <p *ngIf="table_no_data_available">No data available</p>
                <table #functionalCompetency class="display cell-border" style="width:100%"></table>
            </div>
        </div>
    </div>
</div>

