.ma-default-card-sm-content-box {
    width: 100%;
    overflow: hidden;
}

.ma-default-card-sm-content-box h1 {
    font-size: 30px;
    font-weight: bold;
    color:#333;
}

.ma-default-card-sm-content-box h1 span {
    font-size: 15px;
}

.table th, .table td {
    padding: 10px !important;
}
button.mat-menu-item{
white-space:normal !important
}

.backButton {
    background-color: #e31837;;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.color-def {
    margin-right: 70px;
    color:#e31837;
    text-decoration: underline;
}


::ng-deep button.mat-menu-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    /** set line height to desired height */
    line-height: 18px;
    /** set height to auto */
    height: auto;
    padding: 0 16px;
    text-align: left;
    text-decoration: none;
    max-width: 100%;
    position: relative;
}

::ng-deep div.mat-menu-panel {
    min-width: 112px;
      /** set width to 500px */
    max-width: 500px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    max-height: calc(100vh - 48px);
    border-radius: 4px;
    outline: 0;
}


.ma-default-card-lg-content-box {
    position: relative;
    margin-top: 10px;
    height: 400px;
    width: 100%;
    overflow: hidden;
}

.sidebar-select-container {
    position: relative;
    width: 30%;
    margin-bottom: 10px;
    height: 50px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.alternate-select-icon {
    position: absolute;
    right:23px;
    top:15px;
    color:rgba(0, 0, 0, 0.54);
}

.rating-download-btn {
    position: absolute;
    margin-left: 10px;
}

.table-filter-card {
    height: auto !important;
    overflow: hidden;
}

.error-msg {
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
}

.loading-message {
    position: absolute;
    left:30px;
    top:72px;
    background: rgba(0, 0, 0, 0.6);
    width: calc(30% - 17px);
    margin-bottom: 10px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    border-radius: 4px;
    padding-left: 15px;
}

.loader-spinner {
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 20px);
    transform: translate(-50%, -50%);
    width: 15px !important;
    height: 15px !important;
}

.color-desc-container {
    padding: 30px 0px 30px 0px;
}

.float-right{
    margin: 5%;
}