.ma-top-navbar {
    background: #fff;
    height: 60px;
    z-index: 10 !important;
}

.ma-top-navbar .dropdown-toggle {
    position: relative;
    padding: 0px 15px 0px 40px;
    height: 40px;
    border-radius:40px;
    font-size: 14px;
    background: #fff;
    border: 2px solid #e31837;
    color:#333;
}

.user-first-name {
    position: absolute;
    left:5px;
    top:3px;
    height: 30px;
    line-height: 30px;
    width: 30px;
    border-radius:50%;
    background: #e31837;
    color:#fff;
    font-weight: bold;
    text-transform: uppercase;
}

.ma-top-navbar .dropdown-toggle i {
    font-weight: bold;
}

.dropdown-toggle::after {
    display: none;
}

.ma-main-navbar {
    background: #333;
    height: 60px;
    z-index: 10;
    top:60px !important;
}

.ma-main-navbar .dropdown-toggle {
    position: relative;
    padding: 0px 15px 0px 40px;
    height: 40px;
    border-radius:40px;
    font-size: 14px;
    background: transparent;
    border: none;
    color:#fff;
}

.left-icon {
    position: absolute;
    left:20px;
    margin-right: 5px;
    font-size: 20px;
    color: #e31837;
}

.go-back-to-dashboard-btn {
    background: transparent;
    color:#fff;
}

.go-back-to-dashboard-btn i {
    position: absolute;
    top: 22px;
    margin-left: -10px;
    color:#e31837;
    transition: 1s;
}

.go-back-to-dashboard-btn:hover i {
    margin-left: -15px;
}

.color-def {
    margin-right: 80px;
    color:#e31837;
    text-decoration: underline;
}

.nav-table-container {
    width: 100%;
}

.green {
    height: 15px;
    width: 15px;
    background-color: rgb(33, 99, 83);
}

.yellow {
    height: 15px;
    width: 15px;
    background-color: rgb(255, 231, 94);
}

.amber {
    height: 15px;
    width: 15px;
    background-color: rgb(222, 113, 25);
}

.red {
    height: 15px;
    width: 15px;
    background-color: rgb(227, 24, 55);
}

.table th, .table td {
    padding: 10px !important;
}