<nav class="navbar navbar-expand-sm ma-top-navbar justify-content-end fixed-top">
    <ul class="navbar-nav">
      <li class="nav-item">
        <div class="btn-group" dropdown placement="left">
            <button mat-icon-button [matMenuTriggerFor]="menu" class="color-def" aria-label="Example icon-button with a menu">Color Definitions
            </button>
            <mat-menu #menu="matMenu" class="color-def-mat-menu">
                <button mat-menu-item>
                    <div class="nav-table-container">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Attrition %</th>
                                    <th>Color</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>0 - 10</td>
                                    <td><div class="green"></div> Green</td>
                                </tr>
                                <tr>
                                    <td>10 - 20</td>
                                    <td><div class="yellow"></div> Yellow</td>
                                </tr>
                                <tr>
                                    <td>20 - 30</td>
                                    <td><div class="amber"></div> Amber</td>
                                </tr>
                                <tr>
                                    <td>> 30</td>
                                    <td><div class="red"></div> Red</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </button>
            </mat-menu>
            <button id="button-animated" type="button" class="btn btn-primary dropdown-toggle"
            [matMenuTriggerFor]="topmenu">
                    <span class="user-first-name">{{ userEmailFirstLetter }}</span>
                    {{ userEmail }} <i class="fa fa-angle-down" aria-hidden="true"></i>
            </button>
            <mat-menu #topmenu="matMenu">
                <button mat-menu-item [routerLink]="['/settings']">
                  <span><i class="fa fa-cog" aria-hidden="true"></i>&nbsp; Settings
                    <i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                </button>
                <button mat-menu-item (click)="logout()">
                  <span><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp; Logout
                    <i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                </button>
            </mat-menu>
        </div>
      </li>
    </ul>
</nav>
<nav class="navbar navbar-expand-sm ma-main-navbar justify-content-end fixed-top">
    <ul class="navbar-nav mr-auto" *ngIf="!showDashboardMenu">
        <mat-tab-group (selectedTabChange)="tabChange($event)" [selectedIndex]="selectedIndex">
            <mat-tab label="Descriptive">
            </mat-tab>
            <mat-tab label="Predictive">
            </mat-tab>
            <mat-tab label="Comparison">
            </mat-tab>
            <mat-tab label="Loader">
            </mat-tab>
        </mat-tab-group>
    </ul>
    <ul class="navbar-nav mr-auto" *ngIf="showDashboardMenu">
        <li class="nav-item">
            <button type="button" class="btn go-back-to-dashboard-btn" [routerLink]="['/dashboard']">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>&nbsp; Dashboard
            </button>
        </li>
    </ul>
    <ul class="navbar-nav">
        <!-- <li class="nav-item">
            <div class="btn-group" dropdown placement="left">
                <button id="button-animated" type="button" class="btn btn-primary dropdown-toggle">
                        <i class="fa fa-upload left-icon" aria-hidden="true"></i>&nbsp; Loader
                </button>
            </div>
        </li> -->
        <li class="nav-item">
            <div class="btn-group" dropdown placement="left">
                <button id="button-animated" type="button" class="btn btn-primary dropdown-toggle"
                [matMenuTriggerFor]="mainmenu">
                        <i class="fa fa-cog left-icon" aria-hidden="true"></i>&nbsp; Admin Panel
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                </button>
                <mat-menu #mainmenu="matMenu">
                    <button mat-menu-item [routerLink]="['/user']">
                      <span><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp; User
                        <i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                    </button>
                    <button mat-menu-item [routerLink]="['/role']">
                      <span><i class="fa fa-suitcase" aria-hidden="true"></i>&nbsp; Role
                        <i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                    </button>
                    <!-- <button mat-menu-item [routerLink]="['/observemodel']">
                        <span><i class="fa fa-suitcase" aria-hidden="true"></i>&nbsp; Run Model
                          <i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                      </button> -->
                </mat-menu>
            </div>
        </li>
    </ul>
</nav>