#basic-line-chart-parent {
    display: grid;
}

.loader-spinner {
    width: 40px !important;
    height: 40px !important;
    position: absolute;
    top: calc(50% - 80px);
    left: calc(50% - 20px);
    transform: translate(-50%, -50%);
}