<mat-spinner class="loader-spinner" color="warn" *ngIf="loaderactive"></mat-spinner>
<div id="basic-line-chart-parent">
    <ngx-charts-line-chart
      (window:resize)="onResize()"
      [legend]=false
      [showXAxisLabel]=true
      [showYAxisLabel]=true
      [xAxis]=true
      [yAxis]=true
      [xAxisLabel]=xaxislabel
      [yAxisLabel]=yaxislabel
      [timeline]=false
      [showGridLines]=true
      [results]="data"
      [view]="view"
      *ngIf="plotGraph"
    >
    </ngx-charts-line-chart>
</div>
  