<P class="text_predict">MODEL TRAINED ON  Q4 - FY 22 PREDICTION FOR <span
    class="pred_year_q">Q1 FY 23</span>
</P>

<div class="row first_row">
  <div class="col-12 col-lg-3 col-md-3 col-sm-6 mb-4">
    <div class="card_prediction">
      <mat-icon matTooltip="Number of training records used for modeling"><i class="fa fa-info-circle" aria-hidden="true"></i></mat-icon>
      <div class="card_body_prediction">Training Rows<p class="model_health_box_text">{{training_rows}}</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-3 col-md-3 col-sm-6 mb-4">
    <div class="card_prediction">
      <mat-icon matTooltip="Model Accuracy On Training Rows"><i class="fa fa-info-circle" aria-hidden="true"></i></mat-icon>
      <div class="card_body_prediction">Training Accuracy<p class="model_health_box_text">
          {{training_accuracy}}%</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-3 col-md-3 col-sm-6 mb-4">
    <div class="card_prediction">
      <mat-icon matTooltip="Number Of Records Used For Model Test"><i class="fa fa-info-circle" aria-hidden="true"></i></mat-icon>
      <div class="card_body_prediction">Test Rows<p class="model_health_box_text">{{test_rows}}</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-3 col-md-3 col-sm-6 mb-4">
    <div class="card_prediction">
      <mat-icon matTooltip="Model Accuracy On Test Data"><i class="fa fa-info-circle" aria-hidden="true"></i></mat-icon>
      <div class=" card_body_prediction">Test Accuracy<p class="model_health_box_text">{{test_accuracy}}%</p>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-3 col-md-3 col-sm-6 mb-4">
    <div class="card_prediction">
      <mat-icon matTooltip="Recall is the number of true positives divided by number of true positives plus number of false negatives.True positives are
      data point classified as positive by the model that actually are positive(meaning they are correct),and false negatives are data points the model identifies as
      negative that actually are positive(incorrect).     Example:recall for class A = class A correctly identified /(class A correctly identified+A incorrectly lebelled as not class A)"><i class="fa fa-info-circle" aria-hidden="true"></i></mat-icon>
      <div class=" card_body_prediction">Recall<p class="model_health_box_text">{{recall}}%</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-3 col-md-3 col-sm-6 mb-4">
    <div class="card_prediction">
      <mat-icon matTooltip="Precision is defined as the number of true positives divided by number of true positives plus number of false positives.False positives are cases the models incorrectly labels as positive that are actually negative. Example:Precision for class A = 
      class A correctly identified/(class A correctly identified + other classes incorrectly labelled as class A"><i class="fa fa-info-circle" aria-hidden="true"></i></mat-icon>
      <div class="card_body_prediction">Precision <p class="model_health_box_text">{{precision}}%</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-3 col-md-3 col-sm-6 mb-4">
    <div class="card_prediction">
      <mat-icon matTooltip="Overall Accuracy Of Model"><i class="fa fa-info-circle" aria-hidden="true"></i></mat-icon>
      <div class="card_body_prediction">Accuracy<p class="model_health_box_text">{{accuracy}}%</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-3 col-md-3 col-sm-6 mb-4">
    <div class="card_prediction">
      <mat-icon matTooltip="F Score = 2*((precision**recall)+(precision+recall)).It Is Also Called As F Measure"><i class="fa fa-info-circle" aria-hidden="true"></i></mat-icon>
      <div class="card_body_prediction">F-Score<p class="model_health_box_text">{{f_score}}%</p>
      </div>
    </div>
  </div>
</div>

<div class="row mb-4">
  <div class="col download-wrap">
    <div class="line_chart_body">
      <p id="roc_chart">ROC Chart
        <mat-icon matTooltip="ROC Curves explains how a model is performing by each performance category. ROC Curves are plotted as points from TPR (True Positive Rate) and FPR (False Positive Rate)">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        </mat-icon>
      </p>
      <img src="../../../assets/img/jpg (1).svg" title="Download Image" class="jpegDownload"
        (click)="dom_to_img($event,'roc_chart')">
      <span>
        <app-linechart [line_chart_data]="line_chart_data"></app-linechart>
      </span>
    </div>
  </div>
</div>