<div class="row" style="margin: 0;">
    <div class="col-md-12">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Factors</h2>
            <div class="sidebar-select-container">
                <mat-select-autocomplete 
                        class="autocomplete-select"
                        [placeholder]="'Select Factor'"
                        [multiple]='true'
                        [options]="factorOptions"
                        [display]="'display'"
                        [value]="'value'"
                        [selectedOptions]="selectedOptions"
                        (selectionChange)="getSelectedOptions($event)"
                        >
                </mat-select-autocomplete>
                <i class="fa fa-angle-down alternate-select-icon" aria-hidden="true"></i>
            </div>
            <div class="color-desc-container">
                <div class="green-color"></div><span>Left side</span>
                <div class="yellow-color"></div><span>Right side</span>
            </div>
        </div>
        <span class="loading-message" *ngIf="hideFilterLoader"><mat-spinner class="loader-spinner" color="warn"></mat-spinner></span>
    </div>
</div>

<div class="row" style="margin: 0;">
    <div class="col-md-6" id="image-download-1" *ngIf="showRewardGraph">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Rewards (gem)</h2>
            <button mat-icon-button [matMenuTriggerFor]="rewardsmenu" class="color-def" aria-label="Example icon-button with a menu">Attrition Formula
            </button>
            <mat-menu #rewardsmenu="matMenu" class="color-def-mat-menu">
                <button mat-menu-item>
                    <div class="nav-table-container">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Attrition Formula</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Average =</td>
                                    <td> (Count of active employees as on start Date in particular reward category + Count of active employees as on end Date in particular reward category) / 2</td>
                                </tr>
                                <tr>
                                    <td>Number of employees left =</td>
                                    <td> Count of employees left between  start Date and end date in particular reward category</td>
                                </tr>
                                <tr>
                                    <td>Attrition percentage = </td>
                                    <td>(Number of employees left/Average)*100</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </button>
            </mat-menu>
            <span class="download-btn">
                <i class="fa fa-file-image-o" aria-hidden="true" title="Download as image" (click)="downloadAsImage('image-download-1', mainData.gem.value, ['Rewards(gem)', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="exportToCsv('gem', mainData.gem, true, ['Rewards(gem)', 'Attrition Percentage'])"></i>
            </span>
            <div class="ma-default-card-lg-content-box">
                <app-grouped-bar-chart [mainGraphData]="mainData.gem"></app-grouped-bar-chart>
            </div>
        </div>
    </div>
    <div class="col-md-6" id="image-download-2" *ngIf="showRewardGraph">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Rewards (star)</h2>
            <button mat-icon-button [matMenuTriggerFor]="rewardsstarmenu" class="color-def" aria-label="Example icon-button with a menu">Attrition Formula
            </button>
            <mat-menu #rewardsstarmenu="matMenu" class="color-def-mat-menu">
                <button mat-menu-item>
                    <div class="nav-table-container">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Attrition Formula</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Average =</td>
                                    <td> (Count of active employees as on start Date in particular reward category + Count of active employees as on end Date in particular reward category) / 2</td>
                                </tr>
                                <tr>
                                    <td>Number of employees left =</td>
                                    <td> Count of employees left between  start Date and end date in particular reward category</td>
                                </tr>
                                <tr>
                                    <td>Attrition percentage = </td>
                                    <td>(Number of employees left/Average)*100</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </button>
            </mat-menu> 
            <span class="download-btn">
                <i class="fa fa-file-image-o" aria-hidden="true" title="Download as image" (click)="downloadAsImage('image-download-2', mainData.star.value, ['Rewards(star)', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="exportToCsv('star', mainData.star, true,  ['Rewards(star)', 'Attrition Percentage'])"></i>
            </span>
            <div class="ma-default-card-lg-content-box">
                <app-grouped-bar-chart [mainGraphData]="mainData.star"></app-grouped-bar-chart>
            </div>
        </div>
    </div>
    <div class="col-md-6" id="image-download-3" *ngIf="showGenderGraph">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Gender</h2>
            <button mat-icon-button [matMenuTriggerFor]="gendermenu" class="color-def" aria-label="Example icon-button with a menu">Attrition Formula
            </button>
            <mat-menu #gendermenu="matMenu" class="color-def-mat-menu">
                <button mat-menu-item>
                    <div class="nav-table-container">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Attrition Formula</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Average =</td>
                                    <td> (Count of active employees as on start Date in particular gender category + Count of active employees as on end Date in particular gender category) / 2</td>
                                </tr>
                                <tr>
                                    <td>Number of employees left =</td>
                                    <td> Count of employees left between  start Date and end date in particular gender category</td>
                                </tr>
                                <tr>
                                    <td>Attrition percentage = </td>
                                    <td>(Number of employees left/Average)*100</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </button>
            </mat-menu> 
            <span class="download-btn">
                <i class="fa fa-file-image-o" aria-hidden="true" title="Download as image" (click)="downloadAsImage('image-download-3', mainData.gender.value, ['Gender', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="exportToCsv('gender', mainData.gender, true,  ['Gender', 'Attrition Percentage'])"></i>
            </span>
            <div class="ma-default-card-lg-content-box">
                <app-grouped-bar-chart [mainGraphData]="mainData.gender"></app-grouped-bar-chart>
            </div>
        </div>
    </div>
    <div class="col-md-6" id="image-download-4" *ngIf="showPipGraph">
        <div class="ma-default-card ma-default-card-lg">
            <h2>PIP/DIS</h2>
            <button mat-icon-button [matMenuTriggerFor]="pipmenu" class="color-def" aria-label="Example icon-button with a menu" *ngIf="showpip">Attrition Formula
            </button >
            <button mat-icon-button [matMenuTriggerFor]="dismenu" class="color-def" aria-label="Example icon-button with a menu" *ngIf="showdis">Attrition Formula
            </button>
            <mat-menu #pipmenu="matMenu" class="color-def-mat-menu">
                <button mat-menu-item>
                    <div class="nav-table-container">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Attrition Formula</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Average =</td>
                                    <td> (Count of active employees as on start Date in particular pip category + Count of active employees as on end Date in particular pip category) / 2</td>
                                </tr>
                                <tr>
                                    <td>Number of employees left =</td>
                                    <td> Count of employees left between  start Date and end date in particular pip category</td>
                                </tr>
                                <tr>
                                    <td>Attrition percentage = </td>
                                    <td>(Number of employees left/Average)*100</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </button>
            </mat-menu> 
            <mat-menu #dismenu="matMenu" class="color-def-mat-menu">
                <button mat-menu-item>
                    <div class="nav-table-container">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Attrition Formula</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Average =</td>
                                    <td> (Count of active employees as on start Date in particular dis category + Count of active employees as on end Date in particular discategory) / 2</td>
                                </tr>
                                <tr>
                                    <td>Number of employees left =</td>
                                    <td> Count of employees left between  start Date and end date in particular dis category</td>
                                </tr>
                                <tr>
                                    <td>Attrition percentage = </td>
                                    <td>(Number of employees left/Average)*100</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </button>
            </mat-menu> 
            <span class="download-btn rating-download-btn" *ngIf="showpip">
                <i class="fa fa-file-image-o" aria-hidden="true" title="Download as image" (click)="downloadAsImage('image-download-4', mainData.pip.value, ['Pip', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="exportToCsv('pip', mainData.pip, true,  ['Pip', 'Attrition Percentage'])"></i>
            </span>
            <span class="download-btn rating-download-btn" *ngIf="showdis">
                <i class="fa fa-file-image-o" aria-hidden="true" title="Download as image" (click)="downloadAsImage('image-download-4', mainData.dis.value, ['Dis', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="exportToCsv('dis', mainData.dis, true,  ['Dis', 'Attrition Percentage'])"></i>
            </span>
            <div class="float-right">
                PIP&nbsp;<mat-slide-toggle color="warn" (change)="pipordis($event.checked)">DIS</mat-slide-toggle>
            </div>
            <div class="ma-default-card-lg-content-box">
                <app-grouped-bar-chart [mainGraphData]="mainData.pip" *ngIf="showpip"></app-grouped-bar-chart>
                <app-grouped-bar-chart [mainGraphData]="mainData.dis" *ngIf="showdis"></app-grouped-bar-chart>
            </div>
        </div>
    </div>
    <div class="col-md-6" id="image-download-5" *ngIf="showBusinessService">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Left Business/Service Function</h2><button mat-icon-button [matMenuTriggerFor]="businessservicemenuleft" class="color-def" aria-label="Example icon-button with a menu">Attrition Formula
            </button>
            <mat-menu #businessservicemenuleft="matMenu" class="color-def-mat-menu">
                <button mat-menu-item>
                    <div class="nav-table-container">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Attrition Formula</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Average =</td>
                                    <td> (Count of active employees as on start Date in particular Business/Service Funciton + Count of active employees as on end Date in particular Business/Service Funciton) / 2</td>
                                </tr>
                                <tr>
                                    <td>Number of employees left =</td>
                                    <td> Count of employees left between  start Date and end date in particular Business/Service Funciton</td>
                                </tr>
                                <tr>
                                    <td>Attrition percentage = </td>
                                    <td>(Number of employees left/Average)*100</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </button>
            </mat-menu> 
            <span class="download-btn">
                <button class='backButton' *ngIf="showBusinessServiceCategoryLeft" (click)="backBusinessServiceFunction('left')" >Back</button>
                <i class="fa fa-file-image-o" aria-hidden="true" *ngIf="showBusinessServiceNonCatLeft" title="Download as image" (click)="downloadAsImage('image-download-5', mainData.left_business_service_data.value, ['BusinessServiceFunction', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-o" aria-hidden="true" *ngIf="showBusinessServiceNonCatLeft" title="Download as CSV" (click)="exportToCsv('BusinessServiceFunction', mainData.left_business_service_data, true,  ['BusinessServiceFunction', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-image-o" aria-hidden="true"  *ngIf="showBusinessServiceCategoryLeft" title="Download as image" (click)="downloadAsImage('image-download-5', mainData.left_business_service_data.value, ['BusinessServiceFunction', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-o" aria-hidden="true"  *ngIf="showBusinessServiceCategoryLeft" title="Download as CSV" (click)="exportToCsv('BusinessServiceFunction', mainData.left_business_service_data, true,  ['BusinessServiceFunction', 'Attrition Percentage'])"></i>
            </span>
            <div class="ma-default-card-lg-content-box">
                <app-bar-chart [mainGraphData]="mainData.left_business_service_data"  *ngIf="showBusinessServiceNonCatLeft" (emitGraphData)="graphBarClick($event,'leftside')"></app-bar-chart >
                <app-bar-chart [mainGraphData]="mainData.left_businessservice_category" *ngIf="showBusinessServiceCategoryLeft"></app-bar-chart>
                </div>
        </div>
    </div>

    <div class="col-md-6" id="image-download-5" *ngIf="showBusinessService">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Right Business/Service Function</h2><button mat-icon-button [matMenuTriggerFor]="businessservicemenuright" class="color-def" aria-label="Example icon-button with a menu">Attrition Formula
            </button>
            <mat-menu #businessservicemenuright="matMenu" class="color-def-mat-menu">
                <button mat-menu-item>
                    <div class="nav-table-container">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Attrition Formula</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Average =</td>
                                    <td> (Count of active employees as on start Date in particular Business/Service Funciton+ Count of active employees as on end Date in particular Business/Service Funciton) / 2</td>
                                </tr>
                                <tr>
                                    <td>Number of employees left =</td>
                                    <td> Count of employees left between  start Date and end date in Business/Service Funciton</td>
                                </tr>
                                <tr>
                                    <td>Attrition percentage = </td>
                                    <td>(Number of employees left/Average)*100</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </button>
            </mat-menu> 
            <span class="download-btn">
                <button class='backButton' *ngIf="showBusinessServiceCategoryRight" (click)="backBusinessServiceFunction('right')" >Back</button>

                <i class="fa fa-file-image-o" aria-hidden="true" title="Download as image" *ngIf="showBusinessServiceNonCatRight" (click)="downloadAsImage('image-download-5', mainData.right_business_service_data.value, ['BusinessServiceFunction', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" *ngIf="showBusinessServiceNonCatRight" (click)="exportToCsv('BusinessServiceFunction', mainData.right_business_service_data, true,  ['BusinessServiceFunction', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-image-o" aria-hidden="true" title="Download as image" *ngIf="showBusinessServiceCategoryRight" (click)="downloadAsImage('image-download-5', mainData.right_business_service_data_category.value, ['BusinessServiceFunction', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" *ngIf="showBusinessServiceCategoryRight" (click)="exportToCsv('BusinessServiceFunction', mainData.right_business_service_data_category, true,  ['BusinessServiceFunction', 'Attrition Percentage'])"></i>
            </span>
            <div class="ma-default-card-lg-content-box">
                <app-bar-chart [mainGraphData]="mainData.right_business_service_data" *ngIf="showBusinessServiceNonCatRight" (emitGraphData)="graphBarClick($event,'rightside')"></app-bar-chart>
                <app-bar-chart [mainGraphData]="mainData.right_business_service_data_category" *ngIf="showBusinessServiceCategoryRight"></app-bar-chart>

            </div>
        </div>
    </div>
    <div class="col-md-6" id="image-download-5" *ngIf="showMajorService">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Left Major Function</h2><button mat-icon-button [matMenuTriggerFor]="majorservicemenuleft" class="color-def" aria-label="Example icon-button with a menu">Attrition Formula
            </button>
            <mat-menu #majorservicemenuleft="matMenu" class="color-def-mat-menu">
                <button mat-menu-item>
                    <div class="nav-table-container">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Attrition Formula</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Average =</td>
                                    <td> (Count of active employees as on start Date in particular Major Funciton + Count of active employees as on end Date in particular Major Funciton) / 2</td>
                                </tr>
                                <tr>
                                    <td>Number of employees left =</td>
                                    <td> Count of employees left between  start Date and end date in particular Major Funciton</td>
                                </tr>
                                <tr>
                                    <td>Attrition percentage = </td>
                                    <td>(Number of employees left/Average)*100</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </button>
            </mat-menu> 
            <span class="download-btn">
                <button class='backButton' *ngIf="showMajorFunctionServiceCategoryLeft" (click)="backMajorFunctionService('left')" >Back</button>

                <i class="fa fa-file-image-o" aria-hidden="true"  *ngIf="showMajorFunctionServiceLeft" title="Download as image" (click)="downloadAsImage('image-download-5', mainData.left_major_service_data.value, ['MajorService', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-o" aria-hidden="true"  *ngIf="showMajorFunctionServiceLeft" title="Download as CSV" (click)="exportToCsv('MajorService', mainData.left_major_service_data, true,  ['MajorService', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-image-o" aria-hidden="true" *ngIf="showMajorFunctionServiceCategoryLeft" title="Download as image" (click)="downloadAsImage('image-download-5', mainData.left_majorfunction_category.value, ['MajorService', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-o" aria-hidden="true" *ngIf="showMajorFunctionServiceCategoryLeft" title="Download as CSV" (click)="exportToCsv('MajorService', mainData.left_majorfunction_category, true,  ['MajorService', 'Attrition Percentage'])"></i>
            </span>
            <div class="ma-default-card-lg-content-box">
                <app-bar-chart [mainGraphData]="mainData.left_major_service_data" *ngIf="showMajorFunctionServiceLeft" (emitGraphData)="graphBarClick($event,'leftside')"></app-bar-chart >
                <app-bar-chart [mainGraphData]="mainData.left_majorfunction_category" *ngIf="showMajorFunctionServiceCategoryLeft"></app-bar-chart>

                </div>
        </div>
    </div>

    <div class="col-md-6" id="image-download-5" *ngIf="showMajorService">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Right MajorFunction</h2><button mat-icon-button [matMenuTriggerFor]="majorserviceright" class="color-def" aria-label="Example icon-button with a menu">Attrition Formula
            </button>
            <mat-menu #majorserviceright="matMenu" class="color-def-mat-menu">
                <button mat-menu-item>
                    <div class="nav-table-container">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Attrition Formula</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Average =</td>
                                    <td> (Count of active employees as on start Date in particularMajor Funciton+ Count of active employees as on end Date in particular Major Funciton) / 2</td>
                                </tr>
                                <tr>
                                    <td>Number of employees left =</td>
                                    <td> Count of employees left between  start Date and end date in Major Funciton</td>
                                </tr>
                                <tr>
                                    <td>Attrition percentage = </td>
                                    <td>(Number of employees left/Average)*100</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </button>
            </mat-menu> 
            <span class="download-btn">
                <button class='backButton' *ngIf="showMajorFunctionServiceCategoryRight" (click)="backMajorFunctionService('right')" >Back</button>

                <i class="fa fa-file-image-o" aria-hidden="true" *ngIf="showMajorFunctionServiceRight" title="Download as image" (click)="downloadAsImage('image-download-5', mainData.right_major_service_data.value, ['MajorService', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-o" aria-hidden="true" *ngIf="showMajorFunctionServiceRight" title="Download as CSV" (click)="exportToCsv('MajorService', mainData.right_major_service_data, true,  ['MajorService', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-image-o" aria-hidden="true" *ngIf="showMajorFunctionServiceCategoryRight" title="Download as image" (click)="downloadAsImage('image-download-5', mainData.right_majorfunction_category.value, ['MajorService', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-o" aria-hidden="true" *ngIf="showMajorFunctionServiceCategoryRight" title="Download as CSV" (click)="exportToCsv('MajorService', mainData.right_majorfunction_category, true,  ['MajorService', 'Attrition Percentage'])"></i>
            </span>
            <div class="ma-default-card-lg-content-box">
                <app-bar-chart [mainGraphData]="mainData.right_major_service_data" *ngIf="showMajorFunctionServiceRight" (emitGraphData)="graphBarClick($event,'rightside')"></app-bar-chart>
                <app-bar-chart [mainGraphData]="mainData.right_majorfunction_category" *ngIf="showMajorFunctionServiceCategoryRight"></app-bar-chart>

            </div>
        </div>
    </div>
    <div class="col-md-6" id="image-download-6" *ngIf="showTrainingGraph">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Training</h2>
            <button mat-icon-button [matMenuTriggerFor]="trainingmenu" class="color-def" aria-label="Example icon-button with a menu">Attrition Formula
            </button>
            <mat-menu #trainingmenu="matMenu" class="color-def-mat-menu">
                <button mat-menu-item>
                    <div class="nav-table-container">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Attrition Formula</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Average =</td>
                                    <td> (Count of active employees as on start Date in particular training category + Count of active employees as on end Date in particular training category) / 2</td>
                                </tr>
                                <tr>
                                    <td>Number of employees left =</td>
                                    <td> Count of employees left between  start Date and end date in particular training category</td>
                                </tr>
                                <tr>
                                    <td>Attrition percentage = </td>
                                    <td>(Number of employees left/Average)*100</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </button>
            </mat-menu> 
            <span class="download-btn">
                <i class="fa fa-file-image-o" aria-hidden="true" title="Download as image" (click)="downloadAsImage('image-download-6', mainData.training.value, ['Training', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="exportToCsv('training', mainData.training, true,  ['Training', 'Attrition Percentage'])"></i>
            </span>
            <div class="ma-default-card-lg-content-box">
                <app-grouped-bar-chart [mainGraphData]="mainData.training"></app-grouped-bar-chart>
            </div>
        </div>
    </div>
    <div class="col-md-6" id="image-download-7" *ngIf="showGradeGraph">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Grade</h2>
            <button mat-icon-button [matMenuTriggerFor]="grademenu" class="color-def" aria-label="Example icon-button with a menu">Attrition Formula
            </button>
            <mat-menu #grademenu="matMenu" class="color-def-mat-menu">
                <button mat-menu-item>
                    <div class="nav-table-container">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Attrition Formula</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Average =</td>
                                    <td> (Count of active employees as on start Date in particular grade category + Count of active employees as on end Date in particular grade category) / 2</td>
                                </tr>
                                <tr>
                                    <td>Number of employees left =</td>
                                    <td> Count of employees left between  start Date and end date in particular grade category</td>
                                </tr>
                                <tr>
                                    <td>Attrition percentage = </td>
                                    <td>(Number of employees left/Average)*100</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </button>
            </mat-menu> 
            <span class="download-btn rating-download-btn">
                <i class="fa fa-file-image-o" aria-hidden="true" title="Download as image" (click)="downloadAsImage('hidden-grade-graph', mainData.imgGrade.value, ['Grade', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="exportToCsv('grade', mainData.imgGrade, true,  ['Grade', 'Attrition Percentage'])"></i>
            </span>
            <span class="download-btn float-right">
                <i class="fa fa-chevron-left" aria-hidden="true" (click)="changeGradeDataPrev()"></i>
                <i class="fa fa-chevron-right" aria-hidden="true" (click)="changeGradeDataNext()"></i>
            </span>
            <div class="ma-default-card-lg-content-box">
                <app-grouped-bar-chart [mainGraphData]="gradeData"></app-grouped-bar-chart>
            </div>
        </div>
    </div>
    <div id="hidden-grade-graph">
        <h2>Grade</h2>
        <app-grouped-bar-chart [mainGraphData]="mainData.imgGrade"></app-grouped-bar-chart>
    </div>
    <div class="col-md-6" id="image-download-9" *ngIf="showVoluntaryGraph">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Voluntary / Involuntary</h2>
            <button mat-icon-button [matMenuTriggerFor]="leavingmenu" class="color-def" aria-label="Example icon-button with a menu">Attrition Formula
            </button>
            <mat-menu #leavingmenu="matMenu" class="color-def-mat-menu">
                <button mat-menu-item>
                    <div class="nav-table-container">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Attrition Formula</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Average =</td>
                                    <td> (Count of active employees as on start Date+ Count of active employees as on end Date) / 2</td>
                                </tr>
                                <tr>
                                    <td>Number of employees left =</td>
                                    <td> Count of employees left between  start Date and end date in particular reason of leaving category</td>
                                </tr>
                                <tr>
                                    <td>Attrition percentage = </td>
                                    <td>(Number of employees left/Average)*100</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </button>
            </mat-menu> 
            <span class="download-btn">
                <i class="fa fa-file-image-o" aria-hidden="true" title="Download as image" (click)="downloadAsImage('image-download-9',  mainData.voluntary.value, ['Voluntary / Involuntary', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="exportToCsv('voluntary', mainData.voluntary, true,  ['Voluntary / Involuntary', 'Attrition Percentage'])"></i>
            </span>
            <div class="ma-default-card-lg-content-box">
                <app-grouped-bar-chart [mainGraphData]="mainData.voluntary"></app-grouped-bar-chart>
           
            </div>
        </div>
    </div>
    <div class="col-md-6" id="image-download-11" *ngIf="showQualificationData">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Highest Qualification</h2>
            <button mat-icon-button [matMenuTriggerFor]="highestqualificationmenu" class="color-def" aria-label="Example icon-button with a menu">Attrition Formula
            </button>
            <mat-menu #highestqualificationmenu="matMenu" class="color-def-mat-menu">
                <button mat-menu-item>
                    <div class="nav-table-container">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Attrition Formula</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Average =</td>
                                    <td> (Count of active employees as on start Date in particular highest qualification category + Count of active employees as on end Date in particular highest qualification category ) / 2</td>
                                </tr>
                                <tr>
                                    <td>Number of employees left =</td>
                                    <td> Count of employees left between  start Date and end date in particular highest qualification category </td>
                                </tr>
                                <tr>
                                    <td>Attrition percentage = </td>
                                    <td>(Number of employees left/Average)*100</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </button>
            </mat-menu> 
            <span class="download-btn">
                <i class="fa fa-file-image-o" aria-hidden="true" title="Download as image" (click)="downloadAsImage('image-download-11', mainData.qualification.value, ['Qualification', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="exportToCsv('Qualification', mainData.qualification, true, ['Qualification', 'Attrition Percentage'])"></i>
            </span>
            <div class="ma-default-card-lg-content-box">
                <app-grouped-bar-chart [mainGraphData]="mainData.qualification"></app-grouped-bar-chart>
            </div>
        </div>
    </div>
    <div class="col-md-6" id="image-download-8" *ngIf="showAgeGraph">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Age group (Left comparison)</h2>
            <button mat-icon-button [matMenuTriggerFor]="agemenu" class="color-def" aria-label="Example icon-button with a menu">Attrition Formula
            </button>
            <mat-menu #agemenu="matMenu" class="color-def-mat-menu">
                <button mat-menu-item>
                    <div class="nav-table-container">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Attrition Formula</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Average =</td>
                                    <td> (Count of active employees as on start Date in particular age group category + Count of active employees as on end Date in particular age group category) / 2</td>
                                </tr>
                                <tr>
                                    <td>Number of employees left =</td>
                                    <td> Count of employees left between  start Date and end date in particular age group category</td>
                                </tr>
                                <tr>
                                    <td>Attrition percentage = </td>
                                    <td>(Number of employees left/Average)*100</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </button>
            </mat-menu> 
            <span class="download-btn">
                <i class="fa fa-file-image-o" aria-hidden="true" title="Download as image" (click)="downloadSingleGraphAsImage('image-download-8', mainData.left_age_group.value, ['Age group(Left)', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="exportToCsv('left_age_group', mainData.left_age_group, false, ['Age group(left)', 'Attrition Percentage'])"></i>
            </span>
            <div class="ma-default-card-lg-content-box">
                <app-bar-chart [mainGraphData]="mainData.left_age_group"></app-bar-chart>
            </div>
        </div>
    </div>
    <div class="col-md-6" id="image-download-91" *ngIf="showAgeGraph">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Age group (Right comparison)</h2>
            <button mat-icon-button [matMenuTriggerFor]="agemenu" class="color-def" aria-label="Example icon-button with a menu">Attrition Formula
            </button>
            <mat-menu #agemenu="matMenu" class="color-def-mat-menu">
                <button mat-menu-item>
                    <div class="nav-table-container">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Attrition Formula</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Average =</td>
                                    <td> (Count of active employees as on start Date in particular age group category + Count of active employees as on end Date in particular age group category) / 2</td>
                                </tr>
                                <tr>
                                    <td>Number of employees left =</td>
                                    <td> Count of employees left between  start Date and end date in particular age group category</td>
                                </tr>
                                <tr>
                                    <td>Attrition percentage = </td>
                                    <td>(Number of employees left/Average)*100</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </button>
            </mat-menu> 
            <span class="download-btn">
                <i class="fa fa-file-image-o" aria-hidden="true" title="Download as image" (click)="downloadSingleGraphAsImage('image-download-91', mainData.right_age_group.value, ['Age group(Right)', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="exportToCsv('right_age_group', mainData.right_age_group, false, ['Age group(right)', 'Attrition Percentage'])"></i>
            </span>
            <div class="ma-default-card-lg-content-box">
                <app-bar-chart [mainGraphData]="mainData.right_age_group"></app-bar-chart>
            </div>
        </div>
    </div>


    <div class="col-md-6" id="image-download-5" *ngIf="showBusinessService">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Left Business/Service Function</h2><button mat-icon-button [matMenuTriggerFor]="businessservicemenuleft" class="color-def" aria-label="Example icon-button with a menu">Attrition Formula
            </button>
            <mat-menu #businessservicemenuleft="matMenu" class="color-def-mat-menu">
                <button mat-menu-item>
                    <div class="nav-table-container">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Attrition Formula</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Average =</td>
                                    <td> (Count of active employees as on start Date in particular Business/Service Funciton + Count of active employees as on end Date in particular Business/Service Funciton) / 2</td>
                                </tr>
                                <tr>
                                    <td>Number of employees left =</td>
                                    <td> Count of employees left between  start Date and end date in particular Business/Service Funciton</td>
                                </tr>
                                <tr>
                                    <td>Attrition percentage = </td>
                                    <td>(Number of employees left/Average)*100</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </button>
            </mat-menu> 
            <span class="download-btn">
                <button class='backButton' *ngIf="showBusinessServiceCategoryLeft" (click)="backBusinessServiceFunction('left')" >Back</button>
                <i class="fa fa-file-image-o" aria-hidden="true" *ngIf="showBusinessServiceNonCatLeft" title="Download as image" (click)="downloadAsImage('image-download-5', mainData.left_business_service_data.value, ['BusinessServiceFunction', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-o" aria-hidden="true" *ngIf="showBusinessServiceNonCatLeft" title="Download as CSV" (click)="exportToCsv('BusinessServiceFunction', mainData.left_business_service_data, true,  ['BusinessServiceFunction', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-image-o" aria-hidden="true"  *ngIf="showBusinessServiceCategoryLeft" title="Download as image" (click)="downloadAsImage('image-download-5', mainData.left_business_service_data.value, ['BusinessServiceFunction', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-o" aria-hidden="true"  *ngIf="showBusinessServiceCategoryLeft" title="Download as CSV" (click)="exportToCsv('BusinessServiceFunction', mainData.left_business_service_data, true,  ['BusinessServiceFunction', 'Attrition Percentage'])"></i>
            </span>
            <div class="ma-default-card-lg-content-box">
                <app-bar-chart [mainGraphData]="mainData.left_business_service_data"  *ngIf="showBusinessServiceNonCatLeft" (emitGraphData)="graphBarClick($event,'leftside')"></app-bar-chart >
                <app-bar-chart [mainGraphData]="mainData.left_businessservice_category" *ngIf="showBusinessServiceCategoryLeft"></app-bar-chart>
                </div>
        </div>
    </div>

    <div class="col-md-6" id="image-download-5" *ngIf="showBusinessService">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Right Business/Service Function</h2><button mat-icon-button [matMenuTriggerFor]="businessservicemenuright" class="color-def" aria-label="Example icon-button with a menu">Attrition Formula
            </button>
            <mat-menu #businessservicemenuright="matMenu" class="color-def-mat-menu">
                <button mat-menu-item>
                    <div class="nav-table-container">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Attrition Formula</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Average =</td>
                                    <td> (Count of active employees as on start Date in particular Business/Service Funciton+ Count of active employees as on end Date in particular Business/Service Funciton) / 2</td>
                                </tr>
                                <tr>
                                    <td>Number of employees left =</td>
                                    <td> Count of employees left between  start Date and end date in Business/Service Funciton</td>
                                </tr>
                                <tr>
                                    <td>Attrition percentage = </td>
                                    <td>(Number of employees left/Average)*100</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </button>
            </mat-menu> 
            <span class="download-btn">
                <button class='backButton' *ngIf="showBusinessServiceCategoryRight" (click)="backBusinessServiceFunction('right')" >Back</button>

                <i class="fa fa-file-image-o" aria-hidden="true" title="Download as image" *ngIf="showBusinessServiceNonCatRight" (click)="downloadAsImage('image-download-5', mainData.right_business_service_data.value, ['BusinessServiceFunction', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" *ngIf="showBusinessServiceNonCatRight" (click)="exportToCsv('BusinessServiceFunction', mainData.right_business_service_data, true,  ['BusinessServiceFunction', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-image-o" aria-hidden="true" title="Download as image" *ngIf="showBusinessServiceCategoryRight" (click)="downloadAsImage('image-download-5', mainData.right_business_service_data_category.value, ['BusinessServiceFunction', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" *ngIf="showBusinessServiceCategoryRight" (click)="exportToCsv('BusinessServiceFunction', mainData.right_business_service_data_category, true,  ['BusinessServiceFunction', 'Attrition Percentage'])"></i>
            </span>
            <div class="ma-default-card-lg-content-box">
                <app-bar-chart [mainGraphData]="mainData.right_business_service_data" *ngIf="showBusinessServiceNonCatRight" (emitGraphData)="graphBarClick($event,'rightside')"></app-bar-chart>
                <app-bar-chart [mainGraphData]="mainData.right_business_service_data_category" *ngIf="showBusinessServiceCategoryRight"></app-bar-chart>

            </div>
        </div>
    </div>
    <div class="col-md-6" id="image-download-5" *ngIf="showMajorService">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Left Major Function</h2><button mat-icon-button [matMenuTriggerFor]="majorservicemenuleft" class="color-def" aria-label="Example icon-button with a menu">Attrition Formula
            </button>
            <mat-menu #majorservicemenuleft="matMenu" class="color-def-mat-menu">
                <button mat-menu-item>
                    <div class="nav-table-container">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Attrition Formula</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Average =</td>
                                    <td> (Count of active employees as on start Date in particular Major Funciton + Count of active employees as on end Date in particular Major Funciton) / 2</td>
                                </tr>
                                <tr>
                                    <td>Number of employees left =</td>
                                    <td> Count of employees left between  start Date and end date in particular Major Funciton</td>
                                </tr>
                                <tr>
                                    <td>Attrition percentage = </td>
                                    <td>(Number of employees left/Average)*100</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </button>
            </mat-menu> 
            <span class="download-btn">
                <button class='backButton' *ngIf="showMajorFunctionServiceCategoryLeft" (click)="backMajorFunctionService('left')" >Back</button>

                <i class="fa fa-file-image-o" aria-hidden="true"  *ngIf="showMajorFunctionServiceLeft" title="Download as image" (click)="downloadAsImage('image-download-5', mainData.left_major_service_data.value, ['MajorService', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-o" aria-hidden="true"  *ngIf="showMajorFunctionServiceLeft" title="Download as CSV" (click)="exportToCsv('MajorService', mainData.left_major_service_data, true,  ['MajorService', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-image-o" aria-hidden="true" *ngIf="showMajorFunctionServiceCategoryLeft" title="Download as image" (click)="downloadAsImage('image-download-5', mainData.left_majorfunction_category.value, ['MajorService', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-o" aria-hidden="true" *ngIf="showMajorFunctionServiceCategoryLeft" title="Download as CSV" (click)="exportToCsv('MajorService', mainData.left_majorfunction_category, true,  ['MajorService', 'Attrition Percentage'])"></i>
            </span>
            <div class="ma-default-card-lg-content-box">
                <app-bar-chart [mainGraphData]="mainData.left_major_service_data" *ngIf="showMajorFunctionServiceLeft" (emitGraphData)="graphBarClick($event,'leftside')"></app-bar-chart >
                <app-bar-chart [mainGraphData]="mainData.left_majorfunction_category" *ngIf="showMajorFunctionServiceCategoryLeft"></app-bar-chart>

                </div>
        </div>
    </div>

    <div class="col-md-6" id="image-download-5" *ngIf="showMajorService">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Right MajorFunction</h2><button mat-icon-button [matMenuTriggerFor]="majorserviceright" class="color-def" aria-label="Example icon-button with a menu">Attrition Formula
            </button>
            <mat-menu #majorserviceright="matMenu" class="color-def-mat-menu">
                <button mat-menu-item>
                    <div class="nav-table-container">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Attrition Formula</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Average =</td>
                                    <td> (Count of active employees as on start Date in particularMajor Funciton+ Count of active employees as on end Date in particular Major Funciton) / 2</td>
                                </tr>
                                <tr>
                                    <td>Number of employees left =</td>
                                    <td> Count of employees left between  start Date and end date in Major Funciton</td>
                                </tr>
                                <tr>
                                    <td>Attrition percentage = </td>
                                    <td>(Number of employees left/Average)*100</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </button>
            </mat-menu> 
            <span class="download-btn">
                <button class='backButton' *ngIf="showMajorFunctionServiceCategoryRight" (click)="backMajorFunctionService('right')" >Back</button>

                <i class="fa fa-file-image-o" aria-hidden="true" *ngIf="showMajorFunctionServiceRight" title="Download as image" (click)="downloadAsImage('image-download-5', mainData.right_major_service_data.value, ['MajorService', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-o" aria-hidden="true" *ngIf="showMajorFunctionServiceRight" title="Download as CSV" (click)="exportToCsv('MajorService', mainData.right_major_service_data, true,  ['MajorService', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-image-o" aria-hidden="true" *ngIf="showMajorFunctionServiceCategoryRight" title="Download as image" (click)="downloadAsImage('image-download-5', mainData.right_majorfunction_category.value, ['MajorService', 'Attrition Percentage'])"></i>
                <i class="fa fa-file-o" aria-hidden="true" *ngIf="showMajorFunctionServiceCategoryRight" title="Download as CSV" (click)="exportToCsv('MajorService', mainData.right_majorfunction_category, true,  ['MajorService', 'Attrition Percentage'])"></i>
            </span>
            <div class="ma-default-card-lg-content-box">
                <app-bar-chart [mainGraphData]="mainData.right_major_service_data" *ngIf="showMajorFunctionServiceRight" (emitGraphData)="graphBarClick($event,'rightside')"></app-bar-chart>
                <app-bar-chart [mainGraphData]="mainData.right_majorfunction_category" *ngIf="showMajorFunctionServiceCategoryRight"></app-bar-chart>

            </div>
        </div>
    </div>

    <div class="col-md-6" id="image-download-12" *ngIf="showMcaresDept">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Mcare department (Left)</h2>
            <span class="download-btn">
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="exportToCsv('Macre_dept_left', mainData.left_mdept, false, '')"></i>
            </span>
            <div class="ma-default-card-lg-content-box table-filter-card">
                <table #leftmdept class="display cell-border" style="width:100%"></table>
            </div>
        </div>
    </div>
    <div class="col-md-6" id="image-download-13" *ngIf="showMcaresDept">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Mcares deartment (Right)</h2>
            <span class="download-btn">
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="exportToCsv('Macre_dept_right', mainData.right_mdept, false, '')"></i>
            </span>
            <div class="ma-default-card-lg-content-box table-filter-card">
                <table #rightmdept class="display cell-border" style="width:100%"></table>
            </div>
        </div>
    </div>
    <div class="col-md-6" id="image-download-14" *ngIf="showWorkContract">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Work Contract (left)</h2>
            <span class="download-btn">
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="exportToCsv('work_contract_left', mainData.left_work, false, '')"></i>
            </span>
            <div class="ma-default-card-lg-content-box table-filter-card">
                <table #leftwork class="display cell-border" style="width:100%"></table>
            </div>
        </div>
    </div>
    <div class="col-md-6" id="image-download-142" *ngIf="showWorkContract">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Work Contract (right)</h2>
            <span class="download-btn">
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="exportToCsv('work_contract_right', mainData.right_work, false, '')"></i>
            </span>
            <div class="ma-default-card-lg-content-box table-filter-card">
                <table #rightwork class="display cell-border" style="width:100%"></table>
            </div>
        </div>
    </div>
    <div class="col-md-6" id="image-download-15" *ngIf="showReport">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Reporting manager (Left)</h2>
            <span class="download-btn">
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="exportToCsv('reporting_manager_left', mainData.left_report, false, '')"></i>
            </span>
            <div class="ma-default-card-lg-content-box table-filter-card">
                <table #leftreport class="display cell-border" style="width:100%"></table>
            </div>
        </div>
    </div>
    <div class="col-md-6" id="image-download-16" *ngIf="showReport">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Reporting manager (Right)</h2>
            <span class="download-btn">
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="exportToCsv('reporting_manager_right', mainData.right_report, false, '')"></i>
            </span>
            <div class="ma-default-card-lg-content-box table-filter-card">
                <table #rightreport class="display cell-border" style="width:100%"></table>
            </div>
        </div>
    </div>
    <div class="col-md-6" id="image-download-17" *ngIf="showMmcare">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Mcares manager (Left)</h2>
            <span class="download-btn">
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="exportToCsv('macres_manager_left', mainData.left_mmcares, false, '')"></i>
            </span>
            <div class="ma-default-card-lg-content-box table-filter-card">
                <table #leftmmcare class="display cell-border" style="width:100%"></table>
            </div>
        </div>
    </div>
    <div class="col-md-6" id="image-download-18" *ngIf="showMmcare">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Mcares manager (Right)</h2>
            <span class="download-btn">
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="exportToCsv('mcares_manager_right', mainData.right_mmcares, false, '')"></i>
            </span>
            <div class="ma-default-card-lg-content-box table-filter-card">
                <table #rightmmcare class="display cell-border" style="width:100%"></table>
            </div>
        </div>
    </div>
    <div class="col-md-6" id="image-download-19" *ngIf="showFunctionalCompetency">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Functional Competency (Left)</h2>
            <span class="download-btn">
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="exportToCsv('left-functional-competency', mainData.leftFunctionalCompetency, false, '')"></i>
            </span>
            <div class="ma-default-card-lg-content-box table-filter-card">
                <p *ngIf="left_table_no_data_available">No data available</p>
                <table #leftFunctionalCompetency class="display cell-border" style="width:100%"></table>
            </div>
        </div>
    </div>
    <div class="col-md-6" id="image-download-20" *ngIf="showFunctionalCompetency">
        <div class="ma-default-card ma-default-card-lg">
            <h2>Functional Competency (Right)</h2>
            <span class="download-btn">
                <i class="fa fa-file-o" aria-hidden="true" title="Download as CSV" (click)="exportToCsv('right-functional-competency', mainData.rightFunctionalCompetency, false, '')"></i>
            </span>
            <div class="ma-default-card-lg-content-box table-filter-card">
                <p *ngIf="right_table_no_data_available">No data available</p>
                <table #rightFunctionalCompetency class="display cell-border" style="width:100%"></table>
            </div>
        </div>
    </div>

</div>



