.ma-default-card-sm-content-box {
    height: 100px;
    width: 100%;
    overflow: hidden;
}

.ma-default-card-sm-content-box h1 {
    line-height: 100px;
    font-size: 30px;
    font-weight: bold;
    color:#333;
}

.ma-default-card-sm-content-box h1 span {
    font-size: 15px;
}

.ma-default-card-lg-content-box {
    position: relative;
    margin-top: 10px;
    height: 400px;
    width: 100%;
    overflow: hidden;
}

.sidebar-select-container {
    position: relative;
    width: 40%;
    margin-bottom: 10px;
    height: 50px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.alternate-select-icon {
    position: absolute;
    right:23px;
    top:15px;
    color:rgba(0, 0, 0, 0.54);
}

.table-filter-card {
    height: auto !important;
    overflow: hidden;
}
.rating-download-btn {
    position: absolute;
    margin-left: 10px;
}

.loading-message {
    position: absolute;
    left:30px;
    top:72px;
    background: rgba(0, 0, 0, 0.6);
    width: calc(40% - 22px);
    margin-bottom: 10px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    border-radius: 4px;
    padding-left: 15px;
}

.loader-spinner {
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 20px);
    transform: translate(-50%, -50%);
    width: 15px !important;
    height: 15px !important;
}

#hidden-grade-graph {
    background: #fff;
    display: none;
}

.color-desc-container {
    float: right;
}

.color-desc-container div {
    display: inline-block;
    margin-left: 15px;
}

.green-color {
    height: 15px;
    width: 15px;
    background: #5AA454;
}

.yellow-color {
    height: 15px;
    width: 15px;
    background: #C7B42C;
}

.color-def {
    margin-right: 70px;
    color:#e31837;

    text-decoration: underline;
}
.table th, .table td {
    padding: 10px !important;
}
button.mat-menu-item{
white-space:normal !important
}
.backButton {
    background-color: #e31837;;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
