<form #simulationForm="ngForm" (ngSubmit)="simulateSubmit()">
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-9 col-9 mb-3">
        <div class="form-group" id="emp-id">
          <input type="text" class="form-control form-control-sm" #emp_id="ngModel" name="emp_id" 
          placeholder="Search employee ID" [(ngModel)]="model_value" >
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-3 pl-1">
        <div class="simulate">
          <button class="btn emp-search" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
      </div>
      <small class="text-danger ml-3">*{{success_message}}.</small>
    </div>
  </form>  
  
  <!-- Modal -->
  <div class="modal fade" id="emp_list_modal" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title form-header">Employee Details</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button> 
        </div>
        <div class="modal-body">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
            class="row-border hover table-striped table-bordered table-hover table-capital" width="100%">
          </table>
          <button type="button" class="btn btn-close" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>  
  </div>  