.data_loader{
    margin-top:-5px;
}

.loader_header{
    margin-top:45px;
}

.modal_instructionIcon{
    position :relative;
    padding: 1rem
}

.loader_header .loader{
    font-family: openSans_bold;
    font-size: 20px;
    padding-left: 10px;
    border-left: #e51c39 solid 5px;
}

.form-group select{
    // font-family: openSans_regular !important;
    height:50px !important;
    width: 100%;
    border-radius: 5px;
    padding-left:21px; 
    font-size:18px;
}

.infoSection{
    float: right;
}

.infoSection .download-icon{
    margin-right:15px;
}



.infoSection .fa{
    font-size: 20px;
    color:rgb(0, 0, 0);
    cursor: pointer;
}
.loader-alert{
    margin-top: 41px;
    margin-bottom: 47px;
}
.upload-sec{
    margin-top:20px;
    width:100%;
    height: 220px;
    border: solid 1px #ccc;
    padding: 15px;
}
.alert-message {
    margin-bottom: 15px;
    padding: .75rem 1.25rem !important;
}

.upload-alert{
    padding: 0px !important;
}

.loading-container{
    text-align: center;
    display: none;
    position: absolute;
    top:86%;
    left:50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.loading-img{
    height: 25px;
}

.loading-success{
    text-align: center;
    display: none;
    position: absolute;
    top:85%;
    left:50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.loading-failed{
    text-align: center;
    display: none;
    position: absolute;
    top:85%;
    left:50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.inner-upload{
    position: relative;
    width:100%;
    height: 100%;
    border: dashed 1px #ccc;
}

.download-zip{

    margin-right: 10px;
}
.btn_logger{
    height: 50px !important;
    width: 190px;
    margin-top:15px;
    background: #E51C39 !important;
    border-radius:50px; 
    color: #fff
}

.btn_logger:disabled{
    cursor:not-allowed;
}

.upload-btn{
    text-align: center
}

.choose-file{
    height: 100%;
    width: 100%;
    opacity: 0;
    background: transparent;
}

.fa-cloud-upload{
    position: absolute;
    background: #686868 ;
    height: 25px;
    width:170px;
    border-radius: 50px;
    z-index: 0;
    top:50%;
    left:50%;
    padding:15px;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    color: #fff;
    line-height: 1px;
}

.file_name{
    text-align: center;
    position: absolute;
    width: 100%;
    top: 68%;
    left:50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.fa-cloud-upload:before {
    margin-right: 10px;
}

.inner-upload span{
    position: relative;
    font-family: openSans_regular;
    font-size: 14px;
}

.more-details{
    color: blue;
    cursor: pointer;
}

.dataInfo {
    display: none;
}

.loader-text{
    text-align: center;
    font-family: sans-serif;
    font-size: 32px;
    margin-top: 10px;
    color: slategrey;
}

.close {
    position: absolute !important;
    right:15px;
    top:15px;
    margin: 0;
}

.modal-title{
    font-family: openSans_bold;
    font-size: 20px;
    padding-left: 10px;
    border-left: #E51C39 solid 5px;
}

.recent_files{
    height: auto;
    margin-top: 16px; 
}

.loader_data{
    overflow: auto;
    height:370px;
    padding:5px 0px;
}

.upload-error{
    margin-left: -15px;
}

.progress{
    position: absolute;
    min-height: 1px;
    height:auto;
    background: #fff;
    color:black;
    width: 40%;
    top: 95%;
    left:50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.progress-container{
    background-color:gray;
    width:100%;
    height:1px;
    display: none;
}

.progress-bar{
    background-color:#E51C39;
    height:1px;
}
.loader_data_message{
    overflow: auto;
    max-height: 200px;
    margin:10px 0px;
}





/* width */
::-webkit-scrollbar {
    width: 7px;
    border: solid rgba(219, 219, 219, 0.336) 1px;
    background: rgba(219, 219, 219, 0.336);
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(229, 28, 58, 0.548); 
    height: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #E51C39; 
}
