<!-- <app-navbar></app-navbar> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8">
      <div class="loader_header">
        <span class="loader">LOADER</span>
        <div class="infoSection">
          <a (click)="downloadZip()">
            <i class="fa fa-download download-icon" title="Download Data Upload Templates"></i>
          </a>
          <a class="download-zip-link" #downloadZipLink></a>
          <i class="fa fa-info-circle info" title="Instructions" data-toggle="modal" data-target="#myModal"></i>

        </div>
      </div>

      <div class="data_loader">
        <div class="row">
          <div class="col col-sm-12">
            <div class="file-upload">
              <form name="form" (ngSubmit)="f.form.valid && fileSubmit()" #f="ngForm" novalidate>
                <div class="form-group mt-3 mb-0">
                  <select class="sfilter" #table="ngModel" name="table_name" [(ngModel)]="table_name"
                    (change)="dropdownChange($event,table.value)">
                    <option value="default">{{default_value}}</option>
                    <option *ngFor="let x of dropdown_data_value">{{ x }}</option>
                  </select>
                  <small class="text-danger" [class.d-none]="!tableHasError || table.untouched">*Please Select a table
                    name</small>
                </div>

                <div id="demo" class="form-group show upload-sec">
                  <div class="inner-upload">
                    <input type="file" #file="ngModel" multiple [(ngModel)]="file_name" name="file_name"
                      (change)="onFileChanged($event)" class="choose-file upload_file_icon" required>
                    <i class="fa fa-cloud-upload upload" aria-hidden="true"><span>Upload CSV file</span></i>
                    <p class="file_name" *ngIf="files.length > 0">{{ files?.length }} Files selected</p>
                    <div class="loading-container">
                      <img class="loading-img" src="../../../assets/img/loadericon.svg">
                      <div><small>{{ percentage }}</small></div>
                    </div>
                    <div class="loading-success">
                      <div><small>{{ percentage }}</small></div>
                      <b class="text-success">Success</b>
                    </div>
                    <b class="text-danger loading-failed">Failed!</b>
                  </div>
                  <div *ngIf="file.errors && (file.invalid && file.touched)" class="upload-error mt-3">
                    <small class="text-danger" *ngIf="file.errors.required || files?.length === 0">*Please Select
                      atleast one file to upload</small>
                  </div>
                </div>
                <div class="upload-btn">
                  <button [disabled]="f.form.invalid || tableHasError || files?.length === 0"
                    class="btn btn_logger">Submit</button>
                </div>
              </form>
              
                <div class = "text-center">
                  <button type="button" [disabled] = "refresh_button_status" (click) ="refresh_view()"  class="btn btn-primary btn_logger" [innerHtml]="refresh_buttonhtml" id="load"></button>
                  </div>
            </div>
          </div>
        </div>
      </div>
      

      <div class="loader_data_message">
        <div *ngFor="let value of loader_data " class="alert alert-dismissible upload-alert">
          <div class="alert alert-message"
            [ngClass]="{'alert-success':value.success ==='True', 'alert-danger':value.success==='False' }">
            {{value.file_name+" "+":"+" "+value.message }}</div>
        </div>
      </div>
    </div>


    <div class="col-lg-4">
      <div class="loader_header">
        <span class="loader">RECENT UPLOADS</span>
        <div class="recent_files">Total Files Uploded: {{file_count}}<div>
            <div class="loader_data">
              <div *ngFor='let val of file_names | reverse'>
                <div class="alert alert-success">
                  {{ val }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="myModal" class="modal fade instructionModal" aria-hidden="true" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal_instructionIcon">
        <h4 class="modal-title">Instructions</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>1. Ensure that the files being uploaded are of CSV format.</p>
        <p>2. Go through the default template to map the column names and maintain the same order. You can
          get hold of
          the template by clicking the download icon on top right of the page.</p>
        <p>3. Ensure all the date fields are of DD MONTH YYYY format. Eg:- (10 May 2017)</p>
        <p> 4. Ensure there are no blank/empty values in the unique constrained columns. <span class="more-details">See
            more</span></p>
        <div class="dataInfo">
          <table class="table table-bordered table-sm">
            <thead>
              <tr>
                <th>Table Name</th>
                <th>Unique Column Name(s)</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let val of unique_col_data'>
                <td>{{ val.header | capitalize }}</td>
                <td>{{ val.data }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- The Modal -->
<div class="modal" id="view_modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
  
      <!-- Modal body -->
      <div class="modal-body">
        {{result_text}}
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<div class="modal" id="danger_view_modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
  
      <!-- Modal body -->
      <div class="modal-body">
       Please Do Not Move To Other Page While Refreshing The Data
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>