
.table_filter{
    float: left;
    padding: 0px 20px;
    height: 40px;
    border-radius: 50px;
    margin-left: 43px;
    width: 262px;
    margin-bottom: -10px;
    margin-top: 10px;
  
  }
  
  .form-group{
    margin-bottom: 0 !important
  }
  
  body {
  font: 10px sans-serif;
  }
  
  .axis path,
  .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  }
  
  .bar {
  fill: steelblue;
  }
  
  .domain{
    stroke: steelblue;
  }
  .x.axis path {
  display: none;
  }
  path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
  }
  
  .fa-download{
    float: right;
    margin-top:10px 
  }
  
  .chart{
    background: #fff
  }