<div class="form-group">
    <select class="custom-select table_filter" name="table_filter" [(ngModel)]="table_filter.col_name"
      id="inputGroupSelect01" (change)="get_filter_data()">
      <option *ngFor='let colname of drop_down_data ' value="{{colname}}">{{colname}}</option>
    </select>
  </div>
  
  <div id="pdbChart">
    <!-- <div class="loading">
        <div class="status">
            <img class="loading-img" src="assets/images/loadericon.svg" />
            <p class="no-data" hidden>No Data Available</p>
        </div>
    </div> -->
    <div class="chart pdb_chart" #chartContainer></div>
  </div>