<app-navbar></app-navbar>

  <div class="container">
    <div class="form-data mb-4">
        <form (ngSubmit)="filterSubmit()">
          <div class="row filter">
            <div class="col-lg-2 col-md-4 col-sm-12 col-12">
                <div class="form-group">
                    <label class="center-block">Quarter:
                      <input class="form-control" name="prediction_details" [(ngModel)]="prediction_details.quarter">
                    </label>
                  </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-12 col-12">
                <div class="form-group">
                    <label class="center-block">Year:
                      <input class="form-control" type ="number" name="prediction_details" [(ngModel)]="prediction_details.year">
                    </label>
                  </div>
              </div>
      
            <div class="col-lg-2
             col-md-4 col-sm-12 col-12">
              <div class="form-group">
                <button class="btn btn-class" type="submit">Submit</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      
    <div class="user-table-container">
        <button class="btn add-user-btn" (click)="openAddUserDialog()" *ngIf="containsPermissionOrNot('add role')"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Add Role</button>
        <table #dataTable class="display cell-border" style="width:100%"></table>
    </div>


</div>
  