<div class="loading">
    <div class="status">
      <img class="loading-img" src="assets/img/loadericon.svg" />
      <p class="no-data" hidden>No Data Available</p>
    </div>
  </div>
  <div class="chart">
      <div class = "parameters" #chartContainer>
        <ngx-charts-bar-horizontal-stacked
        [view]="view"
        [customColors]="mycolorfn"
        [results]="multi"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [maxYAxisTickLength]='100'
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisTicks]="xAxisTicks"
        (select)="onSelect($event)">
      </ngx-charts-bar-horizontal-stacked>
      </div>
      <div class = "indicator_position mt-3 mb-3">  
        <div class="dot negative_dot"></div><span class="indicators">Low Effect</span>
        <div class="dot positive_dot"></div><span class="indicators">High Effect</span>
      </div>
      </div>


