.bar--positive {
    fill: steelblue;
  } 
  .bar--negative {
    fill: darkorange;
  }
    
  .axis text {
    font: 10px sans-serif;
  }
  
  .chart{
    background: #fff;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  
  .indicator_position{
    text-align: center;
    /* position: absolute; */
    width:100%;
    bottom: 0;
  }
  
  .dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #000;
    display: inline-block;
    margin-bottom: -3px;
  }
  
  .negative_dot{
    background: #cccccc;
    margin-right: 10px;
  }
  
  .positive_dot{
    background: #007bff;
    margin-right: 10px;
  }
  
  .loading .loading-img {
    height: 130px;
  }

  
.loading {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1;
  top: 0px;
  left: 0px;
}

.loading .status {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  opacity: 0.7;
}
  
  .indicators{
    margin-right: 30px;
    font-size:13px;
    font-family:  openSans_regular;
  }
  .chart {
  
    overflow-x: auto;
  
  }
  
  /* svg{
    overflow: auto;
  } */