<mat-dialog-content>
    <div class="add-user-from-container">
        <h1>Edit User</h1>
        <div class="form-group">
            <i class="fa fa-user input-icon" aria-hidden="true"></i>
            <input type="text" class="form-control input-default-style" [(ngModel)]="fname" placeholder="Enter your Firstname">
        </div>
        <div class="form-group">
            <i class="fa fa-user input-icon" aria-hidden="true"></i>
            <input type="text" class="form-control input-default-style" [(ngModel)]="lname" placeholder="Enter your Lastname">
        </div>
        <div class="form-group">
            <i class="fa fa-envelope input-icon" aria-hidden="true"></i>
            <input type="text" class="form-control input-default-style" [(ngModel)]="email" placeholder="Enter your Email" disabled>
        </div>
        <div class="form-group">
            <div class="select-role-dropdown-container">
                <mat-form-field>
                    <mat-label>Select Role</mat-label>
                    <i class="fa fa-angle-down alternate-select-icon" aria-hidden="true"></i>
                    <mat-select [(ngModel)]="role">
                        <mat-option *ngFor="let option of roleList" value="{{ option.name }}">{{ option.name }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="form-group text-center">
            <button class="btn add-user-form-btn" (click)="editUser()">Update <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
        </div>
    </div>
</mat-dialog-content>
<mat-progress-bar mode="indeterminate" class="global-loader"></mat-progress-bar>