<app-navbar></app-navbar>
<div class="container">
    <div class="user-table-container">
        <button class="btn add-user-btn" (click)="openAddUserDialog()" *ngIf="containsPermissionOrNot('add user')"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Add User</button>
        <table #dataTable class="display cell-border" style="width:100%"></table>
    </div>
</div>