.user-table-container {
    padding-top: 150px;
}

.add-user-btn {
    position: absolute;
    background: #e31837;
    font-size: 14px;
    font-weight: bold;
    padding: 0px 0px;
    height: 50px;
    width: 200px;
    border-radius: 50px;
    color: #fff;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    -webkit-transition: 1s;
    transition: 1s;
    z-index: 100;
}

.add-user-btn:hover {
    box-shadow: none;
}

/* User form component */
.add-user-from-container h1 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 25px;
    padding-left: 15px;
    border-left: 5px solid #e31837;
}

.add-user-from-container .form-group {
    position: relative;
}

.input-icon {
    position: absolute;
    right: 10px;
    margin-top: 16px;
    color:#ced4da;
}

.select-role-dropdown-container {
    position: relative;
    margin-bottom: 10px;
    height: 50px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

mat-label {
    padding-left: 15px;
}

.alternate-select-icon {
    position: absolute;
    right:15px;
    top:5px;
    color:rgba(0, 0, 0, 0.54);
}

.add-user-form-btn {
    background: #e31837;
    font-size: 14px;
    font-weight: bold;
    padding: 0px 0px;
    height: 50px;
    width: 100%;
    border-radius:50px;
    color:#fff;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: 1s;
}

.add-user-form-btn i {
    transition: 1s;
    margin-left: 10px;
}

.add-user-form-btn:hover i {
    transform: translateX(10px);
}

.table-toggle-btn {
    display: none;
}

.global-loader {
    display: none;
}

.mat-simple-snackbar {
    font-weight: bold;
    color:#fff;
}

mat-select {
    padding: 0px 15px 0px 15px;
}