

<div class="box-content">
    <h5 id="heading_performece">Performance by :</h5>
    <ol class="breadcrumb breaddata mt-3">
      <li *ngFor="let item of temp_dict; let i=index" value="item"
        [ngClass]="'breadcrumb-item active'">
        {{ item }}
      </li>
    </ol>
    <mat-spinner class="loader-spinner" color="warn" *ngIf="loaderactive"></mat-spinner>

    <!-- <div class="treemap" #chartContainer></div> -->
    <div id="treemap-parent" #chartContainer><div>
        <div class="error-msg" *ngIf="flatData.error_msg !== undefined">
            <h3 *ngIf="flatData.error_msg.key">
                {{ flatData.error_msg.value }}
            </h3>
        </div>
        <ngx-charts-tree-map

            (window:resize)="onResize()"
            [results]="data"
            [view]="view"
            [animations]=false
            [customColors]="mycolorfn"
            *ngIf="plotGraph"
            >
        <ng-template #tooltipTemplate let-model="model">
            {{ getPath(model) }}
        </ng-template>
        </ngx-charts-tree-map>
    </div>
  </div>
  </div>