#treemap-parent {
    display: grid;
}

.loader-spinner {
    width: 40px !important;
    height: 40px !important;
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 20px);
    transform: translate(-50%, -50%);
}

.treemap-breadcrumb {
    overflow: auto;
    font-size: 11px;
}