<mat-spinner class="loader-spinner" color="warn" *ngIf="loaderactive"></mat-spinner>
<!-- <div class="treemap-breadcrumb">
    <button class="breadcrumb-list" *ngFor="let val of breadcrumbArr" value="{{ val.name + '^' + val.value  }}" (click)="breadCrumbClick($event.target)">{{ val.value }}></button>
</div> -->
<div id="treemap-parent">
    <ngx-charts-tree-map
        (window:resize)="onResize()"
        [results]="data"
        [view]="view"
        [animations]=false
        [customColors]="mycolorfn"
        *ngIf="plotGraph"
        >
    <ng-template #tooltipTemplate let-model="model">
        {{ getPath(model) }}
    </ng-template>
    </ngx-charts-tree-map>
</div>
