.simulation .simulation-header{
    margin:20px 0px;
    font-family: openSans_bold;
    font-size: 20px;
    padding-left: 10px;
    border-left: #E51C39 solid 5px;
  }    
  
  .simulation .simulation-header .quarter{
    color: #E51C39
  }
  
  .simulaton-body{
    border: 1px solid rgba(0,0,0,.125);
    min-height:300px;
    height: auto;
    background: #fff;
    width: 100%; 
  }
  
  .svgDownload{
    position: absolute;
    right: 26px;
    top: 10px;
    font-size: 18px;
    cursor: pointer;
    // z-index: 100 !important;
    height: 18px;
  }
  .col-first{
    border-right: 1px solid rgba(0,0,0,.125);
  }
  
  .left-form{
    min-height: 300px;
    height: auto;
    padding: 15px 0px 15px 15px;
  }
  
  .left-form .form-group .form-check , .left-form .form-group input,.left-form .form-group .form-check-inline{
    font-family: openSans_regular;
    font-size:14px;
  }
  
  .left-form h6{
    font-family: openSans_semibold;
    font-size: 14px;
    color: #00000096;
  }
  
  .category{
    width: 100%;
    font-family: openSans_bold;
    color: #000000;
    font-size:15px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .prediction .category{
    font-family: openSans_bold;
    color: #000000;
    font-size:15px;
    text-align: left;
    margin-bottom: 10px;
  } 
  
  .prediction p{
    margin-bottom: .5rem;
  }
  
  /* Range Slider */
  
  
  .slider {
      position: static;
      -webkit-appearance: none;
      width: 100%;
      height: 6px;
      border-radius: 5px;
      background: #d3d3d3;
      outline: none;
      -webkit-transition: .2s;
      transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: #E51C39;
      cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: #E51C39;
      cursor: pointer;
  }
  
  .slider::before{
      display: none;
  }
  
  #tickmarks{
      display: flex;
      justify-content: space-between;
  }
  
  #tickmarks option {
    font-family: openSans_regular;
    font-size: 10px;
    display: block;
    margin-top:3px; 
  }
  
  .form-check{
    padding-left: 0px !important;
  }
  
  .form-check-input {
    position: absolute;
    margin-top: 0.2rem;
    margin-left: 0rem;
  }
  
  /* custom radio*/
  
  /* The container */
  .form-check-label {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 15px;
  }
  
  /* Hide the browser's default radio button */
  .form-check-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 2.5px;
    left: 0;
    height: 18px;
    width: 18px;
    border-radius: 50px;
    background-color: #fff;
    border:1px solid #e51c39;
  }
  
  /* On mouse-over, add a grey background color */
  .form-check-label:hover input ~ .checkmark {
    background-color: #e51c3a25;
  }
  
  /* When the radio button is checked, add a blue background */
  .form-check-label input:checked ~ .checkmark {
    background-color: #fff;
    border:1px solid #e51c39;
    border-radius: 50px;
  
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .form-check-label input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .form-check-label .checkmark:after {
       top: 3px;
      left: 3px;
      width: 10px;
      height: 10px;
    background: #e51c39;
    border-radius: 50px;  
  }
  
  /* custom radio end */
  
  /* Custom check-box */
  
  .container-box {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container-box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark-box {
    position: absolute;
    top: -1px;
    left: 5px;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border: #E51C39 solid 1px;
  }
  
  /* On mouse-over, add a grey background color */
  .container-box:hover input ~ .checkmark-box {
    background-color: #e51c3a25;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container-box input:checked ~ .checkmark-box {
    background-color: #fff;
    border:1px solid #e51c39;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark-box:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container-box input:checked ~ .checkmark-box:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container-box .checkmark-box:after {
    left: 4px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid #E51C39;
    border-width: 0px 2px 2px 0px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  /* Custom check-box  end */
  
  
  /* output section */
  
  .prediction{
    padding: 15px 0px;
  }
  
  .prediction h6{
    color: #E51C39;
    width: 100%;
    font-family: openSans_bold;
    font-size: 17px;
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  .prediction h5{
    font-family: openSans_semibold;
    font-size: 17px;
  }
  
  .prediction .input-data p{
    font-family: openSans_semibold;
    font-size: 13px;
  }
  
  .input-data p span{
    font-family: openSans_regular;
    font-size: 14px;
  }
  
  .input-data h6 span{
    font-family: openSans_semibold;
    font-size: 18px;
  }
  
  .form-check-inline{
    margin-right: 0px !important;
  }
  
  .simulation-submit,.reset-btn{
    background-color: #E51C39;
    color: white;
    font-family: openSans_regular !important;
    border-radius: 0px !important;
    width: 110px;
  }
  
  .simulate{
    float:left;
    margin-bottom: 15px;
  }
  
  .reset-btn{
    margin-top:-20px;
  }
  
  .lime-container{
    margin-right: 30px !important;
  }
  
  .lime-chart{
    min-height: 300px;
    height: auto;
    border: 1px solid rgba(0,0,0,.125);
    margin: 0px -15px 0px 15px;
  }
  
  
  #parameters_heading{
    margin-top: 8px;
    margin-bottom: 20px;
    padding: 0px !important;
    color: #00000096;
    background-color: transparent !important;
    text-align: center;
    font-size: 16px !important;
    border-bottom: none;
    font-family: openSans_semibold;
  }
  
  .jpegDownload{
    position: absolute;
    right: 9px;
    top: 10px;
    cursor: pointer;
    // z-index: 100 !important;
    height: 18px;
  }
  
  
  @media only screen and (max-width: 767px) {
  
    .prediction{
      margin-left: 15px;
    }
    .left-form{
      padding-right: 15px;
    }
  
    .col-first[_ngcontent-c4] {
      border-right: none;
    }
    
  }
  
  
  /* .lime-chart{
    overflow-x: auto
  
  } */