<div class="simulation">
  <div class="heading-search-container">
    <p class="simulation-header">PREDICTION FOR <span class="quarter">Q1 - FY 23</span></p>
  </div>
  <div class="simulaton-body mb-3">
    <div class="row">
      <div class="col-lg-12 col-md-5 col-sm-12 col-12 col-first">
        <form #simulationForm="ngForm" (ngSubmit)="simulateSubmit(simulationForm.value)">
          <div class="left-form">
            <app-emp-search (childEvent)="emp_details($event)"></app-emp-search>
            <div class="row">
              <h5 class="category">EMPLOYEE DEMOGRAPHIC</h5>
              <div class="col-lg-6 col-md-12 col-sm-12 col-12 mb-1">
                <div class="form-group">
                  <h6>Marital Status</h6>
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" value="Single" name="marital_status"
                        [(ngModel)]=model.marital_status #marital_status="ngModel" required>Single
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" value="Married" name="marital_status"
                        [(ngModel)]=model.marital_status #marital_status="ngModel" required>Married
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 mb-1">
                <div class="form-group">
                  <h6>Qualification</h6>
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" value="post_grad" [(ngModel)]=model.emp_qualif
                        name="emp_qualif" #education="ngModel" required>Postgraduate
                      <span class="checkmark"></span>
                    </label>
                  </div>

                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" value="grad" [(ngModel)]=model.emp_qualif
                        name="emp_qualif" #education="ngModel" required>Graduate
                      <span class="checkmark"></span>
                    </label>
                  </div>

                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" value="under_grad" [(ngModel)]=model.emp_qualif
                        name="emp_qualif" #education="ngModel" required>Undergraduate
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 mb-1">
                <div class="form-group">
                  <h6 class="mb-3">Age</h6>
                  <input type="range" name="emp_age" [(ngModel)]="model.emp_age" min="15" max="70" step="1"
                    class="slider" #age_year id="tickmarks" required>
                  <datalist id="tickmarks">
                    <ng-container *ngFor="let i of ageList">
                      <option *ngIf="ageLabel.includes(i)" value={{i}} label={{i}}>
                    </ng-container>
                  </datalist>
                </div>
              </div>

              <div class="col-lg-5 mb-1">
                <div class="form-group">
                  <h6 class="mb-3">Languages Known</h6>
                  <input type="range" min="1" max="5" name="no_lang_known" [(ngModel)]="model.no_lang_known" step="1"
                    class="slider" id="tickmarks" #lang_knw="ngModel" required>
                  <datalist id="tickmarks">
                    <ng-container *ngFor="let z of langKnwList">
                      <option value={{z}} label={{z}}>
                    </ng-container>
                  </datalist>
                </div>
              </div>

              <!-- <div class="col-lg-6 mb-1">
                <div class="form-group">
                  <h6>State</h6>
                  <select required class="form-control drop-val" #states="ngModel" name="state"
                    [(ngModel)]="model.state">
                    <option class="default" value="default">Select State</option>
                    <option *ngFor='let val of state_list'>{{val}}</option>
                  </select>
                </div>
              </div> -->

              <!-- <div class="col-lg-6 mb-1">
                <div class="form-group">
                  <h6>Mother Tongue</h6>
                  <select required class="form-control drop-val" #language="ngModel" name="mother_tongue"
                    [(ngModel)]="model.mother_tongue">
                    <option class="default" value="default">Select Language</option>
                    <option *ngFor='let i of selected_language'>{{i}}</option>
                  </select>
                </div>
              </div> -->
              <h5 class="category mt-3">PROFESSIONAL DETAILS</h5>

              <!-- <div class="col-lg-6 mb-1">
                <div class="form-group">
                  <h6 class="mb-3">Experience in Current Role (In Years)</h6>
                  <input type="range" min="0" max="20" name="experience_in_current_role"
                    [(ngModel)]=model.experience_in_current_role step="1" class="slider" id="tickmarks"
                    #exp_curt_role="ngModel" required>
                  <datalist id="tickmarks">
                    <ng-container *ngFor="let j of exp_curnt_role_list">
                      <option *ngIf="exp_curnt_role_label_list.includes(j)" value={{j}} label="{{j | leftzero}}">
                    </ng-container>
                  </datalist>
                </div>
              </div> -->
              <div class="col-lg-5 mb-1">
                <div class="form-group">
                  <h6 class="mb-3">Duration in Company (In Years)</h6>
                  <input type="range" min="0" max="30" name="total_experience_in_mf"
                    [(ngModel)]=model.total_experience_in_mf step="1" class="slider" id="tickmarks" #exp_mf="ngModel"
                    required>
                  <datalist id="tickmarks">
                    <ng-container *ngFor="let x of totalExpList">
                      <option *ngIf="totalExpList_label.includes(x)" value={{x}} label="{{x | leftzero}}">
                    </ng-container>
                  </datalist>
                </div>
              </div>

              <div class="col-lg-5 mb-1">
                <div class="form-group">
                  <h6>Employee & Reporting Officer Location</h6>
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" value="same" [(ngModel)]=model.emp_repo_location
                        name="emp_repo_location" #exp_mf="ngModel" required>Same
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" value="different" [(ngModel)]=model.emp_repo_location
                        name="emp_repo_location" #empreroloc="ngModel" required>Different
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
              </div>

              <div class="col-lg-7 mb-1">
                  <div class="form-group">
                    <h6>Band</h6>
                    <div class="form-check-inline">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="DEPATMENT HEAD" [(ngModel)]=model.band
                          name="dept_head" #dept_head="ngModel" required>DEPATMENT HEAD
                        <span class="checkmark"></span>
                      </label>
                    </div>
                    <div class="form-check-inline">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="EXECUTIVE" [(ngModel)]=model.band
                          name="EXECUTIVE" #EXECUTIVE="ngModel" required>EXECUTIVE
                        <span class="checkmark"></span>
                      </label>
                    </div>
                    <div class="form-check-inline">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="MANAGERIAL" [(ngModel)]=model.band
                          name="MANAGERIAL" #MANAGERIAL="ngModel" required>MANAGERIAL
                        <span class="checkmark"></span>
                      </label>
                    </div>
                    <div class="form-check-inline">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="OPERATIONAL" [(ngModel)]=model.band
                          name="OPERATIONAL" #OPERATIONAL="ngModel" required>OPERATIONAL
                        <span class="checkmark"></span>
                      </label>
                    </div>
                    <div class="form-check-inline">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="STRATEGIC" [(ngModel)]=model.band
                          name="STRATEGIC" #STRATEGIC="ngModel" required>STRATEGIC
                        <span class="checkmark"></span>
                      </label>
                    </div>
                  </div>
                </div>

              <!-- <div class="col-lg-12 mb-1">
                <div class="form-group">
                   <h6>Employee & Reporting Officer Department</h6>
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" value="same" [(ngModel)]=model.emp_repo_depart
                        name="emp_repo_depart" #emprerodept="ngModel" required>Same
                      <span class="checkmark"></span>
                    </label>
                  </div> 
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" value="different" [(ngModel)]=model.emp_repo_depart
                        name="emp_repo_depart" #emprerodept="ngModel" required>Different
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
              </div> -->
              <h5 class="category mt-3">REPORTING OFFICER DETAILS
                <label class="container-box">
                  <input type="checkbox" name="check-box" (change)="toggleVisibility_repo($event)"
                    class="form-check-box" id="Check">
                  <span class="checkmark-box"></span>
                </label>
              </h5>
              <div class="col-lg-6 mb-1" *ngIf="isChecked">
                <div class="form-group">
                  <h6 class="mb-3">Reporting Officer Age</h6>
                  <input type="range" name="repo_age" [(ngModel)]="model.repo_age" min="15" max="70" step="1"
                    class="slider" #age_year id="tickmarks" required>
                  <datalist id="tickmarks">
                    <ng-container *ngFor="let i of ageList">
                      <option *ngIf="ageLabel.includes(i)" value={{i}} label={{i}}>
                    </ng-container>
                  </datalist>
                </div>
              </div>
              <div class="col-lg-5 mb-1" *ngIf="isChecked">
                <div class="form-group">
                  <h6 class="mb-3">Reporting Officer Languages Known</h6>
                  <input type="range" min="1" max="5" name="repo_no_lang_known" [(ngModel)]="model.repo_no_lang_known"
                    step="1" class="slider" id="tickmarks" #lang_knw="ngModel" required>
                  <datalist id="tickmarks">
                    <ng-container *ngFor="let z of langKnwList">
                      <option value={{z}} label={{z}}>
                    </ng-container>
                  </datalist>
                </div>
              </div>
              <!-- <div class="col-lg-6 mb-1" *ngIf="isChecked">
                <div class="form-group">
                  <h6 class="mb-3">Reporting Officer Experience in Current Role (In Years)</h6>
                  <input type="range" min="0" max="20" name="repo_experience_in_current_role"
                    [(ngModel)]=model.repo_experience_in_current_role step="1" class="slider" id="tickmarks"
                    #exp_curt_role="ngModel" required>
                  <datalist id="tickmarks">
                    <ng-container *ngFor="let j of exp_curnt_role_list">
                      <option *ngIf="exp_curnt_role_label_list.includes(j)" value={{j}} label="{{j | leftzero}}">
                    </ng-container>
                  </datalist>
                </div>
              </div> -->

              <div class="col-lg-5 mb-1 " *ngIf="isChecked">
                <div class="form-group">
                  <h6 class="mb-3">Reporting Officer Duration in Company (In Years)</h6>
                  <input type="range" min="0" max="30" name="repo_total_experience_in_mf"
                    [(ngModel)]=model.repo_total_experience_in_mf step="1" class="slider" id="tickmarks"
                    #exp_mf="ngModel" required>
                  <datalist id="tickmarks">
                    <ng-container *ngFor="let x of totalExpList">
                      <option *ngIf="totalExpList_label.includes(x)" value={{x}} label="{{x | leftzero}}">
                    </ng-container>
                  </datalist>
                </div>
              </div>

              <div class="col-lg-6 mb-1" *ngIf="isChecked">
                <div class="form-group">
                  <h6>Reporting Officer Qualification</h6>
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" value="post_grad" [(ngModel)]=model.repo_qualif
                        name="repo_qualif " #education="ngModel" required>Postgraduate
                      <span class="checkmark"></span>
                    </label>
                  </div>

                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" value="grad" [(ngModel)]=model.repo_qualif
                        name="repo_qualif " #education="ngModel" required>Graduate
                      <span class="checkmark"></span>
                    </label>
                  </div>

                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" value="under_grad" [(ngModel)]=model.repo_qualif
                        name="repo_qualif " #education="ngModel" required>Undergraduate
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-lg-5 mb-1" *ngIf="isChecked">
                  <div class="form-group">
                    <h6 class="mb-3">Reporting Officer Mcares Score</h6>
                    <input type="range" min="1" max="5" name="mcares_score" [(ngModel)]="model.mcares_score"
                      step="1" class="slider" id="tickmarks" #mcares_score="ngModel" required>
                    <datalist id="tickmarks">
                      <ng-container *ngFor="let z of mcares_score_list">
                        <option value={{z}} label={{z}}>
                      </ng-container>
                    </datalist>
                  </div>
                </div>

              <h5 class="category mt-3">REWARDS</h5>
              <div class="col-lg-3 col-md-3 col-sm-6 col-6 mb-1">
                <div class="form-group">
                  <h6>Star Performer Previous</h6>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" [value]="1" [(ngModel)]="model.star_performer"
                        name="star_performer" #star="ngModel" required>Yes
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" [value]="0" [(ngModel)]="model.star_performer"
                        name="star_performer" #star="ngModel" required>No
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-6 mb-1">
                  <div class="form-group">
                    <h6>Star Performer Previous to Previous</h6>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" [value]="1" [(ngModel)]="model.star_prev_performer"
                          name="star_prev_performer" #star_prev_performer="ngModel" required>Yes
                        <span class="checkmark"></span>
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" [value]="0" [(ngModel)]="model.star_prev_performer"
                          name="star_prev_performer" #star_prev_performer="ngModel" required>No
                        <span class="checkmark"></span>
                      </label>
                    </div>
                  </div>
                </div>
  

              <div class="col-lg-3 col-md-3 col-sm-6 col-6 mb-1">
                <div class="form-group">
                  <h6>Gem Performer Previous</h6>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" [value]="1" [(ngModel)]=model.gem_performer
                        name="gem_performer" #gem="ngModel" required>Yes
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" [value]="0" [(ngModel)]=model.gem_performer
                        name="gem_performer" #gem="ngModel" required>No
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-6 mb-1">
                  <div class="form-group">
                    <h6>Gem Performer Previous to Previous</h6>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" [value]="1" [(ngModel)]=model.gem_prev_performer
                          name="gem_prev_performer" #gem_prev_performer="ngModel" required>Yes
                        <span class="checkmark"></span>
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" [value]="0" [(ngModel)]=model.gem_prev_performer
                          name="gem_prev_performer" #gem_prev_performer="ngModel" required>No
                        <span class="checkmark"></span>
                      </label>
                    </div>
                  </div>
                </div>

              <h5 class="category mt-3">ORGANIZATIONAL CHANGES</h5>

              <div class="col-lg-6 col-md-6 col-sm-6 col-6 mb-1">
                <div class="form-group">
                  <h6>Promotion in Present Year</h6>
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" value="promotion_category_2years" [(ngModel)]=model.promotion
                        name="promotion_category_2years" #promotion_category_2years="ngModel" required>promotion_category_<=2years
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" value="promotion_category_4years" [(ngModel)]=model.promotion
                        name="promotion_category_4years" #promotion_category_4years="ngModel" required>promotion_category_<=4years
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" value="promotion_category_9years" [(ngModel)]=model.promotion
                        name="promotion_category_9years" #promotion_category_9years="ngModel" required>promotion_category_<=9years
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" value="promotion_category_NA" [(ngModel)]=model.promotion
                        name="promotion_category_NA" #promotion_category_NA="ngModel" required>promotion_category_N_A
                      <span class="checkmark"></span>
                    </label>
                  </div>
                

                 

                  <!-- <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" [value]="promotion_category_2years" [(ngModel)]=model.promotion
                        name="prom_prsnt_yr" #prom_prsnt_yr="ngModel" required>promotion_category_<=2years
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" [value]="promotion_category_4years" [(ngModel)]=model.promotion
                        name="prom_prsnt_yr" #prom_prsnt_yr="ngModel" required>promotion_category_<=4years
                      <span class="checkmark"></span>
                    </label>
                  </div> -->
                  <!-- <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" [value]="promotion_category_9years" [(ngModel)]=model.promotion
                        name="promotion" #prom_prsnt_yr="ngModel" required>promotion_category_<=9years
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" [value]="promotion_category_NA" [(ngModel)]=model.promotion
                        name="promotion" #prom_prsnt_yr="ngModel" required>promotion_category_NA
                      <span class="checkmark"></span>
                    </label>
                  </div> -->
                </div>
              </div>
              <h5 class="category mt-3">OTHERS</h5>

              <div class="col-lg-6 mb-1">
                <div class="form-group">
                  <h6 class="mb-3">Leave Taken</h6>
                  <input type="range" min="0" max="30" name="no_leaves_taken" [(ngModel)]="model.no_leaves_taken"
                    step="1" class="slider" id="tickmarks" #leave="ngModel" required>
                  <datalist id="tickmarks">
                    <ng-container *ngFor="let y of totalExpList">
                      <option *ngIf="totalExpList_label.includes(y)" value={{y}} label="{{y | leftzero}}">
                    </ng-container>
                  </datalist>
                </div>
              </div>
              <div class="col-lg-5 mb-1">
                  <div class="form-group">
                    <h6 class="mb-3">Leave Previous Taken</h6>
                    <input type="range" min="0" max="30" name="no_leaves_previous_taken" [(ngModel)]="model.no_leaves_previous_taken"
                      step="1" class="slider" id="tickmarks" #leave_previous="ngModel" required>
                    <datalist id="tickmarks">
                      <ng-container *ngFor="let y of totalExpList">
                        <option *ngIf="totalExpList_label.includes(y)" value={{y}} label="{{y | leftzero}}">
                      </ng-container>
                    </datalist>
                  </div>
                </div>

              <div class="col-lg-6 mb-1">
                <div class="form-group">
                  <h6 class="mb-3">Annual Hike Percentage</h6>
                  <input type="range" min="0" max="60" name="annual_hike_percentage"
                    [(ngModel)]="model.annual_hike_percentage" step="1" class="slider" id="tickmarks"
                    #annual_hike="ngModel" required>
                  <datalist id="tickmarks">
                    <ng-container *ngFor="let y of hikePerList">
                      <option *ngIf="hikePerLabel.includes(y)" value={{y}} label="{{y | leftzero}}%">
                    </ng-container>
                  </datalist>
                </div>
              </div>
    

              <!-- <div class="col-lg-6 mb-1">
                <div class="form-group">
                  <h6 class="mb-3">Monthly Compensation Gross</h6>
                  <div class="form-group">
                    <input type="number" class="form-control form-control-sm" pattern="^[0-9]+[0-9]*$"
                      name="monthly_compens_gross" [(ngModel)]="model.monthly_compens_gross" #monthly_gross="ngModel"
                      required [class.is-invalid]="monthly_gross.invalid && monthly_gross.touched" required>
                    <div *ngIf="monthly_gross.errors && (monthly_gross.invalid && monthly_gross.touched)">
                      <small class="text-danger" *ngIf="monthly_gross.errors.required">*Monthly Compensation Gross is
                        required</small>
                      <small class="text-danger" *ngIf="monthly_gross.errors.pattern">*Enter numeric values
                        only</small>
                    </div>
                  </div>
                </div>
              </div>
              
           -->

           <div class="col-lg-5 mb-1">
            <div class="form-group">
            <h6>Monthly Compensation Gross Percentage</h6>
              <!-- <select class="form-control" name="monthly_gross"  (change)="monthly_compens_change($event)" [(ngModel)]="monthly_compens_gross_percentage" #monthly_gross="ngModel" required> -->
                <!-- <option >5%</option> -->
                <!-- <option *ngFor="let x of component_percentage_values">{{ x }}</option> -->
              <!-- </select> -->
              <input type="text" class="form-control form-control-sm" #monthly_gross="ngModel" name="monthly_gross" 
                     placeholder="" [(ngModel)]="monthly_compens_gross_percentage" required>
            </div>
          </div> 


                <!-- <div class="col-lg-5 mb-1">
                  <div class="form-group">
                    <h6 class="mb-3">Fixed Component</h6>
                    <div class="form-group">
                      <input type="number" class="form-control form-control-sm" pattern="^[0-9]+[0-9]*$"
                        name="fixed_component" [(ngModel)]="model.fixed_component" #fixed_component="ngModel"
                        required [class.is-invalid]="fixed_component.invalid && fixed_component.touched" required>
                      <div *ngIf="fixed_component.errors && (fixed_component.invalid && fixed_component.touched)">
                        <small class="text-danger" *ngIf="fixed_component.errors.required">*Monthly Compensation GrossPrevious is
                          required</small>
                        <small class="text-danger" *ngIf="fixed_component.errors.pattern">*Enter numeric values
                          only</small>
                      </div>
                    </div>
                  </div>
                </div> -->

                <div class="col-lg-5 mb-1">
                  <div class="form-group">            
                      <h6>Fixed Component Percentage</h6>
                    <!-- <select class="form-control sfilter" name="fixed_component_per" (change)="fixed_component_change($event)"[(ngModel)]="fixed_component_percentage" #fixed_component_per="ngModel" required> -->
                      <!-- <option >5%</option> -->
                      <!-- <option *ngFor="let x of component_percentage_values">{{ x }}</option> -->
                    <!-- </select> -->
                    <input type="text" class="form-control form-control-sm" #fixed_component_per="ngModel" name="fixed_component_per" 
                    placeholder="" [(ngModel)]="fixed_component_percentage" required>
                  </div>
                </div>

  
              <div class="col-lg-2 mb-1">
                <div class="form-group">
                  <h6>Trained</h6>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" [value]="1" [(ngModel)]=model.training_done
                        name="training_done" #train="ngModel" required>Yes
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" [value]="0" [(ngModel)]=model.training_done
                        name="training_done" #train="ngModel" required>No
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
              </div>


              <div class="col-lg-2 mb-1">
                  <div class="form-group">
                    <h6>Trained Previous</h6>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" [value]="1" [(ngModel)]=model.training_prev_done
                          name="training_prev_done" #training_prev_done="ngModel" required>Yes
                        <span class="checkmark"></span>
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" [value]="0" [(ngModel)]=model.training_prev_done
                          name="training_prev_done" #training_prev_done="ngModel" required>No
                        <span class="checkmark"></span>
                      </label>
                    </div>
                  </div>
                </div>

              <div class="col-lg- mb-1">
                <div class="form-group">
                  <h6>Pip</h6>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" [value]="1" [(ngModel)]=model.pip_act name="pip_act "
                        #pip="ngModel" required>Yes
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" [value]="0" [(ngModel)]=model.pip_act name="pip_act"
                        #pip="ngModel" required>No
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-lg- mb-1">
                  <!-- <div class="form-group">
                    <h6>  Pip Previous   </h6>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" [value]="1" [(ngModel)]=model.pip_prev_act name="pip_prev_act "
                          #pip_previous="ngModel" required>Yes
                        <span class="checkmark"></span>
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" [value]="0" [(ngModel)]=model.pip_prev_act name="pip_prev_act"
                          #pip_previous="ngModel" required>No
                        <span class="checkmark"></span>
                      </label>
                    </div>
                  </div> -->
                </div>
              <div class="col-lg- mb-1">
                <div class="form-group">
                  <h6>Gender</h6>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" [value]="0" [(ngModel)]=model.gender name="gender"
                        #gender="ngModel" required>Male
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" [value]="1" [(ngModel)]=model.gender name=" gender"
                        #gender="ngModel" required>Female
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 mb-1">
                <div class="form-group">
                  <h6>Disciplinary</h6>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" [value]="1" [(ngModel)]=model.disp_act
                        name=" disp_act" #disc="ngModel" required>Yes
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" [value]="0" [(ngModel)]=model.disp_act
                        name=" disp_act" #disc="ngModel" required>No
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 mb-1">
                  <!-- <div class="form-group">
                    <h6>Disciplinary Previous</h6>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" [value]="1" [(ngModel)]=model.disp_prev_act
                          name=" disp_act_prev" #disp_act_prev="ngModel" required>Yes
                        <span class="checkmark"></span>
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" [value]="0" [(ngModel)]=model.disp_prev_act
                          name=" disp_act_prev" #disp_act_prev="ngModel" required>No
                        <span class="checkmark"></span>
                      </label>
                    </div>
                  </div> -->
                </div>

            </div>

            <div class="simulate">
              <button class="btn simulation-submit" type="submit">Simulate</button>
            </div>
          </div>
        </form>
        <button class="btn reset-btn ml-2" (click)="reset()">Reset</button>
      </div>


      <!-- Simulation output -->

      <div class="col-lg-12 col-md-7 col-sm-12 col-12">
        <div class="prediction ml-4">
          <h6>Inputs For Simulation</h6>
          <div class="input-data" *ngIf="simulate_res['message'] === 'success'">
            <div class="row">
              <div class="col-lg-6 pr-4">

                <h5 class="category mt-4">EMPLOYEE DEMOGRAPHIC</h5>

                <p>MARITAL STATUS :
                  <span *ngIf="simulate_res['data'].marital_status_Married === 1">Married</span>
                  <span *ngIf="simulate_res['data'].marital_status_Single === 1">Single</span>
                  <span *ngIf="simulate_res['data'].marital_status_Single === 0 
                      && simulate_res['data'].marital_status_Married === 0">N/A
                  </span>
                </p>

                <p>AGE : <span>{{simulate_res['data'].emp_age}}</span></p>

                <P>LANGUAGES KNOWN : <span>{{simulate_res['data'].emp_lang_count}}</span></P>

                <!-- <p>STATE & MOTHER TONGUE MATCH:
                  <span *ngIf="simulate_res['data'].emp_state_lang_same === 1">Yes</span>
                  <span *ngIf="simulate_res['data'].emp_state_lang_different === 1">No</span>
                  <span *ngIf="simulate_res['data'].emp_state_lang_different === 0
                      && simulate_res['data'].emp_state_lang_same === 0">N/A
                  </span>
                </p> -->

                <p>QUALIFICATION :
                  <span *ngIf="simulate_res['data'].emp_qualif_cat_post_grad === 1">Postgraduate</span>
                  <span *ngIf="simulate_res['data'].emp_qualif_cat_under_grad === 1">Undergraduate</span>
                  <span *ngIf="simulate_res['data'].emp_qualif_cat_grad === 1">Graduate</span>
                  <span *ngIf="simulate_res['data'].emp_qualif_cat_under_grad === 0 
                      && simulate_res['data'].emp_qualif_cat_post_grad === 0 
                      && simulate_res['data'].emp_qualif_cat_grad === 0">N/A</span>
                </p>

                <h5 class="category mt-4">PROFESSIONAL DETAILS</h5>

                <!-- <p>EXPERIENCE IN CURRENT ROLE :
                  <span>{{simulate_res['data'].experience_in_current_role_in_months}}
                    Years</span>
                </p> -->

                <p>DURATION IN COMPANY :
                  <span>{{simulate_res['data'].total_experience_months_in_mf}} Years</span>
                </p>

                <p>EMP & R/O LOCATION :
                  <span *ngIf="simulate_res['data'].location_emp_rep_same === 1">Same</span>
                  <span *ngIf="simulate_res['data'].location_emp_rep_different === 1">Different</span>
                  <span *ngIf="simulate_res['data'].location_emp_rep_different === 0 
                      && simulate_res['data'].location_emp_rep_same === 0">N/A
                  </span>
                </p>
                <!-- <p>EMP & R/O DEPARTMENT :
                  <span *ngIf="simulate_res['data'].department_emp_rep_same === 1">Same</span>
                  <span *ngIf="simulate_res['data'].department_emp_rep_different === 1">Different</span>
                  <span *ngIf="simulate_res['data'].department_emp_rep_different === 0 
                      && simulate_res['data'].department_emp_rep_same === 0">N/A
                  </span>
                </p> -->

                <p>Band :
                  <span *ngIf="simulate_res['data'].band_depertment === 1">Department Head </span>
                  <span *ngIf="simulate_res['data'].band_EXECUTIVE === 1">EXECUTIVE</span>
                  <span *ngIf="simulate_res['data'].band_MANAGERIAL === 1">MANAGERIAL</span>
                  <span *ngIf="simulate_res['data'].band_OPERATIONAL === 1">OPERATIONAL</span>
                  <span *ngIf="simulate_res['data'].band_STRATEGIC === 1">STRATEGIC</span>
                
                </p>


                <h5 class="category mt-4">REPORTING OFFICER DETAILS</h5>

                <p>R/O AGE : <span>{{simulate_res['data'].repo_office_age}}</span></p>
                <!-- <P>R/O EXPERIENCE IN CURRENT ROLE :
                  <span>{{simulate_res['data'].reporting_officer_experience_in_current_role_in_months}} Years</span></P> -->
                <P>R/O DURATION IN COMPANY :
                  <span>{{simulate_res['data'].reporting_officer_total_experience_months_in_mf}} Years</span></P>
                <P>R/O LANGUAGES KNOWN : <span>{{simulate_res['data'].repo_lang_count}}</span></P>
                <p>QUALIFICATION :
                  <span *ngIf="simulate_res['data'].repo_qualif_cat_post_grad === 1">Postgraduate</span>
                  <span *ngIf="simulate_res['data'].repo_qualif_cat_under_grad === 1">Undergraduate</span>
                  <span *ngIf="simulate_res['data'].repo_qualif_cat_grad === 1">Graduate</span>
                  <span *ngIf="simulate_res['data'].repo_qualif_cat_post_grad === 0 
                        && simulate_res['data'].repo_qualif_cat_under_grad === 0 
                        && simulate_res['data'].repo_qualif_cat_grad === 0">N/A</span>
                </p>

              </div>


              <div class="col-lg-6">

                <h5 class="category mt-4">ORGANIZATIONAL CHANGES</h5>

                <p>PROMOTION:
                  <span *ngIf="simulate_res['data'].promotion_category_2years === 1">promotion_category_<=2years</span>
                  <span *ngIf="simulate_res['data'].promotion_category_4years === 1">promotion_category_<=4years</span>
                  <span *ngIf="simulate_res['data'].promotion_category_9years === 1">promotion_category_<=9years</span>
                  <span *ngIf="simulate_res['data'].promotion_category_NA === 1">promotion_category_NA</span>
                </p>

                <!-- <P>EXTENSION OF PROBATION :
                  <span *ngIf="simulate_res['data'].extension_of_probation === 1">Yes</span>
                  <span *ngIf="simulate_res['data'].extension_of_probation === 0">No</span>
                </P> -->

                <h5 class="category mt-4">REWARDS</h5>

                <p>STAR PERFORMER PREVIOUS:
                  <span *ngIf="simulate_res['data'].star_performer === 1">Yes</span>
                  <span *ngIf="simulate_res['data'].star_performer === 0">No</span>
                 
                </p>
                <p>STAR PERFORMER PREVIOUS to PREVIOUS :
                  <span *ngIf="simulate_res['data'].star_prev_performer === 1">Yes</span>
                  <span *ngIf="simulate_res['data'].star_prev_performer === 0">No</span>
                </p>
                <p>GEM PERFORMER PREVIOUS:
                  <span *ngIf="simulate_res['data'].gem_performer === 1">Yes</span>
                  <span *ngIf="simulate_res['data'].gem_performer === 0">No</span>
                 
                  
                </p>
                <p>GEM PERFORMER PREVIOUS to PREVIOUS:
                 
                  <span *ngIf="simulate_res['data'].gem_prev_performer === 1">Yes</span>
                  <span *ngIf="simulate_res['data'].gem_prev_performer === 0">No</span>
                  
                </p>

                <h5 class="category mt-4">OTHERS</h5>

                <p>TRAINED :
                  <span *ngIf="simulate_res['data'].training_done === 1">Yes</span>
                  <span *ngIf="simulate_res['data'].training_done === 0">No</span>
                </p>

                <P>LEAVE TAKEN : <span>{{simulate_res['data'].no_of_days_previous_quarter}}</span></P>
                <P>LEAVE TAKEN PREVIOUS : <span>{{simulate_res['data'].no_of_days_prev_to_prev_quarter}}</span></P>

                <P>ANNUAL HIKE PERCENTAGE : <span>{{simulate_res['data'].annual_hike_percentage}}%</span></P>
               
                <!-- <P>MONTHLY COMPENSATION GROSS : <span>{{simulate_res['data'].monthly_compensation_gross_previous_quarter}}</span></P>
                <P>FIXED COMPONENT: <span>{{simulate_res['data'].fixed_component}}</span></P> -->

                <P id="no_of_contracts_id" *ngIf="model.department == 'RECIEVABLES'">NO. Of CONTRACTS : <span>{{simulate_res['data'].contract_prev_q}}</span></P>

                <p>DISCIPLINARY :
                  <span *ngIf="simulate_res['data'].dic_previous_quarter === 1">Yes</span>
                  <span *ngIf="simulate_res['data'].dic_previous_quarter === 0">No</span>
                  <span *ngIf="simulate_res['data'].dic_previous_quarter === null">N/A</span>
                  <!-- <span *ngIf="simulate_res['data'].dic_2018_q3_0 === 0 && simulate_res['data'].dic_2018_q3_yes === 0 ">N/A</span> -->
                </p>


                <p>PIP:
                  <span *ngIf="simulate_res['data'].pip_previous_quarter === 1">Yes</span>
                  <span *ngIf="simulate_res['data'].pip_previous_quarter === 0">No</span>
                  
                </p>
                
                <p>Gender:
                  <span *ngIf="simulate_res['data'].emp_gender_Female === 1">Female</span>
                  <span *ngIf="simulate_res['data'].emp_gender_Male === 1">Male</span>
                </p>
                
              </div>
              <h6 class="mt-3 text-center w-100">Probability :
                <span *ngIf="simulate_res['input_prediction'] === 'Low Attrition'" [ngStyle]="{'color':'#4ed54e'}">Low Attrition</span>
                <span *ngIf="simulate_res['input_prediction'] === 'High Attrition'" [ngStyle]="{'color':'#ff2828'}">High Attrition</span>

              </h6>
            </div>

            <div class="row mt-3 lime-container">
              <div class="col-lg-11 download-wrap lime-chart">
                <p id="parameters_heading">Parameters</p>
                <img title="Download csv" class="svgDownload" src="../../../assets/img/icons8-csv.svg"
                (click)="download_parameters_data($event)">
                <img src="../../../assets/img/jpg (1).svg" title="Download Image" class="jpegDownload"
                  (click)="dom_to_img($event,'parameters_chart')">
                <app-parameters-bar-chart [data]="limeChart_data_list_par"></app-parameters-bar-chart>
              </div>
            </div>
            <div class="row  mt-3">
              <div class="col download-wrap">
                <div class="line_chart_body">
            
                  <p id="roc_chart">SurvivalCurve</p>
                  <img src="../../../assets/img/jpg (1).svg" title="Download Image" class="jpegDownload"
                    (click)="dom_to_img($event,'survival_curve')">
                  <span>
                    <app-linechart [line_chart_data]="line_chart_data"></app-linechart>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
