<app-navbar></app-navbar>

<div class="container" style="padding-top:140px;">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <i class="fa fa-user input-icon" aria-hidden="true"></i>
                <input type="text" class="form-control input-default-style" [(ngModel)]="firstname" placeholder="Enter your first name">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <i class="fa fa-user input-icon" aria-hidden="true"></i>
                <input type="text" class="form-control input-default-style" [(ngModel)]="lastname" placeholder="Enter your last name">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input type="text" class="form-control input-default-style disabled" [(ngModel)]="email" disabled>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input type="text" class="form-control input-default-style disabled" [(ngModel)]="role" disabled>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group text-center">
                <button class="btn login-btn" (click)="update()">Update <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
    <h1>Change password</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <i class="fa fa-key input-icon" aria-hidden="true"></i>
                <input type="password" class="form-control input-default-style" [(ngModel)]="old_pwd" placeholder="Enter old password">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <i class="fa fa-key input-icon" aria-hidden="true"></i>
                <input type="password" class="form-control input-default-style" [(ngModel)]="new_pwd" placeholder="Enter new password">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group text-center">
                <button class="btn login-btn" (click)="changePwd()">Change <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>
