.login-box .form-group {
    position: relative;
}

.input-icon {
    position: absolute;
    right: 30px;
    margin-top: 16px;
    color:#ced4da;
}

.login-btn {
    background: #e31837;
    font-size: 14px;
    font-weight: bold;
    padding: 0px 0px;
    height: 50px;
    width: 100%;
    border-radius:50px;
    color:#fff;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: 1s;
}

h1 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 25px;
    padding-left: 15px;
    margin-top: 50px;
    border-left: 5px solid #e31837;
}

.login-btn i {
    transition: 1s;
    margin-left: 10px;
}

.login-btn:hover {
    box-shadow: 0px 10px 20px rgb(0, 0, 0, 0.4);
}

.login-btn:hover i {
    transform: translateX(10px);
}
