  <div class="box-content">
    <h5 id="heading_performece">Attrition By :</h5>
    <ol class="breadcrumb breaddata mt-3">
      <li *ngFor="let item of temp_dict; let i=index" value="item" (click)="databack($event, item)"
        [ngClass]="'breadcrumb-item active'">
        {{ item }}
      </li>
    </ol>
    <div class="loading">
      <div class="status">
        <img class="loading-img" src="assets/img/loadericon.svg" />
        <p class="no-data" hidden>InvalidSequence</p>
      </div>
    </div>
    <div class="treemap" #chartContainer></div>
  </div>