
.d3-tip {
	line-height: 1;
	/* font-weight: bold; */
	padding: 12px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 2px;
	z-index: 10000;
}
.card_prediction{
    border: 1px solid rgba(0,0,0,.125);
    text-align: center;
    padding: 8px 0px 20px 0px;
    font-family: openSans_semibold;
    height: 109px;
    color: #00000096;
    font-size: 16px
}


.card_prediction p{
    margin-bottom:0 !important; 
}

.heading-text{
    padding-bottom:15px;
}

.card_body_prediction .low_perform,
.card_body_prediction .high_perform{
    font-size: 29px;
    margin: 0px !important;
    font-family: openSans_semibold;
}

.card_body_prediction .low_perform{
    color: #ff2828;
}

.card_body_prediction .high_perform{
    color: #4ed54e
}
.sfilter {
    width:100;
    border-radius: 50px;
    font-family:openSans_regular;
  }



.parameter_card{
    border: 1px solid rgba(0,0,0,.125);
    width: 100%;
}



#heading_performece{
    font-size: 16px !important;
    font-weight: bold;
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 2px solid #e31837;
}

.box-content{
    position: relative;
    min-height: 348px;
    height: auto;
    border: 1px solid rgba(0,0,0,.125);
    overflow-x: auto;
    overflow-y: hidden;
    padding: 15px;
    background: #fff;
    border-radius: 4px;
}

.chart-treemap .node {
    border: solid 1px white;
    font: 10px sans-serif;
    line-height: 12px;
    overflow: hidden;
    position: absolute;
    text-indent: 2px;
}


.breaddata{
    background: rgb(230, 230, 230);
    padding:7px 10px !important;
    cursor: pointer;
    border-radius: 0px;
    margin-bottom: 5px !important;
}

h5{
    margin: 0px 10px 0px 0px;
    line-height: unset;
}

#heading_performece{
    font-family: openSans_semibold;
    font-size: 15px;
    color: rgb(24, 24, 24)
}

.ss{
    font-family: openSans_semibold;
    font-size: 15px;
    color: rgb(24, 24, 24)
}

.loading-img{
    margin-top: 20px;
}


/* width */
::-webkit-scrollbar {
    height: 7px;
    border: solid rgba(219, 219, 219, 0.336) 1px;
    background: rgba(219, 219, 219, 0.336);
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(229, 28, 58, 0.548); 
    height: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #E51C39; 
}

.prediction_row{
    text-align: center;
}

.model_health_box_text{

    font-weight: bold;
    font-size: 25px;
}
.card_body_prediction{
    font-weight: bold;

}
.high_perform{
    color: rgb(78, 213, 78);
}

.low_perform{
    color: #ff2828
}

.breadcrumb_class{
    cursor: pointer;
    margin-top: 11px;
}

.loading {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1;
    top: 0px;
    left: 0px;
}

.loading .status {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    opacity: 0.7;
}
