
<div class="text-center">
  <span class="mr-4" *ngIf="auc_hide"><span style="color: #4ed54e">AUC : </span><span>{{auc_a_value}}%</span></span>

</div>
<div id="lineCharts">
  <div class="loading">
      <div class="status">
          <img class="loading-img" src="assets/img/loadericon.svg" />
          <p class="no-data" hidden>No Data Available</p>
      </div>
  </div>
  <div class="chart line_chart" #chartContainer>
    <ngx-charts-line-chart
      (window:resize)="onResize()"
      [legend]=false
      [showXAxisLabel]=true
      [showYAxisLabel]=true
      [xAxis]=true
      [yAxis]=true
      [xAxisLabel]=xaxislabel
      [yAxisLabel]=yaxislabel
      [timeline]=false
      [showGridLines]=true
      [results]="data"
      [view]="view"
      *ngIf="plotGraph"
    >
    </ngx-charts-line-chart>
  </div>
</div>

  