<mat-spinner class="loader-spinner" color="warn" *ngIf="loaderactive"></mat-spinner>
<div class="bar-chart-parent">
    <ngx-charts-bar-vertical
        (window:resize)="onResize()"
        [legend]=false
        [showXAxisLabel]=true
        [showYAxisLabel]=true
        [xAxis]=true
        [yAxis]=true
        [xAxisLabel]="xaxislabel"
        [yAxisLabel]="yaxislabel"
        [results]="data"
        [animations]=true
        (select)="clickBar($event)"
        [view]="view"
        [customColors]="mycolorfn"
        *ngIf="plotGraph"
    ></ngx-charts-bar-vertical>
</div>