<app-navbar></app-navbar>
<div class="leftsidebar-container" *ngIf="loaderhidden"[@leftOpenClose]="leftSide">
    <div class="leftsidebar-container-loader" *ngIf="loaderactive">
        <mat-spinner class="loader-spinner" color="warn"></mat-spinner>
    </div>
    <div class="row" style="margin:0;">
        <div class="col-md-12">
            <div class="date-group-container">
                <i class="fa fa-exchange date-both-ways-symbol" aria-hidden="true"></i>
                <div class="sidebar-date-container">
                    <input class="form-control input-default-style" matInput [matDatepicker]="startdate" 
                    [min]="minDate" [max]="maxDate" [(ngModel)]="startDate" (dateChange)="getCustomStartDate($event.value)" placeholder="Start Date">
                    <mat-datepicker-toggle matSuffix [for]="startdate"></mat-datepicker-toggle>
                    <mat-datepicker #startdate></mat-datepicker>
                </div>
                <div class="sidebar-date-container">
                    <input class="form-control input-default-style" matInput [matDatepicker]="enddate" 
                    [min]="minDate" [max]="maxDate" [(ngModel)]="endDate" (dateChange)="getCustomEndDate($event.value)" placeholder="End Date">
                    <mat-datepicker-toggle matSuffix [for]="enddate"></mat-datepicker-toggle>
                    <mat-datepicker #enddate></mat-datepicker>
                </div>
            </div>
            <div class="sidebar-select-container" *ngFor="let select of sidebarDropdownSelectList; let i = index;">
                <div>
                    <mat-select-autocomplete 
                    class="autocomplete-select"
                    id="{{i}}"
                    [placeholder]="select.main_display_name"
                    [options]="select.main_data"
                    [multiple]='true'
                    [display]="'display'"
                    [value]="'value'"
                    [selectedOptions]="selectedOptions"
                    (selectionChange)="getSelectedOptions($event)"
                    (click)="getTypeOfDropdown(i);"
                    >
                    </mat-select-autocomplete>
                    <i class="fa fa-angle-down alternate-select-icon" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
    <button class="dropdown-reset-container-btn" title="Reset dropdown" (click)="resetDropdown()"><i class="fa fa-refresh dropdown-reset-btn" aria-hidden="true"></i></button>
    <button class="left-sidebar-submit-btn" (click)="sidebarSubmit()"> SUBMIT</button>
</div>




<div class="main-content-container">
    <app-descriptive *ngIf="activeTab == 0" [mainData]="mainDashboardData" [csvFilter]="csvFilterData"(pieRadioSwitch)="getPieChartSwitchValue($event)"></app-descriptive>
    <app-comparison *ngIf="activeTab == 2" [leftDropdownClick]="comparisonData"></app-comparison>
</div>
<app-predictive-nav *ngIf="activeTab == 1"></app-predictive-nav>
<app-loader *ngIf="activeTab == 3"></app-loader>


