<mat-dialog-content>
    <div class="add-user-from-container">
        <h1>Create New Role</h1>
        <div class="form-group">
            <i class="fa fa-user input-icon" aria-hidden="true"></i>
            <input type="text" class="form-control input-default-style" [(ngModel)]="role_name" placeholder="Enter Role Name">
        </div>
        <div class="form-group">
            <div class="select-role-dropdown-container">
                <i class="fa fa-angle-down alternate-select-icon" aria-hidden="true"></i>
                <mat-select-autocomplete 
                    class="autocomplete-select"
                    placeholder="Choose permission"
                    [options]="dropdowndata"
                    [multiple]='true'
                    [display]="'display'"
                    [value]="'value'"
                    (selectionChange)="dropdownChangeFn($event)"
                >
                </mat-select-autocomplete>
            </div>
        </div>
        <div class="form-group">
            <div class="select-role-dropdown-container">
                <i class="fa fa-angle-down alternate-select-icon" aria-hidden="true"></i>
                <mat-select-autocomplete 
                    class="autocomplete-select"
                    placeholder="Choose state"
                    [options]="statedropdowndata"
                    [multiple]='true'
                    [display]="'display'"
                    [value]="'value'"
                    (selectionChange)="statedropdownChangeFn($event)"
                >
                </mat-select-autocomplete>
            </div>
        </div>
        <div class="form-group">
            <div class="select-role-dropdown-container">
                <i class="fa fa-angle-down alternate-select-icon" aria-hidden="true"></i>
                <mat-select-autocomplete 
                    class="autocomplete-select"
                    placeholder="Choose Businessunit"
                    [options]="budropdowndata"
                    [multiple]='true'
                    [display]="'display'"
                    [value]="'value'"
                    (selectionChange)="budropdownChangeFn($event)"
                >
                </mat-select-autocomplete>
            </div>
        </div>
        <div class="form-group">
            <div class="select-role-dropdown-container">
                <i class="fa fa-angle-down alternate-select-icon" aria-hidden="true"></i>
                <mat-select-autocomplete 
                    class="autocomplete-select"
                    placeholder="Choose Bands"
                    [options]="banddropdown"
                    [multiple]='true'
                    [display]="'display'"
                    [value]="'value'"
                    (selectionChange)="banddropdownChangeFn($event)"
                >
                </mat-select-autocomplete>
            </div>
        </div>
        <div class="form-group text-center">
            <button class="btn add-user-form-btn" (click)="createRole()">Create <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
        </div>
    </div>
    <div class="msg_display">
        <i class="text-success text-edit"></i>
    </div>
</mat-dialog-content>
<mat-progress-bar mode="indeterminate" class="global-loader"></mat-progress-bar>