.ma-login-section-container {
    height: 100%;
    width: 100%;
    background: #f5f0e3;
}

.left-side-container {
    background: #333;
    width: 40%;
    height: 100%;
    float: left;
    background-image: url('../../../../assets/img/761\ [Converted].svg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: auto 70%;
}

.logo-container {
    position: relative;
    width: 95%;
    height: 200px;
    background: #fff;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 5% 95%, 5% 100%, 0% 100%);
}

.logo-first-layer-box {
    position: absolute;
    left: 0;
    width: 97%;
    height: 175px;
    background: #e31837;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 100%);
}

.logo-second-layer-box {
    position: absolute;
    left: 0;
    width: 95%;
    height: 135px;
    background: #fff;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 100%);
}

.logo-second-layer-box img {
    margin: 30px 0px 0px 50px;
}

.right-side-container {
    position: relative;
    width: 60%;
    height: 100%;
    float: right;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    margin: 0 auto;
    padding: 50px;
    background: #fff;
    width: 400px;
    box-shadow: -1px 0px 37px 1px rgba(201,201,201,1);
}

.login-box h1 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 25px;
    padding-left: 15px;
    border-left: 5px solid #e31837;
}

.login-box .form-group {
    position: relative;
}

.input-icon {
    position: absolute;
    right: 10px;
    margin-top: 16px;
    color:#ced4da;
}

.login-btn {
    background: #e31837;
    font-size: 14px;
    font-weight: bold;
    padding: 0px 0px;
    height: 50px;
    width: 100%;
    border-radius:50px;
    color:#fff;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: 1s;
}

.login-btn i {
    transition: 1s;
    margin-left: 10px;
}

.login-btn:hover {
    box-shadow: 0px 10px 20px rgb(0, 0, 0, 0.4);
}

.login-btn:hover i {
    transform: translateX(10px);
}

.login-box p {
    font-size: 14px;
    font-weight: bold;
    color: #e31837;
    text-decoration: underline;
    cursor: pointer;
    transition: 0.7s;
}

.login-box p:hover {
    color:#333;
}

/* Reset password */
.reset-pwd-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    margin: 0 auto;
    padding: 50px;
    background: #fff;
    width: 400px;
    box-shadow: -1px 0px 37px 1px rgba(201,201,201,1);
}

.reset-pwd-box h1 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 25px;
    padding-left: 15px;
    border-left: 5px solid #e31837;
}

.reset-pwd-box .form-group {
    position: relative;
}

.reset-btn {
    background: #e31837;
    font-size: 14px;
    font-weight: bold;
    padding: 0px 0px;
    height: 50px;
    width: 100%;
    border-radius:50px;
    color:#fff;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: 1s;
}

.reset-btn i {
    transition: 1s;
    margin-left: 10px;
}

.reset-btn:hover {
    box-shadow: 0px 10px 20px rgb(0, 0, 0, 0.4);
}

.reset-btn:hover i {
    transform: translateX(10px);
}

.reset-pwd-box p {
    font-size: 14px;
    font-weight: bold;
    color: #e31837;
    text-decoration: underline;
    cursor: pointer;
    transition: 0.7s;
}

.reset-pwd-box p:hover {
    color:#333;
}