<!-- login -->
<section class="ma-login-section-container">
    <div class="left-side-container" [@leftOpenClose]="leftSide">
        <div class="logo-container">
            <div class="logo-first-layer-box"></div>
            <div class="logo-second-layer-box">
            </div>
        </div>
    </div>
    <div class="right-side-container">
        <div class="login-box" [@rightOpenClose]="rightSide">
            <div class="row">
                <div class="col-md-12">
                    <h1>Log In</h1>
                    <div class="form-group">
                        <i class="fa fa-envelope input-icon" aria-hidden="true"></i>
                        <input type="email" class="form-control input-default-style" [(ngModel)]="emailID" placeholder="Enter your email ID">
                    </div>
                    <div class="form-group">
                        <i class="fa fa-key input-icon" aria-hidden="true"></i>
                        <input type="password" class="form-control input-default-style" [(ngModel)]="password" id="pwd" placeholder="Enter your password">
                    </div>
                    <div class="form-group text-center">
                        <button class="btn login-btn" (click)="login()">Log In <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                    </div>
                    <div class="form-group">
                        <!-- <p (click)="openResetPwd()">Reset Password ?</p> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="reset-pwd-box" [@resetOpenClose]="resetBox">
            <div class="row">
                <div class="col-md-12">
                    <h1>Reset Password</h1>
                    <div class="form-group">
                        <i class="fa fa-key input-icon" aria-hidden="true"></i>
                        <input type="email" class="form-control input-default-style" placeholder="Enter your new password" [(ngModel)]="resetPassword">
                    </div>
                    <div class="form-group text-center">
                        <button class="btn reset-btn" (click)="resetPwd()">Reset <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                    </div>
                    <div class="form-group">
                        <p (click)="closeResetPwd()"><i class="fa fa-chevron-left" aria-hidden="true"></i>&nbsp; Go Back To Login</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>