<mat-spinner class="loader-spinner" color="warn" *ngIf="loaderactive"></mat-spinner>
<div id="pie-chart-parent">
    <ngx-charts-pie-chart
        (window:resize)="onResize()"
        [view]="view"
        [results]="data"
        [legend]=false
        [labels]=true
        [customColors]="mycolorfn"
        [doughnut]=false
        *ngIf="plotGraph"
        >
    </ngx-charts-pie-chart>
</div>
