<!-- <app-navbar></app-navbar> -->

<div  class="leftsidebar-container" [@leftOpenClose]="leftSide">
  <div class="leftsidebar-container-loader" *ngIf="loaderactive">
      <mat-spinner class="loader-spinner" color="warn"></mat-spinner>
  </div>
  <div class="row" style="margin:0;">
      <div class="col-md-12">
    <div class="sidebar-select-container sss" *ngFor="let select of sidebarDropdownSelectList; let i = index;">
                <div>
                    <mat-select-autocomplete 
                    class="autocomplete-select"
                    id="{{i}}"
                    [placeholder]="select.main_display_name"
                    [options]="select.main_data"
                    [multiple]='true'
                    [display]="'display'"
                    [value]="'value'"
                    [selectedOptions]="selectedOptions"
                    (selectionChange)="getSelectedOptions($event)"
                    (click)="getTypeOfDropdown(i);"
                    >
                    </mat-select-autocomplete>
                    <i class="fa fa-angle-down alternate-select-icon" aria-hidden="true"></i>
                </div>
            </div>

      </div>
  </div>
  <button class="dropdown-reset-container-btn" title="Reset dropdown" (click)="resetDropdown()"><i class="fa fa-refresh dropdown-reset-btn" aria-hidden="true"></i></button>
  <button class="left-sidebar-submit-btn" (click)="sidebarSubmit()"> SUBMIT </button>

</div>

<div class="pred-nav-container">
  <div class="row">
    <div class="col-md-12">
      <div class="tab_set_class">
        <ngb-tabset type="pills">
            <ngb-tab title="Predictive">
                <ng-template ngbTabContent>
                  <app-predictve-part [filter_data]="FilterData" ></app-predictve-part>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="Simulation" class="simulation-nav">
                  <ng-template ngbTabContent>
                    <app-simulation></app-simulation>
        </ng-template>
        </ngb-tab>
          <ngb-tab title="Model Health">
            <ng-template ngbTabContent>
              <div class="template_class">
                <app-modelhealth></app-modelhealth>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>