.ss{
    border:1px solid rgba(0,0,0,.125);
    border-radius: 0px;
    width :100%;
    font-weight: bold;
}
.ss:hover{
    background-color: #E51C39; 
    color: white;
}

:host >>> .nav-item{
    width: 33.3%;
    color: black;
    /* color: white; */
    text-align: center;
    border:1px solid rgba(0,0,0,.125);
    border-radius: 0px;
}

:host >>> .nav-link{
    columns: black
    ;
}

:host >>> .nav-pills{
    width:100%;
    ;
}
:host >>> .nav-link.active{
    background-color: #E51C39;
    border-radius: 0px;
    color: white;
}
:host >>> .nav-link:hover{
    background-color: #E51C39;
    border-radius: 0px;
    color: white;

}

:host >>>  a.nav-link{

    color:black
}
.pred-nav-container{
    height: auto;
    overflow: hidden;
    width: calc(100% - 250px);
    margin-left: 250px;
    padding: 0px 25px 15px 25px;
}

.dropdown-reset-container-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #333;
    font-size: 14px;
    font-weight: bold;
    padding: 0px 0px;
    height: 50px;
    width: 70px;
    border: none;
    color: #fff;
    -webkit-transition: 1s;
    transition: 1s;
    z-index: 1000;
}

.dropdown-reset-container-btn i {
    -webkit-transition: 1s;
    transition: 1s;
}

.dropdown-reset-container-btn:hover i {
    transform: rotate(180deg);
}

@media only screen and (max-width: 450px) {

    :host >>> .nav{
      display: block !important;
    }

    :host >>> .nav-item{
        width: 100%;
        color: black;
        margin-bottom: 15px;
        text-align: center;
        border:1px solid rgba(0,0,0,.125);
        border-radius: 0px;
    }
    
  }


  .leftsidebar-container {
    position: fixed;
    top:120px;
    width: 250px;
    min-height: calc(100% - 120px);
    max-height: calc(100% - 120px);
    overflow: auto;
    background: #fff;
    box-shadow: 7px 0 10px -5px #c9c9c9;
    padding: 15px 0px 65px 0px;
    z-index:100;
}

.leftsidebar-container::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.leftsidebar-container::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.leftsidebar-container::-webkit-scrollbar-thumb
{
    background-color: rgba(0, 0, 0, 0.54);
    border-radius: 10px;
}

.leftsidebar-container-loader {
    position: fixed;
    top:120px;
    width: 250px;
    min-height: calc(100% - 120px);
    max-height: calc(100% - 120px);
    background: rgba(0,0,0,0.3);
    text-align: center;
    z-index:1001;
}


.loader-spinner {
    width: 40px !important;
    height: 40px !important;
    position: absolute;
    top: 50%;
    left: calc(50% - 20px);
    transform: translate(-50%, -50%);
}

.leftsidebar-container input {
    margin-bottom: 10px;
}

.date-group-container {
    position: relative;
}

.date-both-ways-symbol {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    padding: 12px 12px;
    border: 1px solid #ced4da;
    background: #fff;
    color:#e31837;
    z-index:1000;
    border-radius: 50%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.sidebar-date-container {
    position: relative;
}

.sidebar-select-container {
    position: relative;
    margin-bottom: 10px;
    height: 50px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.alternate-select-icon {
    position: absolute;
    right:23px;
    top:15px;
    color:rgba(0, 0, 0, 0.54);
}

.main-content-container {
    width: calc(100% - 250px);
    height: auto;
    overflow: hidden;
    margin-left: 250px;
    margin-top: 120px;
    padding-bottom: 15px;
}

.left-sidebar-submit-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #e31837;
    font-size: 14px;
    font-weight: bold;
    padding: 0px 0px;
    height: 50px;
    width: 250px;
    border: none;
    color: #fff;
    -webkit-transition: 1s;
    transition: 1s;
}

.left-sidebar-submit-btn i {
    -webkit-transition: 1s;
    transition: 1s;
    margin-left: 10px;
}

.left-sidebar-submit-btn:hover i {
    transform: translateX(10px);
}

