
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mahindra-attrition-primary: mat-palette($mat-indigo);
$mahindra-attrition-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$mahindra-attrition-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$mahindra-attrition-theme: mat-light-theme($mahindra-attrition-primary, $mahindra-attrition-accent, $mahindra-attrition-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($mahindra-attrition-theme);

/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif !important;
    background: #f5f0e3;
}

h1, h2, h3, h4, h5, p, span {
    font-family: 'Roboto Condensed', sans-serif !important;
}

.input-default-style {
    height: 50px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    color:#333;
    padding-right: 35px;
}

textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus
{
  box-shadow: none;
  border:1px solid #333;
}
button:focus, .btn:focus, .btn:active {
    box-shadow: none !important;
    outline: none;
}

::placeholder {
    color: #333 !important;
}

.no-padding {
    padding: 0px;
}

.no-padding-left {
    padding-left: 0px;
}

.no-padding-right {
    padding-right: 0px;
}

.ma-default-card {
    width: 100%;
    border-radius: 4px;
    background: #fff;
    margin-top: 15px;
    padding: 15px;
    border: 1px solid #ced4da;
}

.ma-default-card h2 {
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 2px solid #e31837;
    columns: #333333;
}

.ma-default-card-sm {
    height: auto;
    overflow: hidden;
}

.ma-default-card-lg {
    height: auto;
    overflow: hidden;
}

.mat-progress-bar-fill::after {
    background: #3958d2;
}

/* Tabs */
.mat-tab-header {
    border-bottom: none;
}

.mat-tab-label, .mat-tab-link {
    font-family: 'Roboto Condensed', sans-serif;
    color:#fff;
    opacity: 1 !important;
    font-size: 14px !important;
}

.mat-ink-bar {
    background-color: #e31837 !important;
    height: 2px !important;
}

.d3-tip {
	line-height: 1;
	/* font-weight: bold; */
	padding: 12px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 2px;
	z-index: 10000;
}
/* dropdown */
.mat-menu-panel{
    margin-left: 5px;
    min-width: 170px !important;
}

.mat-menu-item {
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
    border-bottom: 1px solid #ddd !important;
}

.mat-menu-item span {
    transition: 1s;
}

.mat-menu-item span i:last-child {
    position: absolute;
    right: 25px;
    top:17px;
    color:#333;
    transition: 1s;
}

.mat-menu-item:hover span {
    color:#e31837;
}

.mat-menu-item:hover span i:last-child {
    color:#333;
    transform: translateX(10px);
}

.mat-menu-item:last-child {
    border-bottom: none !important;
}

.mat-menu-item span i:first-child {
    color:#e31837;
    font-size: 14px;
}

/* date input */
.mat-datepicker-toggle {
    position: absolute;
    right: 10px;
    top:5px;
}

.mat-datepicker-toggle-active {
    color:#e31837;
}

/* select */
.mat-form-field {
    width: 100%;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif !important;
    color:#333;
}

.mat-select-arrow {
    opacity: 0;
}

.mat-form-field-underline {
    display: none !important;
}

.mat-option-text {
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: 14px;
}

.mat-select {
    font-family: 'Roboto Condensed', sans-serif !important;
    font-weight: bold !important;
    font-size: 14px;
}

.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float 
.mat-form-field-label, .mat-form-field-appearance-legacy.mat-form-field-can-float 
.mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
    margin-top: 5px;
    color: #e31837;
    font-weight: normal;
}

.mat-form-field-appearance-standard .mat-form-field-flex {
    padding: 0px 0px !important;
}

.mat-form-field-infix {
    padding: 0px 13px;
    height: 50px;
}

.mat-form-field-infix span {
    color: #333;
}

.mat-select-panel-wrap .mat-button-wrapper {
    display: none;
}

.box-select-all {
    line-height: 50px !important;
}

/* datatable.net */
.dataTables_wrapper .dataTables_filter input {
    border: none;
    height: 50px;
    width: 250px;
    border-radius: 50px;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #333;
}

.dataTables_wrapper .dataTables_filter input:focus {
    outline: none;
}

table.dataTable.display tbody tr td {
    position: relative;
    padding: 20px 15px !important;
}

.dataTables_wrapper .dataTables_paginate {
    margin-top: 30px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, 
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #e31837 !important;
    border: none;
    color:#fff !important;
    border-radius: 50%;
}

.table-filter-card .dataTables_filter input {
    border: none;
    height: 30px;
    width: 150px;
    border-radius: 30px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #333;
}


.table-filter-card table.dataTable.display tbody tr td {
    position: relative;
    padding: 0px !important;
    padding: 5px !important;
    font-size: 13px;
}

.table-filter-card .dataTables_filter label {
    font-size: 13px;
}

.table-filter-card .dataTables_length label {
    font-size: 13px;
}

.table-filter-card .dataTables_wrapper .dataTables_paginate {
    margin-top: 10px;
}

.table-filter-card .dataTables_wrapper .dataTables_info {
    font-size: 13px;
}

.table-filter-card .dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0px;
}

/* switch */
.checkbox-switch input[type="checkbox"] {
    width: 0;
    height: 0;
    position: absolute;
    top: -9999px;
    right: -9999px;
    overflow: hidden;
}
  
.checkbox-switch {
    margin: 0;
    padding: 0;
    border: 0;
}

.checkbox-switch:after {
    content: "";
    display: table;
    clear: both;
}
.checkbox-switch input[type="checkbox"] + label {
    -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.checkbox-switch input[type="checkbox"] + label:before {
    position: absolute;
    top:25px;
    width: 2.3rem;
    height: 1.3rem;
    display: inline-block;
    content: '•';
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    text-align: left;
    font-size: 2.25rem;
    line-height: 1.1rem;
    overflow: hidden;
    color: black;
    border: 2px solid black;
    border-radius: 0.65rem;
    margin: 0 auto;
}
.checkbox-switch input[type="checkbox"] + label:after {
    display: none;
}
.checkbox-switch input[type="checkbox"]:checked + label:before {
    border-color: #00AC64;
    background: #00AC64;
    text-align: right;
    color: white;
}
.checkbox-switch input[type="checkbox"] + label:active:before, 
.checkbox-switch input[type="checkbox"]:checked + label:active:before {
    border-color: #808B8D;
    background: #808B8D;
    color: white;
}

.checkbox-right {
    margin: 0;
}


.table-custom-btn {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    border: none;
    color:#fff;
    margin-left: 5px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.table-edit-btn {
    background: #3958d2;
}

.table-dlt-btn {
    background: #e31837;
}

.table-pwd-btn {
    background: #ff9117;
}

/* spinner */
.mat-progress-spinner svg {
    width:40px !important;
    height: 40px !important;
}

/* Treemap */
.treemap-label {
    font-size: 11px;
    font-weight: 700;
}

.treemap-val {
    font-size: 12px !important;
}

.breadcrumb-list {
    margin-left: 5px;
    margin-top: 5px;
    border: none;
    background: transparent;
    color:#e31837;
}

// .treemap-label {}

.loading-message .mat-progress-spinner svg {
    width: 15px !important;
    height: 15px !important;
}


/* radio button */
.mat-radio-label {
    margin-left: 10px;
}

.mat-radio-button {
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: 12px;
}

/* snack bar */
.mat-snack-bar-container {
    color:#fff !important;
}

/* download btn */
.download-btn {
    color:#e31837;
    float: right;
    cursor: pointer;
    font-size: 17px;
}

.download-btn i:first-child {
    margin-right: 10px;
}

#hidden-grade-graph .ngx-charts {
    width: 800px !important;
    height: 600px !important;
}

/* color stack */
$primary-color: #e31837;
$background-color-black: #333;


.card_prediction{
    height: 122px;
    border: 1px solid rgba(0,0,0,.125);
    text-align: center;
    padding: 8px 0px 20px 0px;
    background: #fff;
}

.card_body_prediction{
    text-align: center;
    margin-top: 0px;
    font-family: openSans_semibold;
    color: #00000096;
    font-size: 16px
}

.model_health_box_text{
    padding-top:15px;
    color: #007bff;
    font-size: 29px;
    margin: 0px !important;
    font-family: openSans_semibold;
}

.line_chart_body{
    border: 1px solid rgba(0,0,0,.125);
    font-family: openSans_regular;
    font-size: 15px;
    min-height: 520px;
    height: auto;
    position: relative;
    background: #fff;
}

.card-heading{
    text-align: center;
    height: 41px;
    padding-top: 6px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.nav-pills .nav-link {
    font-size: 14px;
    color:#333;
}

.nav-pills .nav-link.active {
    background: transparent;
    border-bottom: 2px solid #e31837;
    border-radius: 0px;
    color:#333;
    font-size: 14px;
}


.top_header{
    margin-top: 32px;
    margin-bottom: 16px;
}


.ss{
    border:1px solid rgba(0,0,0,.125);
    border-radius: 0px;
    width :100%;
    font-weight: bold;
}
.ss:hover{
    background-color: #E51C39; 
    color: white;
}

.breaddata{
    background: rgb(230, 230, 230);
    padding:7px 10px !important;
    cursor: pointer;
    border-radius: 0px;
    margin-bottom: 5px !important;
}
.breadcrumb_class{
    cursor: pointer;
    margin-top: 11px;
}

.text_predict{
  color: black;
  margin:20px 0px;
  font-family: openSans_bold;
  font-size: 20px;
  padding-left: 10px;
  border-left: #E51C39 solid 5px;
}

.pred_year_q{
    color:#E51C39;
}

.first_row{
    margin-top:1px;
    
}
.btn:active{
    background-color: #E51C39; 
    color: white;
}

.button_row{
    margin-top: 20px;
}
.card{
    border-radius: 0px;
}
.container .row{

    margin-right: -45px;
}

#roc_chart{
    margin-top: 8px;
    margin-bottom: 20px;
    padding: 0px !important;
    color: #00000096;
    background-color: transparent !important;
    text-align: center;
    font-size: 16px !important;
    border-bottom: none;
    font-family: openSans_semibold;
}

.jpegDownload{
    position: absolute;
    right: 9px;
    top: 10px;
    cursor: pointer;
    height: 18px;
}


.color-def-mat-menu {
    height: auto !important;
    max-width: 350px !important;
    margin-left: -100px;
    overflow: hidden;
}

.color-def-mat-menu .mat-menu-content {
    width: 300px;
}

.color-def-mat-menu .mat-menu-item {
    height: auto !important;
    overflow: hidden;
    line-height: 22px !important;
}

.image-table {
    background: #fff;
    height: auto;
    overflow: hidden;
    font-size: 12px;
}

#hidden-grade-graph .ngx-charts {
    width: 800px !important;
    height: 600px !important;
}

#hidden-grade-graph .ngx-charts .bar-chart {
    width: 800px !important;
    height: 600px !important;
}

.tab_set_class .nav-pills {
    width: 100%;
    border-radius: 4px;
    background: #fff;
    margin-top: 15px;
    padding: 15px;
    border: 1px solid #ced4da;
}