<mat-spinner class="loader-spinner" color="warn" *ngIf="loaderactive"></mat-spinner>
<div class="grouped-bar-chart-parent">
    <ngx-charts-bar-vertical-2d
        (window:resize)="onResize()"
        [legend]=false
        [showXAxisLabel]=true
        [showYAxisLabel]=true
        [scheme]=scheme
        [xAxis]=true
        [yAxis]=true
        [xAxisLabel]="xaxislabel"
        [yAxisLabel]="yaxislabel"
        [results]="data"
        [animations]=true
        [view]="view"
        *ngIf="plotGraph && data.length > 0"
    ></ngx-charts-bar-vertical-2d>
</div>

<div class="grouped-bar-chart-for-grade">
    <ngx-charts-bar-vertical-2d
            (window:resize)="onResize()"
            [legend]=false
            [showXAxisLabel]=true
            [showYAxisLabel]=true
            [xAxis]=true
            [yAxis]=true
            [scheme]=scheme
            [xAxisLabel]="xaxislabel"
            [yAxisLabel]="yaxislabel"
            [results]="data2"
            [animations]=true
            [view]="view2"
            *ngIf="plotGraph && data2.length > 0"
    ></ngx-charts-bar-vertical-2d>
</div>